@import '../common/style/base.less';

@fab-shadow: var(--td-fab-shadow, @shadow-2);

.@{prefix}-fab {
  position: fixed;

  &__button {
    box-shadow: @fab-shadow;
  }

  &__draggable {
    position: fixed;
  }

  &__collapsed {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px 0 0 16px;
    border: 1px solid @component-border;
    border-right: 0;
    background: @bg-color-container;
    box-shadow: @fab-shadow;
    box-sizing: border-box;
  }
}
