var getTagClass = function (props) {
  var baseClass = props.classPrefix || '';
  var prefix = props.classBasePrefix || '';
  var size = props.size || 'medium';
  var shape = props.shape || 'square';
  var theme = props.theme || 'default';
  var variant = props.variant || 'dark';
  var closable = props.closable || false;
  var disabled = props.disabled || false;
  var tagClass = [
    baseClass,
    baseClass + '--theme-' + theme,
    baseClass + '--variant-' + variant,
    closable ? baseClass + '--closable ' + prefix + '-is-closable' : '',
    disabled ? baseClass + '--disabled ' + prefix + '-is-disabled' : '',
    baseClass + '--size-' + size,
    shape === 'shape' ? baseClass + '--square' : '',
    shape === 'round' ? baseClass + '--round' : '',
    shape === 'circle' ? baseClass + '--circle' : '',
    shape === 'half-circle' ? baseClass + '--half-circle' : '',
  ];
  return tagClass.join(' ');
};
var getTagStyle = function (maxWidth) {
  if (!maxWidth) {
    return '';
  }
  var width = !isNaN(maxWidth) ? maxWidth + 'px' : maxWidth;
  return 'max-width:' + width + ';';
};
var getIconSize = function(size) {
  var sizeMap = {
    'small': '12px',
    'medium': '16px',
    'large': '20px'
  };
  return sizeMap[size];
}
module.exports.getTagClass = getTagClass;
module.exports.getTagStyle = getTagStyle;
module.exports.getIconSize = getIconSize;
