page {
  background: #fff;
}

page .demo-block__oper {
  margin: 0 32rpx;
}

.tdesign-demo-popup {
  .demo-title {
    margin-bottom: 48rpx;
    font-size: 32rpx;
    font-weight: 500;
  }

  .t-button + .t-button {
    margin-left: 16rpx;
  }

  .t-button {
    margin-top: 20rpx;
  }

  .block {
    width: 176rpx;
    height: 176rpx;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;

    &--border {
      border: 1rpx solid #d8d8d8;
    }

    &--left,
    &--right {
      width: 87vw;
      height: 100vh;
      border-radius: 0;
    }

    &--middle {
      border-radius: 16rpx;
    }

    &--top {
      width: 100vw;
      height: 35vh;
      border-bottom-left-radius: 16rpx;
      border-bottom-right-radius: 16rpx;
    }

    &--bottom {
      width: 100vw;
      height: 35vh;
      border-top-left-radius: 16rpx;
      border-top-right-radius: 16rpx;
    }
  }
}
