@import '../common/style/base.less';



.t-qrcode {
  position: relative;
  display: flex;
  
  &--borderless {
    border: none;
    border-radius: 0;
  }
  
  &--bordered {
    border: 1rpx solid #DCDCDC;
    border-radius: 6rpx;
  }
}