// @import '../common/style/index.less';

.t-image__mask {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  color: #ccc;
}

// .t-image-icon {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: 100%;
//   font-size: inherit;
// }

.t-image-common {
  width: 100%;
  height: 100%;
}

.t-image-loading-text {
  width: 0px;
  height: 0px;
}
