@import '../common/style/index.less';

@picker: ~'@{prefix}-picker';
@item: ~'@{picker}-item';
@picker-group-height: var(--td-picker-group-height, 400rpx);
@picker-item-height: var(--td-picker-item-height, 80rpx);
@picker-item-color: var(--td-picker-item-color, @font-gray-2);
@picker-item-active-color: var(--td-picker-item-active-color, @font-gray-1);

:host {
  display: flex;
  // padding: 0 40rpx;
}

.@{item} {
  &__group {
    height: @picker-group-height;
    overflow: hidden;
    flex: 1;
    z-index: 1;
    position: relative;
  }

  &__wrapper {
    padding: 144rpx 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
  }

  &__accessible {
    position: relative;
    // top: calc(@picker-item-height * -1);
    top: 0;
    width: 100%;
    height: 100%;
    // pointer-events: none;
    opacity: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-bottom: 1px;

    &--current {
      width: 100%;
      height: 100%;
      flex: 1;
      text-overflow: ellipsis;
    }
    &--button {
      width: 100%;
      height: 100%;
      flex: 2;
      text-overflow: ellipsis;
    }
  }

  &__item {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: @picker-item-height;
    line-height: @picker-item-height;
    color: @picker-item-color;

    &--active {
      color: @picker-item-active-color;
      font-weight: 600;
    }
  }
}
