@import '../src/common/style/_variables.less';

page {
  background: #f6f6f6; // 和设计师确认过，统一改成这个颜色
}

.demo {
  padding-bottom: 56rpx;
  // padding-bottom: env(safe-area-inset-bottom, 28px); 小程序真机渲染有bug
  // padding-bottom: constant(safe-area-inset-bottom, 28px);

  &-title {
    font-size: 48rpx;
    font-weight: 700;
    line-height: 64rpx;
    margin: 48rpx 32rpx 0;
    color: @font-gray-1;
  }

  &-desc {
    font-size: 28rpx;
    color: @font-gray-2;
    margin: 16rpx 32rpx 0;
    line-height: 44rpx;
  }
}
