@import '../src/common/style/_variables.less';

page {
  --td-navbar-bg-color: #fff;
  --td-navbar-title-font-weight: 400;
  --td-navbar-title-font-size: 28rpx;
  --td-navbar-left-arrow-size: 56rpx;
  --td-navbar-color: black;
}

@media (prefers-color-scheme: dark) {
  page {
    --td-navbar-bg-color: #181818;
    --td-navbar-color: white;
  }
}

.demo {
  padding-bottom: 56rpx;

  &-title {
    font-size: 48rpx;
    font-weight: 700;
    line-height: 64rpx;
    margin: 48rpx 32rpx 0;
    // color: @font-gray-1;
    color: var(--bg-color-demo-title);
  }

  &-desc {
    font-size: 28rpx;
    // color: @font-gray-2;
    color: var(--bg-color-demo-desc);
    margin: 16rpx 32rpx 0;
    line-height: 44rpx;
  }
}
