function getPopupStyles(zIndex) {
  var zIndexStyle = zIndex ? 'z-index:' + zIndex + ';' : '';
  return zIndexStyle;
}

function onContentTouchMove (e) {
  if (e.target.dataset.prevention) {
    return false;
  };
}

module.exports = {
  getPopupStyles: getPopupStyles,
  onContentTouchMove: onContentTouchMove
};
