@import '../common/style/index.less';

@result-title-font-size: @font-size-l;
@result-title-line-height: @font-size * 2.8;
@result-title-color: rgba(0, 0, 0, 0.9);

@result-description-font-size: @font-size * 1.4;
@result-description-line-height: @font-size * 2.2;
@result-description-color: rgba(0, 0, 0, 0.6);

@result-icon-default-color: #0052d9;
@result-icon-success-color: #00a870;
@result-icon-warning-color: #ed7b2f;
@result-icon-error-color: #e34d59;

.@{prefix}-result {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    line-height: var(--td-result-title-line-height, @result-title-line-height);
    font-size: var(--td-result-title-font-size, @result-title-font-size);
    font-weight: 700;
    color: var(--td-result-title-color, @result-title-color);
  }

  &__thumb + &__title:not(:empty) {
    margin-top: var(--td-result-title-margin-top, @spacer);
  }

  &__description {
    text-align: center;
    color: var(--td-result-description-color, @result-description-color);
    font-size: var(--td-result-description-font-size, @result-description-font-size);
    line-height: var(--td-result-description-line-height, @result-description-line-height);
  }

  &__title + &__description:not(:empty) {
    margin-top: var(--td-result-description-margin-top, @spacer * 1.5);
  }

  // theme
  &--theme {
    &-default {
      color: var(--td-result-icon-default-color, @result-icon-default-color);
    }

    &-success {
      color: var(--ts-result-icon-success-color, @result-icon-success-color);
    }

    &-warning {
      color: var(--ts-result-icon-warning-color, @result-icon-warning-color);
    }

    &-error {
      color: var(--td-result-icon-error-color, @result-icon-error-color);
    }
  }
}
