dist
miniprogram_dist

_wechatide
_example
!packages/components/**/_example/
!packages/pro-components/**/_example/
!packages/tdesign-uniapp/**/_example/
!packages/tdesign-uniapp-chat/**/_example/

packages/tdesign-miniprogram/example/pages/*
!packages/tdesign-miniprogram/example/pages/gulp-error
!packages/tdesign-miniprogram/example/pages/home

packages/tdesign-miniprogram/test/e2e
packages/tdesign-miniprogram/test/unit
packages/tdesign-miniprogram/test/unit-virtualHost

packages/tdesign-uniapp/example/src/_tdesign
packages/tdesign-uniapp/example/src/_tdesign-raw/
packages/tdesign-uniapp/example/src/pages-more/
packages/tdesign-uniapp/npm_dist/
packages/tdesign-uniapp-chat/npm_dist/

.DS_Store
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
