@import '../common/index.less';

@switch-active-color: @primary-color;
@switch-active-color--disabled: #96BBF8;
@switch-inactive-color: rgba(0, 0, 0, .26);
@switch-inactive-color--disabled: #E7E7E7;

@switch-width: 88rpx;
@switch-height: 48rpx;

@switch-dot-size: 40rpx;
@switch-dot-pos-left: 5rpx;
@switch-dot-pos-top: 4rpx;

@swtich-label-font-size: 32rpx;
@switch-label-color: @text-placeholder-color;