// 部分特殊处理的组件级 token（纯浅色模式，不含 media query 包裹）
page,
.page {
  --td-picker-transparent-color: rgba(255, 255, 255, 0);

  --td-switch-dot-disabled-color: var(--td-font-white-1);
  --td-switch-loading-color: var(--td-brand-color);
}
