page {
  background-color: var(--td-bg-color-page);
}

.demo {
  padding-bottom: 32rpx;
}

.list-demo {
  .cell {
    width: 100%;
    text-align: center;
  }

  .custom-error {
    font-size: 28rpx;
    color: var(--td-text-color-placeholder);
    text-align: center;
    padding-top: 32rpx;
  }

  .custom-error text {
    color: var(--td-brand-color);
  }

  .t-button {
    margin: 0 32rpx 32rpx;
    width: calc(100% - 64rpx);
  }
}
