page {
  background: #f9f9f9;

  .button-group {
    margin-top: 32rpx;

    &-item {
      margin-bottom: 32rpx;

      .t-class-button {
        font-size: 32rpx;
      }
    }
  }

  .flex {
    display: flex;
  }

  // 覆盖skeleton组件样式
  .t-skeleton__row {
    background-color: #eee;
  }

  .skeletion-content {
    justify-content: space-between;
    margin: 0 24rpx;
    flex-wrap: wrap;
    padding-bottom: 32rpx;
  }

  .skeletion-item {
    padding: 0;
    margin-bottom: 32rpx;
  }

  .skeletion-row {
    border-radius: 16rpx;
  }
}
