page {
  background-color: #fff;
}

.button-group {
  margin: 0 16rpx * 2;
}
.button-group-item {
  margin-bottom: 12rpx * 2;
}

.placeholder {
  margin: 16rpx * 2 12rpx * 2;
  height: 2000rpx;
}
.flex {
  display: flex;
}
.skeletion-content {
  justify-content: space-between;
  flex-wrap: wrap;
}
.skeletion-item {
  padding: 0 !important;
  margin-top: 32rpx;
}

// template title+dsc less
@import url(../../../common/style/miniprogram/index.less);
.a-template {
  &-info {
    padding: 0 @spacer-2 @spacer-3;
  }

  &-content {
    margin: @spacer-3 0 @spacer-5;
  }

  .title {
    opacity: 1;
    font-size: @font-size-l;
    color: rgba(0, 0, 0, 0.9);
    font-family: @font-family-medium;
    line-height: 28rpx * 2;
  }

  .desc {
    margin-top: @spacer / 2;
    opacity: 1;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12rpx * 2;
    font-family: @font-family;
    line-height: 20rpx * 2;
  }
}
.template-item {
  &-info {
    padding: 0 @spacer-2 @spacer-2;
  }
  .template-info {
  }
  .title {
    opacity: 1;
    font-size: 16rpx * 2;
    color: rgba(0, 0, 0, 0.9);
    font-family: @font-family-medium;
    line-height: 24rpx * 2;
  }

  .desc {
    margin-top: @spacer / 2;
    opacity: 1;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12rpx * 2;
    font-family: @font-family;
    line-height: 20rpx * 2;
  }
}
