@import '../common/style/base.less';

@form: ~'@{prefix}-form';

// Form 变量定义
@form-bg-color: var(--td-form-bg-color, @bg-color-container);
@form-padding: var(--td-form-padding, 0);
@form-border-radius: var(--td-form-border-radius, 0);
@form-readonly-bg-color: var(--td-form-readonly-bg-color, @bg-color-secondarycontainer);

.@{form} {
  position: relative;
  width: 100%;
  background-color: @form-bg-color;
  padding: @form-padding;
  border-radius: @form-border-radius;
  box-sizing: border-box;
  min-height: 100%;

  // 禁用状态
  &--disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
  }

  // 只读状态
  &--readonly {
    background-color: @form-readonly-bg-color;
  }
}
