@import '../common/style/index.less';

@checkbox: ~'@{prefix}-checkbox';

@checkbox-icon-size: var(--td-checkbox-icon-size, 48rpx);
@checkbox-font-size: var(--td-checkbox-font-size, 32rpx);
@checkbox-title-line-height: var(--td-checkbox-title-line-height, 48rpx);
@checkbox-description-line-height: var(--td-checkbox-description-line-height, 44rpx);
@checkbox-vertical-padding: var(--td-checkbox-vertical-padding, 32rpx);
@checkbox-bg-color: var(--td-checkbox-bg-color, @bg-color-block);
@checkbox-border-color: var(--td-checkbox-border-color, @gray-color-3);
@checkbox-title-color: var(--td-checkbox-title-color, @font-gray-1);
@checkbox-title-disabled-color: var(--td-checkbox-title-disabled-color, @font-gray-4);
@checkbox-description-color: var(--td-checkbox-description-color, @font-gray-2);
@checkbox-description-disabled-color: var(--td-checkbox-description-disabled-color, @font-gray-4);
@checkbox-icon-color: var(--td-checkbox-icon-color, @gray-color-4);
@checkbox-icon-disabled-color: var(--td-checkbox-icon-disabled-color, @primary-color-3);
@checkbox-icon-disabled-bg-color: var(--td-checkbox-icon-disabled-bg-color, @gray-color-2);
@checkbox-icon-checked-color: var(--td-checkbox-icon-checked-color, @primary-color);
@checkbox-tag-active-bg-color: var(--td-checkbox-tag-active-bg-color, @primary-color-1);
@checkbox-tag-active-color: var(--td-checkbox-tag-active-color, @primary-color);

.@{checkbox} {
  display: inline-flex;
  vertical-align: middle;
  position: relative;
  font-size: @checkbox-font-size;
  background: @checkbox-bg-color;

  &:focus {
    outline: 0;
  }

  &--block {
    display: flex;
    padding: @checkbox-vertical-padding;
  }

  &--right {
    flex-direction: row-reverse;
  }

  .limit-title-row {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .image-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__icon-left {
    margin-right: 20rpx;
    width: 40rpx;
  }

  &__icon-right {
    right: 0px;
    display: contents;
    .image-center();
  }

  &__icon-image {
    width: @checkbox-icon-size;
    height: @checkbox-icon-size;
    vertical-align: top;
  }

  &__icon {
    position: relative;
    display: block;
    width: @checkbox-icon-size;
    height: @checkbox-icon-size;
    color: @checkbox-icon-color;
    font-size: @checkbox-icon-size;

    &:empty {
      display: none;
    }

    &--checked {
      color: @checkbox-icon-checked-color;
    }

    &--disabled {
      cursor: not-allowed;
      color: @checkbox-icon-disabled-color;
    }

    &--left {
      margin-right: 16rpx;
    }

    &-circle {
      width: 84rpx;
      height: 84rpx;
      border: 3px solid @checkbox-icon-color;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.5);
      box-sizing: border-box;

      &--disabled {
        background: @checkbox-icon-disabled-bg-color;
      }
    }

    &-rectangle {
      width: 72rpx;
      height: 72rpx;
      border: 3px solid @checkbox-icon-color;
      border-radius: 4rpx;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.5);
      box-sizing: border-box;

      &--disabled {
        background: @checkbox-icon-disabled-bg-color;
      }
    }

    &-line {
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 5rpx;
        border-radius: 2rpx;
        background: @checkbox-icon-checked-color;
        transform-origin: top center;
      }

      &:before {
        height: 16rpx;
        left: 8rpx;
        top: 22rpx;
        transform: rotate(-45deg);
      }

      &::after {
        height: 26rpx;
        right: 8rpx;
        top: 14rpx;
        transform: rotate(45deg);
      }

      &--disabled {
        &::before,
        &::after {
          background: @checkbox-icon-disabled-color;
        }
      }
    }
  }

  &__content {
    flex: 1;
  }

  &__title {
    color: @checkbox-title-color;
    line-height: @checkbox-title-line-height;
    .limit-title-row();

    &--disabled {
      color: @checkbox-title-disabled-color;
    }
  }

  &__description {
    color: @checkbox-description-color;
    .limit-title-row();
    font-size: 28rpx;
    line-height: @checkbox-description-line-height;

    &--disabled {
      color: @checkbox-description-disabled-color;
    }
  }

  &__title + &__description:not(:empty) {
    margin-top: 8rpx;
  }

  &__border {
    position: absolute;
    bottom: 0;
    left: 96rpx;
    right: 0;
    height: 1px;
    background: @checkbox-border-color;
    transform: scaleY(0.5);

    &--right {
      left: 32rpx;
    }
  }

  &--tag {
    font-size: 28rpx;
    padding-top: 16rpx;
    padding-bottom: 16rpx;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 12rpx;

    &.@{checkbox}--checked {
      color: @checkbox-tag-active-color;
      background-color: @checkbox-tag-active-bg-color;
    }

    .@{checkbox}__title--checked {
      color: @checkbox-tag-active-color;
    }

    .@{checkbox}__content {
      margin-right: 0;
    }
  }
}
