var changeNumToStr = function (arr) {
  return arr.map(function (item) {
    return typeof item === 'number' ? item + 'rpx' : item;
  });
};

var getMessageStylesOffset = function (props) {
  var arr = changeNumToStr(props.offset);
  var styleOffset = '';
  styleOffset += 'top:' + arr[0] + ';';
  styleOffset += 'right:' + arr[1] + ';';
  styleOffset += 'left:' + arr[1] + ';';
  return styleOffset;
};

module.exports.getMessageStylesOffset = getMessageStylesOffset;
