page {
  background-color: #fff;
}

.demo {
  .demo-title {
    margin-top: 48rpx;
  }

  .demo-desc {
    margin-top: 16rpx;
  }
}

.loading-container-flex {
  display: flex;
  align-items: center;
  margin: 36rpx 32rpx;
  font-size: 24rpx;

  t-loading {
    min-width: 20%;
    margin-right: 40rpx;
    display: flex;
  }
}

.loading-container-flex-column {
  display: block;
  margin-left: 32rpx;
  font-size: 24rpx;

  t-loading {
    display: flex;
    margin-top: 32rpx;
  }
}

.loading-style {
  display: flex;
  margin: 36rpx 32rpx;
  font-size: 24rpx;
}

.box {
  margin: 0 32rpx;
}

.t-slider__container {
  margin: 0 32rpx;
}

.t-switch__label {
  margin-right: 0px !important;
}

.progress-btn {
  display: block;
  margin-top: 32rpx;
}

.text-info {
  margin-left: 24rpx;
  color: rgba(0, 0, 0, 0.4);
}

.text-m {
  font-size: 28rpx;
}

.text-l {
  font-size: 32rpx;
}

.indicator-blue {
  color: #0052d9;
}

.indicator-black {
  color: #000000 !important;
}

.text-blue {
  color: #0052d9;
}

.slider-container {
  display: flex;
  align-items: center;
  width: 718rpx;
  padding-left: 32rpx;

  .slider-class {
    flex-grow: 1;
  }
}
