@icons: {
  accessibility-filled: '\E001';
  accessibility: '\E002';
  activity-filled: '\E003';
  activity: '\E004';
  add-and-subtract: '\E005';
  add-circle-filled: '\E006';
  add-circle: '\E007';
  add-rectangle-filled: '\E008';
  add-rectangle: '\E009';
  add: '\E00A';
  address-book-filled: '\E00B';
  address-book: '\E00C';
  adjustment-filled: '\E00D';
  adjustment: '\E00E';
  airplay-wave-filled: '\E00F';
  airplay-wave: '\E010';
  alarm-add-filled: '\E011';
  alarm-add: '\E012';
  alarm-filled: '\E013';
  alarm-off-filled: '\E014';
  alarm-off: '\E015';
  alarm: '\E016';
  align-top: '\E017';
  align-vertical: '\E018';
  alpha: '\E019';
  analytics-filled: '\E01A';
  analytics: '\E01B';
  anchor: '\E01C';
  angry-filled: '\E01D';
  angry: '\E01E';
  animation-1-filled: '\E01F';
  animation-1: '\E020';
  animation-filled: '\E021';
  animation: '\E022';
  anticlockwise-filled: '\E023';
  anticlockwise: '\E024';
  api: '\E025';
  app-filled: '\E026';
  app: '\E027';
  apple-filled: '\E028';
  apple: '\E029';
  application-filled: '\E02A';
  application: '\E02B';
  architecture-hui-style-filled: '\E02C';
  architecture-hui-style: '\E02D';
  archway-1-filled: '\E02E';
  archway-1: '\E02F';
  archway-filled: '\E030';
  archway: '\E031';
  arrow-down-circle-filled: '\E032';
  arrow-down-circle: '\E033';
  arrow-down-rectangle-filled: '\E034';
  arrow-down-rectangle: '\E035';
  arrow-down: '\E036';
  arrow-left-circle-filled: '\E037';
  arrow-left-circle: '\E038';
  arrow-left-down-circle-filled: '\E039';
  arrow-left-down-circle: '\E03A';
  arrow-left-down: '\E03B';
  arrow-left-right-1: '\E03C';
  arrow-left-right-2: '\E03D';
  arrow-left-right-3: '\E03E';
  arrow-left-right-circle-filled: '\E03F';
  arrow-left-right-circle: '\E040';
  arrow-left-up-circle-filled: '\E041';
  arrow-left-up-circle: '\E042';
  arrow-left-up: '\E043';
  arrow-left: '\E044';
  arrow-right-circle-filled: '\E045';
  arrow-right-circle: '\E046';
  arrow-right-down-circle-filled: '\E047';
  arrow-right-down-circle: '\E048';
  arrow-right-down: '\E049';
  arrow-right-up-circle-filled: '\E04A';
  arrow-right-up-circle: '\E04B';
  arrow-right-up: '\E04C';
  arrow-right: '\E04D';
  arrow-triangle-down-filled: '\E04E';
  arrow-triangle-down: '\E04F';
  arrow-triangle-up-filled: '\E050';
  arrow-triangle-up: '\E051';
  arrow-up-circle-filled: '\E052';
  arrow-up-circle: '\E053';
  arrow-up-down-1: '\E054';
  arrow-up-down-2: '\E055';
  arrow-up-down-3: '\E056';
  arrow-up-down-circle-filled: '\E057';
  arrow-up-down-circle: '\E058';
  arrow-up: '\E059';
  artboard: '\E05A';
  article-filled: '\E05B';
  article: '\E05C';
  assignment-checked-filled: '\E05D';
  assignment-checked: '\E05E';
  assignment-code-filled: '\E05F';
  assignment-code: '\E060';
  assignment-error-filled: '\E061';
  assignment-error: '\E062';
  assignment-filled: '\E063';
  assignment-user-filled: '\E064';
  assignment-user: '\E065';
  assignment: '\E066';
  attach: '\E067';
  attic-1-filled: '\E068';
  attic-1: '\E069';
  attic-filled: '\E06A';
  attic: '\E06B';
  audio-filled: '\E06C';
  audio: '\E06D';
  awkward-filled: '\E06E';
  awkward: '\E06F';
  backtop-rectangle-filled: '\E070';
  backtop-rectangle: '\E071';
  backtop: '\E072';
  backup-filled: '\E073';
  backup: '\E074';
  backward-filled: '\E075';
  backward: '\E076';
  bad-laugh-filled: '\E077';
  bad-laugh: '\E078';
  bamboo-shoot-filled: '\E079';
  bamboo-shoot: '\E07A';
  banana-filled: '\E07B';
  banana: '\E07C';
  barbecue-filled: '\E07D';
  barbecue: '\E07E';
  barcode-1: '\E07F';
  barcode: '\E080';
  base-station: '\E081';
  battery-add-filled: '\E082';
  battery-add: '\E083';
  battery-charging-filled: '\E084';
  battery-charging: '\E085';
  battery-filled: '\E086';
  battery-low-filled: '\E087';
  battery-low: '\E088';
  battery: '\E089';
  bean-filled: '\E08A';
  bean: '\E08B';
  beer-filled: '\E08C';
  beer: '\E08D';
  beta: '\E08E';
  bifurcate-filled: '\E08F';
  bifurcate: '\E090';
  bill-filled: '\E091';
  bill: '\E092';
  bluetooth: '\E093';
  bone-filled: '\E094';
  bone: '\E095';
  book-filled: '\E096';
  book-open-filled: '\E097';
  book-open: '\E098';
  book-unknown-filled: '\E099';
  book-unknown: '\E09A';
  book: '\E09B';
  bookmark-add-filled: '\E09C';
  bookmark-add: '\E09D';
  bookmark-checked-filled: '\E09E';
  bookmark-checked: '\E09F';
  bookmark-double-filled: '\E0A0';
  bookmark-double: '\E0A1';
  bookmark-filled: '\E0A2';
  bookmark-minus-filled: '\E0A3';
  bookmark-minus: '\E0A4';
  bookmark: '\E0A5';
  braces: '\E0A6';
  brackets: '\E0A7';
  bread-filled: '\E0A8';
  bread: '\E0A9';
  bridge-1-filled: '\E0AA';
  bridge-1: '\E0AB';
  bridge-2-filled: '\E0AC';
  bridge-2: '\E0AD';
  bridge-3: '\E0AE';
  bridge-4: '\E0AF';
  bridge-5-filled: '\E0B0';
  bridge-5: '\E0B1';
  bridge-6-filled: '\E0B2';
  bridge-6: '\E0B3';
  bridge: '\E0B4';
  brightness-1-filled: '\E0B5';
  brightness-1: '\E0B6';
  brightness-filled: '\E0B7';
  brightness: '\E0B8';
  broccoli-filled: '\E0B9';
  broccoli: '\E0BA';
  browse-filled: '\E0BB';
  browse-gallery-filled: '\E0BC';
  browse-gallery: '\E0BD';
  browse-off-filled: '\E0BE';
  browse-off: '\E0BF';
  browse: '\E0C0';
  brush-filled: '\E0C1';
  brush: '\E0C2';
  bug-filled: '\E0C3';
  bug-report-filled: '\E0C4';
  bug-report: '\E0C5';
  bug: '\E0C6';
  building-1-filled: '\E0C7';
  building-1: '\E0C8';
  building-2-filled: '\E0C9';
  building-2: '\E0CA';
  building-3-filled: '\E0CB';
  building-3: '\E0CC';
  building-4-filled: '\E0CD';
  building-4: '\E0CE';
  building-5-filled: '\E0CF';
  building-5: '\E0D0';
  building-filled: '\E0D1';
  building: '\E0D2';
  bulletpoint: '\E0D3';
  button-filled: '\E0D4';
  button: '\E0D5';
  cabbage-filled: '\E0D6';
  cabbage: '\E0D7';
  cake-filled: '\E0D8';
  cake: '\E0D9';
  calculation-1-filled: '\E0DA';
  calculation-1: '\E0DB';
  calculation: '\E0DC';
  calculator-1: '\E0DD';
  calculator-filled: '\E0DE';
  calculator: '\E0DF';
  calendar-1-filled: '\E0E0';
  calendar-1: '\E0E1';
  calendar-2-filled: '\E0E2';
  calendar-2: '\E0E3';
  calendar-edit-filled: '\E0E4';
  calendar-edit: '\E0E5';
  calendar-event-filled: '\E0E6';
  calendar-event: '\E0E7';
  calendar-filled: '\E0E8';
  calendar: '\E0E9';
  call-1-filled: '\E0EA';
  call-1: '\E0EB';
  call-cancel-filled: '\E0EC';
  call-cancel: '\E0ED';
  call-filled: '\E0EE';
  call-forwarded-filled: '\E0EF';
  call-forwarded: '\E0F0';
  call-incoming-filled: '\E0F1';
  call-incoming: '\E0F2';
  call-off-filled: '\E0F3';
  call-off: '\E0F4';
  call: '\E0F5';
  calm-1-filled: '\E0F6';
  calm-1: '\E0F7';
  calm-filled: '\E0F8';
  calm: '\E0F9';
  camera-1-filled: '\E0FA';
  camera-1: '\E0FB';
  camera-2-filled: '\E0FC';
  camera-2: '\E0FD';
  camera-filled: '\E0FE';
  camera-off-filled: '\E0FF';
  camera-off: '\E100';
  camera: '\E101';
  candy-filled: '\E102';
  candy: '\E103';
  card-filled: '\E104';
  card: '\E105';
  cardmembership-filled: '\E106';
  cardmembership: '\E107';
  caret-down-small: '\E108';
  caret-down: '\E109';
  caret-left-small: '\E10A';
  caret-left: '\E10B';
  caret-right-small: '\E10C';
  caret-right: '\E10D';
  caret-up-small: '\E10E';
  caret-up: '\E10F';
  cart-add-filled: '\E110';
  cart-add: '\E111';
  cart-filled: '\E112';
  cart: '\E113';
  cast-filled: '\E114';
  cast: '\E115';
  castle-1-filled: '\E116';
  castle-1: '\E117';
  castle-2-filled: '\E118';
  castle-2: '\E119';
  castle-3-filled: '\E11A';
  castle-3: '\E11B';
  castle-4-filled: '\E11C';
  castle-4: '\E11D';
  castle-5-filled: '\E11E';
  castle-5: '\E11F';
  castle-6-filled: '\E120';
  castle-6: '\E121';
  castle-7-filled: '\E122';
  castle-7: '\E123';
  castle-filled: '\E124';
  castle: '\E125';
  cat-filled: '\E126';
  cat: '\E127';
  catalog-filled: '\E128';
  catalog: '\E129';
  cd-filled: '\E12A';
  cd: '\E12B';
  celsius: '\E12C';
  center-focus-strong-filled: '\E12D';
  center-focus-strong: '\E12E';
  centimeter: '\E12F';
  certificate-1-filled: '\E130';
  certificate-1: '\E131';
  certificate-filled: '\E132';
  certificate: '\E133';
  chart-3d-filled: '\E134';
  chart-3d: '\E135';
  chart-add-filled: '\E136';
  chart-add: '\E137';
  chart-analytics: '\E138';
  chart-area-filled: '\E139';
  chart-area-multi-filled: '\E13A';
  chart-area-multi: '\E13B';
  chart-area: '\E13C';
  chart-bar-filled: '\E13D';
  chart-bar: '\E13E';
  chart-bubble-filled: '\E13F';
  chart-bubble: '\E140';
  chart-column-filled: '\E141';
  chart-column: '\E142';
  chart-combo-filled: '\E143';
  chart-combo: '\E144';
  chart-filled: '\E145';
  chart-line-data-1: '\E146';
  chart-line-data: '\E147';
  chart-line-multi: '\E148';
  chart-line: '\E149';
  chart-maximum: '\E14A';
  chart-median: '\E14B';
  chart-minimum: '\E14C';
  chart-pie-filled: '\E14D';
  chart-pie: '\E14E';
  chart-radar-filled: '\E14F';
  chart-radar: '\E150';
  chart-radial: '\E151';
  chart-ring-1-filled: '\E152';
  chart-ring-1: '\E153';
  chart-ring-filled: '\E154';
  chart-ring: '\E155';
  chart-scatter: '\E156';
  chart-stacked-filled: '\E157';
  chart-stacked: '\E158';
  chart: '\E159';
  chat-add-filled: '\E15A';
  chat-add: '\E15B';
  chat-bubble-1-filled: '\E15C';
  chat-bubble-1: '\E15D';
  chat-bubble-add-filled: '\E15E';
  chat-bubble-add: '\E15F';
  chat-bubble-error-filled: '\E160';
  chat-bubble-error: '\E161';
  chat-bubble-filled: '\E162';
  chat-bubble-help-filled: '\E163';
  chat-bubble-help: '\E164';
  chat-bubble-history-filled: '\E165';
  chat-bubble-history: '\E166';
  chat-bubble-locked-filled: '\E167';
  chat-bubble-locked: '\E168';
  chat-bubble-smile-filled: '\E169';
  chat-bubble-smile: '\E16A';
  chat-bubble: '\E16B';
  chat-checked-filled: '\E16C';
  chat-checked: '\E16D';
  chat-clear-filled: '\E16E';
  chat-clear: '\E16F';
  chat-double-filled: '\E170';
  chat-double: '\E171';
  chat-error-filled: '\E172';
  chat-error: '\E173';
  chat-filled: '\E174';
  chat-heart-filled: '\E175';
  chat-heart: '\E176';
  chat-message-filled: '\E177';
  chat-message: '\E178';
  chat-off-filled: '\E179';
  chat-off: '\E17A';
  chat-poll-filled: '\E17B';
  chat-poll: '\E17C';
  chat-setting-filled: '\E17D';
  chat-setting: '\E17E';
  chat: '\E17F';
  check-circle-filled: '\E180';
  check-circle: '\E181';
  check-double: '\E182';
  check-rectangle-filled: '\E183';
  check-rectangle: '\E184';
  check: '\E185';
  cheese-filled: '\E186';
  cheese: '\E187';
  cherry-filled: '\E188';
  cherry: '\E189';
  chevron-down-circle-filled: '\E18A';
  chevron-down-circle: '\E18B';
  chevron-down-double-s: '\E18C';
  chevron-down-double: '\E18D';
  chevron-down-rectangle-filled: '\E18E';
  chevron-down-rectangle: '\E18F';
  chevron-down-s: '\E190';
  chevron-down: '\E191';
  chevron-left-circle-filled: '\E192';
  chevron-left-circle: '\E193';
  chevron-left-double-s: '\E194';
  chevron-left-double: '\E195';
  chevron-left-rectangle-filled: '\E196';
  chevron-left-rectangle: '\E197';
  chevron-left-s: '\E198';
  chevron-left: '\E199';
  chevron-right-circle-filled: '\E19A';
  chevron-right-circle: '\E19B';
  chevron-right-double-s: '\E19C';
  chevron-right-double: '\E19D';
  chevron-right-rectangle-filled: '\E19E';
  chevron-right-rectangle: '\E19F';
  chevron-right-s: '\E1A0';
  chevron-right: '\E1A1';
  chevron-up-circle-filled: '\E1A2';
  chevron-up-circle: '\E1A3';
  chevron-up-double-s: '\E1A4';
  chevron-up-double: '\E1A5';
  chevron-up-rectangle-filled: '\E1A6';
  chevron-up-rectangle: '\E1A7';
  chevron-up-s: '\E1A8';
  chevron-up: '\E1A9';
  chicken: '\E1AA';
  chili-filled: '\E1AB';
  chili: '\E1AC';
  chimney-1-filled: '\E1AD';
  chimney-1: '\E1AE';
  chimney-2-filled: '\E1AF';
  chimney-2: '\E1B0';
  chimney-filled: '\E1B1';
  chimney: '\E1B2';
  chinese-cabbage-filled: '\E1B3';
  chinese-cabbage: '\E1B4';
  church-filled: '\E1B5';
  church: '\E1B6';
  circle-filled: '\E1B7';
  circle: '\E1B8';
  city-1-filled: '\E1B9';
  city-1: '\E1BA';
  city-10-filled: '\E1BB';
  city-10: '\E1BC';
  city-11-filled: '\E1BD';
  city-11: '\E1BE';
  city-12-filled: '\E1BF';
  city-12: '\E1C0';
  city-13-filled: '\E1C1';
  city-13: '\E1C2';
  city-14-filled: '\E1C3';
  city-14: '\E1C4';
  city-15-filled: '\E1C5';
  city-15: '\E1C6';
  city-2-filled: '\E1C7';
  city-2: '\E1C8';
  city-3-filled: '\E1C9';
  city-3: '\E1CA';
  city-4-filled: '\E1CB';
  city-4: '\E1CC';
  city-5-filled: '\E1CD';
  city-5: '\E1CE';
  city-6-filled: '\E1CF';
  city-6: '\E1D0';
  city-7-filled: '\E1D1';
  city-7: '\E1D2';
  city-8-filled: '\E1D3';
  city-8: '\E1D4';
  city-9-filled: '\E1D5';
  city-9: '\E1D6';
  city-ancient-1-filled: '\E1D7';
  city-ancient-1: '\E1D8';
  city-ancient-2-filled: '\E1D9';
  city-ancient-2: '\E1DA';
  city-ancient-filled: '\E1DB';
  city-ancient: '\E1DC';
  city-filled: '\E1DD';
  city: '\E1DE';
  clear-filled: '\E1DF';
  clear-formatting-1-filled: '\E1E0';
  clear-formatting-1: '\E1E1';
  clear-formatting-filled: '\E1E2';
  clear-formatting: '\E1E3';
  clear: '\E1E4';
  close-circle-filled: '\E1E5';
  close-circle: '\E1E6';
  close-octagon-filled: '\E1E7';
  close-octagon: '\E1E8';
  close-rectangle-filled: '\E1E9';
  close-rectangle: '\E1EA';
  close: '\E1EB';
  cloud-download: '\E1EC';
  cloud-filled: '\E1ED';
  cloud-upload: '\E1EE';
  cloud: '\E1EF';
  cloudy-day-filled: '\E1F0';
  cloudy-day: '\E1F1';
  cloudy-night-filled: '\E1F2';
  cloudy-night-rain-filled: '\E1F3';
  cloudy-night-rain: '\E1F4';
  cloudy-night: '\E1F5';
  cloudy-rain-filled: '\E1F6';
  cloudy-rain: '\E1F7';
  cloudy-sunny-filled: '\E1F8';
  cloudy-sunny: '\E1F9';
  code-1: '\E1FA';
  code-off: '\E1FB';
  code: '\E1FC';
  cola-filled: '\E1FD';
  cola: '\E1FE';
  collage-filled: '\E1FF';
  collage: '\E200';
  collection-filled: '\E201';
  collection: '\E202';
  color-invert-filled: '\E203';
  color-invert: '\E204';
  combination-filled: '\E205';
  combination: '\E206';
  command: '\E207';
  compass-1-filled: '\E208';
  compass-1: '\E209';
  compass-filled: '\E20A';
  compass: '\E20B';
  component-breadcrumb-filled: '\E20C';
  component-breadcrumb: '\E20D';
  component-checkbox-filled: '\E20E';
  component-checkbox: '\E20F';
  component-divider-horizontal-filled: '\E210';
  component-divider-horizontal: '\E211';
  component-divider-vertical-filled: '\E212';
  component-divider-vertical: '\E213';
  component-dropdown-filled: '\E214';
  component-dropdown: '\E215';
  component-grid-filled: '\E216';
  component-grid: '\E217';
  component-input-filled: '\E218';
  component-input: '\E219';
  component-layout-filled: '\E21A';
  component-layout: '\E21B';
  component-radio: '\E21C';
  component-space-filled: '\E21D';
  component-space: '\E21E';
  component-steps-filled: '\E21F';
  component-steps: '\E220';
  component-switch-filled: '\E221';
  component-switch: '\E222';
  constraint: '\E223';
  contrast-1-filled: '\E224';
  contrast-1: '\E225';
  contrast-filled: '\E226';
  contrast: '\E227';
  control-platform-filled: '\E228';
  control-platform: '\E229';
  cooperate-filled: '\E22A';
  cooperate: '\E22B';
  coordinate-system-filled: '\E22C';
  coordinate-system: '\E22D';
  copy-filled: '\E22E';
  copy: '\E22F';
  copyright-filled: '\E230';
  copyright: '\E231';
  corn-filled: '\E232';
  corn: '\E233';
  coupon-filled: '\E234';
  coupon: '\E235';
  course-filled: '\E236';
  course: '\E237';
  cpu-filled: '\E238';
  cpu: '\E239';
  crack-filled: '\E23A';
  crack: '\E23B';
  creditcard-add-filled: '\E23C';
  creditcard-add: '\E23D';
  creditcard-filled: '\E23E';
  creditcard-off-filled: '\E23F';
  creditcard-off: '\E240';
  creditcard: '\E241';
  crooked-smile-filled: '\E242';
  crooked-smile: '\E243';
  cry-and-laugh-filled: '\E244';
  cry-and-laugh: '\E245';
  cry-loudly-filled: '\E246';
  cry-loudly: '\E247';
  css3-filled: '\E248';
  css3: '\E249';
  cucumber: '\E24A';
  currency-exchange: '\E24B';
  cursor-filled: '\E24C';
  cursor: '\E24D';
  curtain-filled: '\E24E';
  curtain: '\E24F';
  curve: '\E250';
  cut-1: '\E251';
  cut: '\E252';
  dam-1-filled: '\E253';
  dam-1: '\E254';
  dam-2-filled: '\E255';
  dam-2: '\E256';
  dam-3-filled: '\E257';
  dam-3: '\E258';
  dam-4-filled: '\E259';
  dam-4: '\E25A';
  dam-5-filled: '\E25B';
  dam-5: '\E25C';
  dam-6-filled: '\E25D';
  dam-6: '\E25E';
  dam-7-filled: '\E25F';
  dam-7: '\E260';
  dam-filled: '\E261';
  dam: '\E262';
  dart-board-filled: '\E263';
  dart-board: '\E264';
  dashboard-1-filled: '\E265';
  dashboard-1: '\E266';
  dashboard-filled: '\E267';
  dashboard: '\E268';
  data-base-filled: '\E269';
  data-base: '\E26A';
  data-checked-filled: '\E26B';
  data-checked: '\E26C';
  data-display: '\E26D';
  data-error-filled: '\E26E';
  data-error: '\E26F';
  data-filled: '\E270';
  data-search-filled: '\E271';
  data-search: '\E272';
  data: '\E273';
  delete-1-filled: '\E274';
  delete-1: '\E275';
  delete-filled: '\E276';
  delete-time-filled: '\E277';
  delete-time: '\E278';
  delete: '\E279';
  delta-filled: '\E27A';
  delta: '\E27B';
  depressed-filled: '\E27C';
  depressed: '\E27D';
  desktop-1-filled: '\E27E';
  desktop-1: '\E27F';
  desktop-filled: '\E280';
  desktop: '\E281';
  despise-filled: '\E282';
  despise: '\E283';
  device-filled: '\E284';
  device: '\E285';
  discount-filled: '\E286';
  discount: '\E287';
  dissatisfaction-filled: '\E288';
  dissatisfaction: '\E289';
  divide: '\E28A';
  dividers-1: '\E28B';
  dividers: '\E28C';
  doge-filled: '\E28D';
  doge: '\E28E';
  double-storey-filled: '\E28F';
  double-storey: '\E290';
  download-1: '\E291';
  download-2-filled: '\E292';
  download-2: '\E293';
  download: '\E294';
  downscale: '\E295';
  drag-drop: '\E296';
  drag-move: '\E297';
  drink-filled: '\E298';
  drink: '\E299';
  drumstick-filled: '\E29A';
  drumstick: '\E29B';
  dv-filled: '\E29C';
  dv: '\E29D';
  dvd-filled: '\E29E';
  dvd: '\E29F';
  earphone-filled: '\E2A0';
  earphone: '\E2A1';
  earth-filled: '\E2A2';
  earth: '\E2A3';
  edit-1-filled: '\E2A4';
  edit-1: '\E2A5';
  edit-2-filled: '\E2A6';
  edit-2: '\E2A7';
  edit-filled: '\E2A8';
  edit-off-filled: '\E2A9';
  edit-off: '\E2AA';
  edit: '\E2AB';
  education-filled: '\E2AC';
  education: '\E2AD';
  eggplant-filled: '\E2AE';
  eggplant: '\E2AF';
  ellipsis: '\E2B0';
  emo-emotional-filled: '\E2B1';
  emo-emotional: '\E2B2';
  enter: '\E2B3';
  equal: '\E2B4';
  error-circle-filled: '\E2B5';
  error-circle: '\E2B6';
  error-triangle-filled: '\E2B7';
  error-triangle: '\E2B8';
  error: '\E2B9';
  excited-1-filled: '\E2BA';
  excited-1: '\E2BB';
  excited-filled: '\E2BC';
  excited: '\E2BD';
  expand-down-filled: '\E2BE';
  expand-down: '\E2BF';
  expand-horizontal: '\E2C0';
  expand-up-filled: '\E2C1';
  expand-up: '\E2C2';
  expand-vertical: '\E2C3';
  explore-filled: '\E2C4';
  explore-off-filled: '\E2C5';
  explore-off: '\E2C6';
  explore: '\E2C7';
  exposure-filled: '\E2C8';
  exposure: '\E2C9';
  extension-filled: '\E2CA';
  extension-off-filled: '\E2CB';
  extension-off: '\E2CC';
  extension: '\E2CD';
  face-retouching-filled: '\E2CE';
  face-retouching: '\E2CF';
  fact-check-filled: '\E2D0';
  fact-check: '\E2D1';
  fahrenheit-scale: '\E2D2';
  feel-at-ease-filled: '\E2D3';
  feel-at-ease: '\E2D4';
  ferocious-filled: '\E2D5';
  ferocious: '\E2D6';
  ferris-wheel-filled: '\E2D7';
  ferris-wheel: '\E2D8';
  file-1-filled: '\E2D9';
  file-1: '\E2DA';
  file-add-1-filled: '\E2DB';
  file-add-1: '\E2DC';
  file-add-filled: '\E2DD';
  file-add: '\E2DE';
  file-attachment-filled: '\E2DF';
  file-attachment: '\E2E0';
  file-blocked-filled: '\E2E1';
  file-blocked: '\E2E2';
  file-code-1-filled: '\E2E3';
  file-code-1: '\E2E4';
  file-code-filled: '\E2E5';
  file-code: '\E2E6';
  file-copy-filled: '\E2E7';
  file-copy: '\E2E8';
  file-download-filled: '\E2E9';
  file-download: '\E2EA';
  file-excel-filled: '\E2EB';
  file-excel: '\E2EC';
  file-export-filled: '\E2ED';
  file-export: '\E2EE';
  file-filled: '\E2EF';
  file-icon-filled: '\E2F0';
  file-icon: '\E2F1';
  file-image-filled: '\E2F2';
  file-image: '\E2F3';
  file-import-filled: '\E2F4';
  file-import: '\E2F5';
  file-locked-filled: '\E2F6';
  file-locked: '\E2F7';
  file-minus-filled: '\E2F8';
  file-minus: '\E2F9';
  file-music-filled: '\E2FA';
  file-music: '\E2FB';
  file-onenote-filled: '\E2FC';
  file-onenote: '\E2FD';
  file-outlook-filled: '\E2FE';
  file-outlook: '\E2FF';
  file-paste-filled: '\E300';
  file-paste: '\E301';
  file-pdf-filled: '\E302';
  file-pdf: '\E303';
  file-powerpoint-filled: '\E304';
  file-powerpoint: '\E305';
  file-restore-filled: '\E306';
  file-restore: '\E307';
  file-safety-filled: '\E308';
  file-safety: '\E309';
  file-search-filled: '\E30A';
  file-search: '\E30B';
  file-setting-filled: '\E30C';
  file-setting: '\E30D';
  file-teams-filled: '\E30E';
  file-teams: '\E30F';
  file-transmit-double-filled: '\E310';
  file-transmit-double: '\E311';
  file-transmit-filled: '\E312';
  file-transmit: '\E313';
  file-unknown-filled: '\E314';
  file-unknown: '\E315';
  file-unlocked-filled: '\E316';
  file-unlocked: '\E317';
  file-word-filled: '\E318';
  file-word: '\E319';
  file-zip-filled: '\E31A';
  file-zip: '\E31B';
  file: '\E31C';
  fill-color-1-filled: '\E31D';
  fill-color-1: '\E31E';
  fill-color-filled: '\E31F';
  fill-color: '\E320';
  film-1-filled: '\E321';
  film-1: '\E322';
  film-filled: '\E323';
  film: '\E324';
  filter-1-filled: '\E325';
  filter-1: '\E326';
  filter-2-filled: '\E327';
  filter-2: '\E328';
  filter-3-filled: '\E329';
  filter-3: '\E32A';
  filter-clear-filled: '\E32B';
  filter-clear: '\E32C';
  filter-filled: '\E32D';
  filter-off-filled: '\E32E';
  filter-off: '\E32F';
  filter-sort-filled: '\E330';
  filter-sort: '\E331';
  filter: '\E332';
  fingerprint-1: '\E333';
  fingerprint-2: '\E334';
  fingerprint-3: '\E335';
  fingerprint: '\E336';
  fish-filled: '\E337';
  fish: '\E338';
  flag-1-filled: '\E339';
  flag-1: '\E33A';
  flag-2-filled: '\E33B';
  flag-2: '\E33C';
  flag-3-filled: '\E33D';
  flag-3: '\E33E';
  flag-4-filled: '\E33F';
  flag-4: '\E340';
  flag-filled: '\E341';
  flag: '\E342';
  flashlight-filled: '\E343';
  flashlight: '\E344';
  flight-landing-filled: '\E345';
  flight-landing: '\E346';
  flight-takeoff-filled: '\E347';
  flight-takeoff: '\E348';
  flip-smiling-face-filled: '\E349';
  flip-smiling-face: '\E34A';
  flip-to-back-filled: '\E34B';
  flip-to-back: '\E34C';
  flip-to-front-filled: '\E34D';
  flip-to-front: '\E34E';
  focus-filled: '\E34F';
  focus: '\E350';
  fog-filled: '\E351';
  fog-night-filled: '\E352';
  fog-night: '\E353';
  fog-sunny-filled: '\E354';
  fog-sunny: '\E355';
  fog: '\E356';
  folder-1-filled: '\E357';
  folder-1: '\E358';
  folder-add-1-filled: '\E359';
  folder-add-1: '\E35A';
  folder-add-filled: '\E35B';
  folder-add: '\E35C';
  folder-blocked-filled: '\E35D';
  folder-blocked: '\E35E';
  folder-details-filled: '\E35F';
  folder-details: '\E360';
  folder-export-filled: '\E361';
  folder-export: '\E362';
  folder-filled: '\E363';
  folder-import-filled: '\E364';
  folder-import: '\E365';
  folder-locked-filled: '\E366';
  folder-locked: '\E367';
  folder-minus-filled: '\E368';
  folder-minus: '\E369';
  folder-move-filled: '\E36A';
  folder-move: '\E36B';
  folder-off-filled: '\E36C';
  folder-off: '\E36D';
  folder-open-1-filled: '\E36E';
  folder-open-1: '\E36F';
  folder-open-filled: '\E370';
  folder-open: '\E371';
  folder-search-filled: '\E372';
  folder-search: '\E373';
  folder-setting-filled: '\E374';
  folder-setting: '\E375';
  folder-shared-filled: '\E376';
  folder-shared: '\E377';
  folder-unlocked-filled: '\E378';
  folder-unlocked: '\E379';
  folder-zip-filled: '\E37A';
  folder-zip: '\E37B';
  folder: '\E37C';
  forest-filled: '\E37D';
  forest: '\E37E';
  fork-filled: '\E37F';
  fork: '\E380';
  form-filled: '\E381';
  form: '\E382';
  format-horizontal-align-bottom: '\E383';
  format-horizontal-align-center: '\E384';
  format-horizontal-align-top: '\E385';
  format-vertical-align-center: '\E386';
  format-vertical-align-left: '\E387';
  format-vertical-align-right: '\E388';
  forward-filled: '\E389';
  forward: '\E38A';
  frame-1-filled: '\E38B';
  frame-1: '\E38C';
  frame-filled: '\E38D';
  frame: '\E38E';
  fries-filled: '\E38F';
  fries: '\E390';
  fullscreen-1: '\E391';
  fullscreen-2: '\E392';
  fullscreen-exit-1: '\E393';
  fullscreen-exit: '\E394';
  fullscreen: '\E395';
  function-curve: '\E396';
  functions-1: '\E397';
  functions: '\E398';
  gamepad-1-filled: '\E399';
  gamepad-1: '\E39A';
  gamepad-filled: '\E39B';
  gamepad: '\E39C';
  gamma: '\E39D';
  garlic-filled: '\E39E';
  garlic: '\E39F';
  gender-female: '\E3A0';
  gender-male: '\E3A1';
  gesture-applause-filled: '\E3A2';
  gesture-applause: '\E3A3';
  gesture-click-filled: '\E3A4';
  gesture-click: '\E3A5';
  gesture-down-filled: '\E3A6';
  gesture-down: '\E3A7';
  gesture-expansion-filled: '\E3A8';
  gesture-expansion: '\E3A9';
  gesture-left-filled: '\E3AA';
  gesture-left-slip-filled: '\E3AB';
  gesture-left-slip: '\E3AC';
  gesture-left: '\E3AD';
  gesture-open-filled: '\E3AE';
  gesture-open: '\E3AF';
  gesture-pray-filled: '\E3B0';
  gesture-pray: '\E3B1';
  gesture-press-filled: '\E3B2';
  gesture-press: '\E3B3';
  gesture-ranslation-filled: '\E3B4';
  gesture-ranslation: '\E3B5';
  gesture-right-filled: '\E3B6';
  gesture-right-slip-filled: '\E3B7';
  gesture-right-slip: '\E3B8';
  gesture-right: '\E3B9';
  gesture-slide-left-and-right-filled: '\E3BA';
  gesture-slide-left-and-right: '\E3BB';
  gesture-slide-up-filled: '\E3BC';
  gesture-slide-up: '\E3BD';
  gesture-typing-filled: '\E3BE';
  gesture-typing: '\E3BF';
  gesture-up-and-down-filled: '\E3C0';
  gesture-up-and-down: '\E3C1';
  gesture-up-filled: '\E3C2';
  gesture-up: '\E3C3';
  gesture-wipe-down-filled: '\E3C4';
  gesture-wipe-down: '\E3C5';
  gift-filled: '\E3C6';
  gift: '\E3C7';
  giggle-filled: '\E3C8';
  giggle: '\E3C9';
  git-branch-filled: '\E3CA';
  git-branch: '\E3CB';
  git-commit-filled: '\E3CC';
  git-commit: '\E3CD';
  git-merge-filled: '\E3CE';
  git-merge: '\E3CF';
  git-pull-request-filled: '\E3D0';
  git-pull-request: '\E3D1';
  git-repository-commits-filled: '\E3D2';
  git-repository-commits: '\E3D3';
  git-repository-filled: '\E3D4';
  git-repository-private-filled: '\E3D5';
  git-repository-private: '\E3D6';
  git-repository: '\E3D7';
  gps-filled: '\E3D8';
  gps: '\E3D9';
  grape-filled: '\E3DA';
  grape: '\E3DB';
  greater-than-or-equal: '\E3DC';
  greater-than: '\E3DD';
  green-onion: '\E3DE';
  grid-add-filled: '\E3DF';
  grid-add: '\E3E0';
  grid-view-filled: '\E3E1';
  grid-view: '\E3E2';
  guitar-filled: '\E3E3';
  guitar: '\E3E4';
  hamburger-filled: '\E3E5';
  hamburger: '\E3E6';
  happy-filled: '\E3E7';
  happy: '\E3E8';
  hard-disk-storage-filled: '\E3E9';
  hard-disk-storage: '\E3EA';
  hard-drive-filled: '\E3EB';
  hard-drive: '\E3EC';
  hashtag: '\E3ED';
  hd-filled: '\E3EE';
  hd: '\E3EF';
  heart-filled: '\E3F0';
  heart: '\E3F1';
  help-circle-filled: '\E3F2';
  help-circle: '\E3F3';
  help-rectangle-filled: '\E3F4';
  help-rectangle: '\E3F5';
  help: '\E3F6';
  highlight-1-filled: '\E3F7';
  highlight-1: '\E3F8';
  highlight: '\E3F9';
  history-setting: '\E3FA';
  history: '\E3FB';
  home-filled: '\E3FC';
  home: '\E3FD';
  horizontal-filled: '\E3FE';
  horizontal: '\E3FF';
  hospital-1-filled: '\E400';
  hospital-1: '\E401';
  hospital-filled: '\E402';
  hospital: '\E403';
  hotspot-wave-filled: '\E404';
  hotspot-wave: '\E405';
  hourglass-filled: '\E406';
  hourglass: '\E407';
  houses-1-filled: '\E408';
  houses-1: '\E409';
  houses-2-filled: '\E40A';
  houses-2: '\E40B';
  houses-filled: '\E40C';
  houses: '\E40D';
  html5-filled: '\E40E';
  html5: '\E40F';
  https-filled: '\E410';
  https: '\E411';
  ice-cream-filled: '\E412';
  ice-cream: '\E413';
  icon-filled: '\E414';
  icon: '\E415';
  image-1-filled: '\E416';
  image-1: '\E417';
  image-add-filled: '\E418';
  image-add: '\E419';
  image-edit-filled: '\E41A';
  image-edit: '\E41B';
  image-error-filled: '\E41C';
  image-error: '\E41D';
  image-filled: '\E41E';
  image-off-filled: '\E41F';
  image-off: '\E420';
  image-search-filled: '\E421';
  image-search: '\E422';
  image: '\E423';
  indent-left: '\E424';
  indent-right: '\E425';
  indicator-filled: '\E426';
  indicator: '\E427';
  info-circle-filled: '\E428';
  info-circle: '\E429';
  ink-filled: '\E42A';
  ink: '\E42B';
  install-desktop-filled: '\E42C';
  install-desktop: '\E42D';
  install-filled: '\E42E';
  install-mobile-filled: '\E42F';
  install-mobile: '\E430';
  install: '\E431';
  institution-checked-filled: '\E432';
  institution-checked: '\E433';
  institution-filled: '\E434';
  institution: '\E435';
  internet-filled: '\E436';
  internet: '\E437';
  ipod-filled: '\E438';
  ipod: '\E439';
  joyful-filled: '\E43A';
  joyful: '\E43B';
  jump-double: '\E43C';
  jump-off: '\E43D';
  jump: '\E43E';
  key-filled: '\E43F';
  key: '\E440';
  keyboard-filled: '\E441';
  keyboard: '\E442';
  laptop-filled: '\E443';
  laptop: '\E444';
  layers-filled: '\E445';
  layers: '\E446';
  layout-filled: '\E447';
  layout: '\E448';
  leaderboard-filled: '\E449';
  leaderboard: '\E44A';
  lemon-filled: '\E44B';
  lemon-slice-filled: '\E44C';
  lemon-slice: '\E44D';
  lemon: '\E44E';
  less-than-or-equal: '\E44F';
  less-than: '\E450';
  letters-a: '\E451';
  letters-b: '\E452';
  letters-c: '\E453';
  letters-d: '\E454';
  letters-e: '\E455';
  letters-f: '\E456';
  letters-g: '\E457';
  letters-h: '\E458';
  letters-i: '\E459';
  letters-j: '\E45A';
  letters-k: '\E45B';
  letters-l: '\E45C';
  letters-m: '\E45D';
  letters-n: '\E45E';
  letters-o: '\E45F';
  letters-p: '\E460';
  letters-q: '\E461';
  letters-r: '\E462';
  letters-s: '\E463';
  letters-t: '\E464';
  letters-u: '\E465';
  letters-v: '\E466';
  letters-w: '\E467';
  letters-x: '\E468';
  letters-y: '\E469';
  letters-z: '\E46A';
  lightbulb-circle-filled: '\E46B';
  lightbulb-circle: '\E46C';
  lightbulb-filled: '\E46D';
  lightbulb: '\E46E';
  lighthouse-1-filled: '\E46F';
  lighthouse-1: '\E470';
  lighthouse-2-filled: '\E471';
  lighthouse-2: '\E472';
  lighthouse-filled: '\E473';
  lighthouse: '\E474';
  lighting-circle-filled: '\E475';
  lighting-circle: '\E476';
  line-height: '\E477';
  link-1: '\E478';
  link-unlink: '\E479';
  link: '\E47A';
  liquor-filled: '\E47B';
  liquor: '\E47C';
  list-numbered: '\E47D';
  list: '\E47E';
  load: '\E47F';
  loading: '\E480';
  location-1-filled: '\E481';
  location-1: '\E482';
  location-enlargement-filled: '\E483';
  location-enlargement: '\E484';
  location-error-filled: '\E485';
  location-error: '\E486';
  location-filled: '\E487';
  location-parking-place-filled: '\E488';
  location-parking-place: '\E489';
  location-reduction-filled: '\E48A';
  location-reduction: '\E48B';
  location-setting-filled: '\E48C';
  location-setting: '\E48D';
  location: '\E48E';
  lock-off-filled: '\E48F';
  lock-off: '\E490';
  lock-on-filled: '\E491';
  lock-on: '\E492';
  lock-time-filled: '\E493';
  lock-time: '\E494';
  login: '\E495';
  logo-adobe-illustrate-filled: '\E496';
  logo-adobe-illustrate: '\E497';
  logo-adobe-lightroom-filled: '\E498';
  logo-adobe-lightroom: '\E499';
  logo-adobe-photoshop-filled: '\E49A';
  logo-adobe-photoshop: '\E49B';
  logo-alipay-filled: '\E49C';
  logo-alipay: '\E49D';
  logo-android-filled: '\E49E';
  logo-android: '\E49F';
  logo-apple-filled: '\E4A0';
  logo-apple: '\E4A1';
  logo-behance-filled: '\E4A2';
  logo-behance: '\E4A3';
  logo-chrome-filled: '\E4A4';
  logo-chrome: '\E4A5';
  logo-cinema4d-filled: '\E4A6';
  logo-cinema4d: '\E4A7';
  logo-codepen: '\E4A8';
  logo-codesandbox: '\E4A9';
  logo-dribbble-filled: '\E4AA';
  logo-dribbble: '\E4AB';
  logo-facebook-filled: '\E4AC';
  logo-facebook: '\E4AD';
  logo-figma-filled: '\E4AE';
  logo-figma: '\E4AF';
  logo-framer-filled: '\E4B0';
  logo-framer: '\E4B1';
  logo-github-filled: '\E4B2';
  logo-github: '\E4B3';
  logo-gitlab-filled: '\E4B4';
  logo-gitlab: '\E4B5';
  logo-ie-filled: '\E4B6';
  logo-ie: '\E4B7';
  logo-instagram-filled: '\E4B8';
  logo-instagram: '\E4B9';
  logo-qq-filled: '\E4BA';
  logo-qq: '\E4BB';
  logo-twitter-filled: '\E4BC';
  logo-twitter: '\E4BD';
  logo-wechat-stroke-filled: '\E4BE';
  logo-wechat-stroke: '\E4BF';
  logo-wechatpay-filled: '\E4C0';
  logo-wechatpay: '\E4C1';
  logo-wecom: '\E4C2';
  logo-windows-filled: '\E4C3';
  logo-windows: '\E4C4';
  logo-youtube-filled: '\E4C5';
  logo-youtube: '\E4C6';
  logout: '\E4C7';
  look-around-filled: '\E4C8';
  look-around: '\E4C9';
  loudspeaker-filled: '\E4CA';
  loudspeaker: '\E4CB';
  mail-filled: '\E4CC';
  mail: '\E4CD';
  map-3d-filled: '\E4CE';
  map-3d: '\E4CF';
  map-add-filled: '\E4D0';
  map-add: '\E4D1';
  map-aiming-filled: '\E4D2';
  map-aiming: '\E4D3';
  map-blocked-filled: '\E4D4';
  map-blocked: '\E4D5';
  map-bubble-filled: '\E4D6';
  map-bubble: '\E4D7';
  map-cancel-filled: '\E4D8';
  map-cancel: '\E4D9';
  map-chat-filled: '\E4DA';
  map-chat: '\E4DB';
  map-checked-filled: '\E4DC';
  map-checked: '\E4DD';
  map-collection-filled: '\E4DE';
  map-collection: '\E4DF';
  map-connection-filled: '\E4E0';
  map-connection: '\E4E1';
  map-distance-filled: '\E4E2';
  map-distance: '\E4E3';
  map-double-filled: '\E4E4';
  map-double: '\E4E5';
  map-edit-filled: '\E4E6';
  map-edit: '\E4E7';
  map-filled: '\E4E8';
  map-grid-filled: '\E4E9';
  map-grid: '\E4EA';
  map-information-1-filled: '\E4EB';
  map-information-1: '\E4EC';
  map-information-2-filled: '\E4ED';
  map-information-2: '\E4EE';
  map-information-filled: '\E4EF';
  map-information: '\E4F0';
  map-location-filled: '\E4F1';
  map-location: '\E4F2';
  map-locked-filled: '\E4F3';
  map-locked: '\E4F4';
  map-marked-filled: '\E4F5';
  map-marked: '\E4F6';
  map-navigation-filled: '\E4F7';
  map-navigation: '\E4F8';
  map-outline-filled: '\E4F9';
  map-outline: '\E4FA';
  map-route-planning-filled: '\E4FB';
  map-route-planning: '\E4FC';
  map-ruler-filled: '\E4FD';
  map-ruler: '\E4FE';
  map-safety-filled: '\E4FF';
  map-safety: '\E500';
  map-search-1-filled: '\E501';
  map-search-1: '\E502';
  map-search-filled: '\E503';
  map-search: '\E504';
  map-setting-filled: '\E505';
  map-setting: '\E506';
  map-unlocked-filled: '\E507';
  map-unlocked: '\E508';
  map: '\E509';
  mark-as-unread-filled: '\E50A';
  mark-as-unread: '\E50B';
  markup-filled: '\E50C';
  markup: '\E50D';
  mathematics-filled: '\E50E';
  mathematics: '\E50F';
  measurement-1-filled: '\E510';
  measurement-1: '\E511';
  measurement-2-filled: '\E512';
  measurement-2: '\E513';
  measurement-filled: '\E514';
  measurement: '\E515';
  meat-pepper-filled: '\E516';
  meat-pepper: '\E517';
  media-library-filled: '\E518';
  media-library: '\E519';
  member-filled: '\E51A';
  member: '\E51B';
  menu-application: '\E51C';
  menu-filled: '\E51D';
  menu-fold: '\E51E';
  menu-unfold: '\E51F';
  menu: '\E520';
  merge-cells-filled: '\E521';
  merge-cells: '\E522';
  microphone-1-filled: '\E523';
  microphone-1: '\E524';
  microphone-2-filled: '\E525';
  microphone-2: '\E526';
  microphone-filled: '\E527';
  microphone: '\E528';
  milk-filled: '\E529';
  milk: '\E52A';
  minus-circle-filled: '\E52B';
  minus-circle: '\E52C';
  minus-rectangle-filled: '\E52D';
  minus-rectangle: '\E52E';
  minus: '\E52F';
  mirror-filled: '\E530';
  mirror: '\E531';
  mobile-blocked-filled: '\E532';
  mobile-blocked: '\E533';
  mobile-filled: '\E534';
  mobile-list-filled: '\E535';
  mobile-list: '\E536';
  mobile-navigation-filled: '\E537';
  mobile-navigation: '\E538';
  mobile-shortcut-filled: '\E539';
  mobile-shortcut: '\E53A';
  mobile-vibrate-filled: '\E53B';
  mobile-vibrate: '\E53C';
  mobile: '\E53D';
  mode-dark-filled: '\E53E';
  mode-dark: '\E53F';
  mode-light-filled: '\E540';
  mode-light: '\E541';
  module-filled: '\E542';
  module: '\E543';
  money-filled: '\E544';
  money: '\E545';
  monument-filled: '\E546';
  monument: '\E547';
  moon-fall-filled: '\E548';
  moon-fall: '\E549';
  moon-filled: '\E54A';
  moon-rising-filled: '\E54B';
  moon-rising: '\E54C';
  moon: '\E54D';
  more: '\E54E';
  mosque-1-filled: '\E54F';
  mosque-1: '\E550';
  mosque-filled: '\E551';
  mosque: '\E552';
  mouse-filled: '\E553';
  mouse: '\E554';
  move-1: '\E555';
  move: '\E556';
  movie-clapper-filled: '\E557';
  movie-clapper: '\E558';
  multiply: '\E559';
  museum-1-filled: '\E55A';
  museum-1: '\E55B';
  museum-2-filled: '\E55C';
  museum-2: '\E55D';
  museum-filled: '\E55E';
  museum: '\E55F';
  mushroom-1-filled: '\E560';
  mushroom-1: '\E561';
  mushroom-filled: '\E562';
  mushroom: '\E563';
  music-1-filled: '\E564';
  music-1: '\E565';
  music-2-filled: '\E566';
  music-2: '\E567';
  music-filled: '\E568';
  music-rectangle-add-filled: '\E569';
  music-rectangle-add: '\E56A';
  music: '\E56B';
  navigation-arrow-filled: '\E56C';
  navigation-arrow: '\E56D';
  next-filled: '\E56E';
  next: '\E56F';
  no-expression-filled: '\E570';
  no-expression: '\E571';
  noodle-filled: '\E572';
  noodle: '\E573';
  notification-add-filled: '\E574';
  notification-add: '\E575';
  notification-circle-filled: '\E576';
  notification-circle: '\E577';
  notification-error-filled: '\E578';
  notification-error: '\E579';
  notification-filled: '\E57A';
  notification: '\E57B';
  numbers-0-1: '\E57C';
  numbers-0: '\E57D';
  numbers-1-1: '\E57E';
  numbers-1: '\E57F';
  numbers-2-1: '\E580';
  numbers-2: '\E581';
  numbers-3-1: '\E582';
  numbers-3: '\E583';
  numbers-4-1: '\E584';
  numbers-4: '\E585';
  numbers-5-1: '\E586';
  numbers-5: '\E587';
  numbers-6-1: '\E588';
  numbers-6: '\E589';
  numbers-7-1: '\E58A';
  numbers-7: '\E58B';
  numbers-8-1: '\E58C';
  numbers-8: '\E58D';
  numbers-9-1: '\E58E';
  numbers-9: '\E58F';
  nut-filled: '\E590';
  nut: '\E591';
  object-storage: '\E592';
  open-mouth-filled: '\E593';
  open-mouth: '\E594';
  opera-filled: '\E595';
  opera: '\E596';
  order-adjustment-column: '\E597';
  order-ascending: '\E598';
  order-descending: '\E599';
  outbox-filled: '\E59A';
  outbox: '\E59B';
  page-first: '\E59C';
  page-head-filled: '\E59D';
  page-head: '\E59E';
  page-last: '\E59F';
  palace-1-filled: '\E5A0';
  palace-1: '\E5A1';
  palace-2-filled: '\E5A2';
  palace-2: '\E5A3';
  palace-3-filled: '\E5A4';
  palace-3: '\E5A5';
  palace-4-filled: '\E5A6';
  palace-4: '\E5A7';
  palace-filled: '\E5A8';
  palace: '\E5A9';
  palette-1-filled: '\E5AA';
  palette-1: '\E5AB';
  palette-filled: '\E5AC';
  palette: '\E5AD';
  panorama-horizontal-filled: '\E5AE';
  panorama-horizontal: '\E5AF';
  panorama-vertical-filled: '\E5B0';
  panorama-vertical: '\E5B1';
  pantone-filled: '\E5B2';
  pantone: '\E5B3';
  parabola: '\E5B4';
  parentheses: '\E5B5';
  paste-filled: '\E5B6';
  paste: '\E5B7';
  patio-filled: '\E5B8';
  patio: '\E5B9';
  pause-circle-filled: '\E5BA';
  pause-circle-stroke-filled: '\E5BB';
  pause-circle-stroke: '\E5BC';
  pause-circle: '\E5BD';
  pause: '\E5BE';
  pea-filled: '\E5BF';
  pea: '\E5C0';
  peach-filled: '\E5C1';
  peach: '\E5C2';
  pear-filled: '\E5C3';
  pear: '\E5C4';
  pearl-of-the-orient-filled: '\E5C5';
  pearl-of-the-orient: '\E5C6';
  pen-ball-filled: '\E5C7';
  pen-ball: '\E5C8';
  pen-brush-filled: '\E5C9';
  pen-brush: '\E5CA';
  pen-filled: '\E5CB';
  pen-mark-filled: '\E5CC';
  pen-mark: '\E5CD';
  pen-quill-filled: '\E5CE';
  pen-quill: '\E5CF';
  pen: '\E5D0';
  pending-filled: '\E5D1';
  pending: '\E5D2';
  percent: '\E5D3';
  personal-information-filled: '\E5D4';
  personal-information: '\E5D5';
  phone-locked-filled: '\E5D6';
  phone-locked: '\E5D7';
  phone-search-filled: '\E5D8';
  phone-search: '\E5D9';
  pi: '\E5DA';
  piano-filled: '\E5DB';
  piano: '\E5DC';
  pin-filled: '\E5DD';
  pin: '\E5DE';
  play-circle-filled: '\E5DF';
  play-circle-stroke-add-filled: '\E5E0';
  play-circle-stroke-add: '\E5E1';
  play-circle-stroke-filled: '\E5E2';
  play-circle-stroke: '\E5E3';
  play-circle: '\E5E4';
  play-demo-filled: '\E5E5';
  play-demo: '\E5E6';
  play-rectangle-filled: '\E5E7';
  play-rectangle: '\E5E8';
  play: '\E5E9';
  plus: '\E5EA';
  popsicle-filled: '\E5EB';
  popsicle: '\E5EC';
  portrait-filled: '\E5ED';
  portrait: '\E5EE';
  pout-filled: '\E5EF';
  pout: '\E5F0';
  poweroff: '\E5F1';
  precise-monitor: '\E5F2';
  previous-filled: '\E5F3';
  previous: '\E5F4';
  print-filled: '\E5F5';
  print: '\E5F6';
  pumpkin-filled: '\E5F7';
  pumpkin: '\E5F8';
  pyramid-filled: '\E5F9';
  pyramid-maya-filled: '\E5FA';
  pyramid-maya: '\E5FB';
  pyramid: '\E5FC';
  qrcode: '\E5FD';
  quadratic: '\E5FE';
  questionnaire-double-filled: '\E5FF';
  questionnaire-double: '\E600';
  questionnaire-filled: '\E601';
  questionnaire: '\E602';
  queue-filled: '\E603';
  queue: '\E604';
  radar: '\E605';
  radio-1-filled: '\E606';
  radio-1: '\E607';
  radio-2-filled: '\E608';
  radio-2: '\E609';
  radish-filled: '\E60A';
  radish: '\E60B';
  rain-heavy: '\E60C';
  rain-light-filled: '\E60D';
  rain-light: '\E60E';
  rain-medium: '\E60F';
  rainbow: '\E610';
  rectangle-filled: '\E611';
  rectangle: '\E612';
  refresh: '\E613';
  relation: '\E614';
  relativity-filled: '\E615';
  relativity: '\E616';
  remote-wave-filled: '\E617';
  remote-wave: '\E618';
  remove: '\E619';
  replay-filled: '\E61A';
  replay: '\E61B';
  rice-ball-filled: '\E61C';
  rice-ball: '\E61D';
  rice-filled: '\E61E';
  rice: '\E61F';
  roast-filled: '\E620';
  roast: '\E621';
  rocket-filled: '\E622';
  rocket: '\E623';
  rollback: '\E624';
  rollfront: '\E625';
  root-list-filled: '\E626';
  root-list: '\E627';
  rotate-locked-filled: '\E628';
  rotate-locked: '\E629';
  rotate: '\E62A';
  rotation: '\E62B';
  round-filled: '\E62C';
  round: '\E62D';
  router-wave-filled: '\E62E';
  router-wave: '\E62F';
  rss: '\E630';
  ruler-filled: '\E631';
  ruler: '\E632';
  sailing-hotel-filled: '\E633';
  sailing-hotel: '\E634';
  sandwich-filled: '\E635';
  sandwich: '\E636';
  saturation-filled: '\E637';
  saturation: '\E638';
  sausage-filled: '\E639';
  sausage: '\E63A';
  save-filled: '\E63B';
  save: '\E63C';
  saving-pot-filled: '\E63D';
  saving-pot: '\E63E';
  scan: '\E63F';
  screen-4k-filled: '\E640';
  screen-4k: '\E641';
  screencast-filled: '\E642';
  screencast: '\E643';
  screenshot: '\E644';
  scroll-bar-filled: '\E645';
  scroll-bar: '\E646';
  sd-card-1-filled: '\E647';
  sd-card-1: '\E648';
  sd-card-filled: '\E649';
  sd-card: '\E64A';
  search-error-filled: '\E64B';
  search-error: '\E64C';
  search-filled: '\E64D';
  search: '\E64E';
  secured-filled: '\E64F';
  secured: '\E650';
  send-cancel-filled: '\E651';
  send-cancel: '\E652';
  send-filled: '\E653';
  send: '\E654';
  sensors-1: '\E655';
  sensors-2: '\E656';
  sensors-off: '\E657';
  sensors: '\E658';
  sequence-filled: '\E659';
  sequence: '\E65A';
  serenity-filled: '\E65B';
  serenity: '\E65C';
  server-filled: '\E65D';
  server: '\E65E';
  service-filled: '\E65F';
  service: '\E660';
  setting-1-filled: '\E661';
  setting-1: '\E662';
  setting-filled: '\E663';
  setting: '\E664';
  share-1-filled: '\E665';
  share-1: '\E666';
  share-filled: '\E667';
  share: '\E668';
  sharpness-filled: '\E669';
  sharpness: '\E66A';
  shield-error-filled: '\E66B';
  shield-error: '\E66C';
  shimen-filled: '\E66D';
  shimen: '\E66E';
  shop-1-filled: '\E66F';
  shop-1: '\E670';
  shop-2-filled: '\E671';
  shop-2: '\E672';
  shop-3-filled: '\E673';
  shop-3: '\E674';
  shop-4-filled: '\E675';
  shop-4: '\E676';
  shop-5-filled: '\E677';
  shop-5: '\E678';
  shop-filled: '\E679';
  shop: '\E67A';
  shrimp-filled: '\E67B';
  shrimp: '\E67C';
  shrink-horizontal: '\E67D';
  shrink-vertical: '\E67E';
  shutter-filled: '\E67F';
  shutter: '\E680';
  shutup-filled: '\E681';
  shutup: '\E682';
  sim-card-1-filled: '\E683';
  sim-card-1: '\E684';
  sim-card-2-filled: '\E685';
  sim-card-2: '\E686';
  sim-card-filled: '\E687';
  sim-card: '\E688';
  sinister-smile-filled: '\E689';
  sinister-smile: '\E68A';
  sip-filled: '\E68B';
  sip: '\E68C';
  sitemap-filled: '\E68D';
  sitemap: '\E68E';
  slash: '\E68F';
  sleep-filled: '\E690';
  sleep: '\E691';
  slice-filled: '\E692';
  slice: '\E693';
  slideshow-filled: '\E694';
  slideshow: '\E695';
  smile-filled: '\E696';
  smile: '\E697';
  sneer-filled: '\E698';
  sneer: '\E699';
  snowflake: '\E69A';
  sonic: '\E69B';
  sound-down-filled: '\E69C';
  sound-down: '\E69D';
  sound-filled: '\E69E';
  sound-high-filled: '\E69F';
  sound-high: '\E6A0';
  sound-low-filled: '\E6A1';
  sound-low: '\E6A2';
  sound-mute-1-filled: '\E6A3';
  sound-mute-1: '\E6A4';
  sound-mute-filled: '\E6A5';
  sound-mute: '\E6A6';
  sound-up-filled: '\E6A7';
  sound-up: '\E6A8';
  sound: '\E6A9';
  space: '\E6AA';
  speechless-1-filled: '\E6AB';
  speechless-1: '\E6AC';
  speechless-filled: '\E6AD';
  speechless: '\E6AE';
  star-filled: '\E6AF';
  star: '\E6B0';
  statue-of-jesus-filled: '\E6B1';
  statue-of-jesus: '\E6B2';
  sticky-note-filled: '\E6B3';
  sticky-note: '\E6B4';
  stop-circle-filled: '\E6B5';
  stop-circle-stroke-filled: '\E6B6';
  stop-circle-stroke: '\E6B7';
  stop-circle: '\E6B8';
  stop: '\E6B9';
  store-filled: '\E6BA';
  store: '\E6BB';
  street-road-1-filled: '\E6BC';
  street-road-1: '\E6BD';
  street-road-filled: '\E6BE';
  street-road: '\E6BF';
  subtitle-filled: '\E6C0';
  subtitle: '\E6C1';
  subway-line-filled: '\E6C2';
  subway-line: '\E6C3';
  sum: '\E6C4';
  sun-fall-filled: '\E6C5';
  sun-fall: '\E6C6';
  sun-rising-filled: '\E6C7';
  sun-rising: '\E6C8';
  sunny-filled: '\E6C9';
  sunny: '\E6CA';
  support-filled: '\E6CB';
  support: '\E6CC';
  surprised-1-filled: '\E6CD';
  surprised-1: '\E6CE';
  surprised-filled: '\E6CF';
  surprised: '\E6D0';
  swap-left: '\E6D1';
  swap-right: '\E6D2';
  swap: '\E6D3';
  swear-1-filled: '\E6D4';
  swear-1: '\E6D5';
  swear-2-filled: '\E6D6';
  swear-2: '\E6D7';
  system-2: '\E6D8';
  system-3-filled: '\E6D9';
  system-3: '\E6DA';
  system-application-filled: '\E6DB';
  system-application: '\E6DC';
  system-blocked-filled: '\E6DD';
  system-blocked: '\E6DE';
  system-code-filled: '\E6DF';
  system-code: '\E6E0';
  system-components-filled: '\E6E1';
  system-components: '\E6E2';
  system-coordinate-filled: '\E6E3';
  system-coordinate: '\E6E4';
  system-device-filled: '\E6E5';
  system-device: '\E6E6';
  system-interface-filled: '\E6E7';
  system-interface: '\E6E8';
  system-location-filled: '\E6E9';
  system-location: '\E6EA';
  system-locked-filled: '\E6EB';
  system-locked: '\E6EC';
  system-log-filled: '\E6ED';
  system-log: '\E6EE';
  system-marked-filled: '\E6EF';
  system-marked: '\E6F0';
  system-messages-filled: '\E6F1';
  system-messages: '\E6F2';
  system-regulation-filled: '\E6F3';
  system-regulation: '\E6F4';
  system-search-filled: '\E6F5';
  system-search: '\E6F6';
  system-setting-filled: '\E6F7';
  system-setting: '\E6F8';
  system-storage-filled: '\E6F9';
  system-storage: '\E6FA';
  system-sum: '\E6FB';
  system-unlocked-filled: '\E6FC';
  system-unlocked: '\E6FD';
  tab-filled: '\E6FE';
  tab: '\E6FF';
  table-1-filled: '\E700';
  table-1: '\E701';
  table-2-filled: '\E702';
  table-2: '\E703';
  table-add-filled: '\E704';
  table-add: '\E705';
  table-filled: '\E706';
  table-split-filled: '\E707';
  table-split: '\E708';
  table: '\E709';
  tag-filled: '\E70A';
  tag: '\E70B';
  tangerinr-filled: '\E70C';
  tangerinr: '\E70D';
  tape-filled: '\E70E';
  tape: '\E70F';
  task-1-filled: '\E710';
  task-1: '\E711';
  task-add-1: '\E712';
  task-add-filled: '\E713';
  task-add: '\E714';
  task-checked-1: '\E715';
  task-checked-filled: '\E716';
  task-checked: '\E717';
  task-double-filled: '\E718';
  task-double: '\E719';
  task-error-filled: '\E71A';
  task-error: '\E71B';
  task-filled: '\E71C';
  task-location-filled: '\E71D';
  task-location: '\E71E';
  task-marked-filled: '\E71F';
  task-marked: '\E720';
  task-setting-filled: '\E721';
  task-setting: '\E722';
  task-time-filled: '\E723';
  task-time: '\E724';
  task-visible-filled: '\E725';
  task-visible: '\E726';
  task: '\E727';
  tea-filled: '\E728';
  tea: '\E729';
  teahouse-filled: '\E72A';
  teahouse: '\E72B';
  template-filled: '\E72C';
  template: '\E72D';
  temple-filled: '\E72E';
  temple: '\E72F';
  terminal-rectangle-1-filled: '\E730';
  terminal-rectangle-1: '\E731';
  terminal-rectangle-filled: '\E732';
  terminal-rectangle: '\E733';
  terminal-window-filled: '\E734';
  terminal-window: '\E735';
  terminal: '\E736';
  textbox-filled: '\E737';
  textbox: '\E738';
  textformat-bold: '\E739';
  textformat-color: '\E73A';
  textformat-italic: '\E73B';
  textformat-strikethrough: '\E73C';
  textformat-underline: '\E73D';
  textformat-wrap: '\E73E';
  theaters-filled: '\E73F';
  theaters: '\E740';
  thumb-down-1-filled: '\E741';
  thumb-down-1: '\E742';
  thumb-down-2-filled: '\E743';
  thumb-down-2: '\E744';
  thumb-down-filled: '\E745';
  thumb-down: '\E746';
  thumb-up-1-filled: '\E747';
  thumb-up-1: '\E748';
  thumb-up-2-filled: '\E749';
  thumb-up-2: '\E74A';
  thumb-up-filled: '\E74B';
  thumb-up: '\E74C';
  thunder: '\E74D';
  thunderstorm-night-filled: '\E74E';
  thunderstorm-night: '\E74F';
  thunderstorm-sunny-filled: '\E750';
  thunderstorm-sunny: '\E751';
  thunderstorm: '\E752';
  ticket-filled: '\E753';
  ticket: '\E754';
  time-filled: '\E755';
  time: '\E756';
  tips-double-filled: '\E757';
  tips-double: '\E758';
  tips-filled: '\E759';
  tips: '\E75A';
  tomato-filled: '\E75B';
  tomato: '\E75C';
  tools-circle-filled: '\E75D';
  tools-circle: '\E75E';
  tools-filled: '\E75F';
  tools: '\E760';
  tornado: '\E761';
  tower-1-filled: '\E762';
  tower-1: '\E763';
  tower-2-filled: '\E764';
  tower-2: '\E765';
  tower-3-filled: '\E766';
  tower-3: '\E767';
  tower-clock-filled: '\E768';
  tower-clock: '\E769';
  tower-filled: '\E76A';
  tower: '\E76B';
  town-filled: '\E76C';
  town: '\E76D';
  traffic-events-filled: '\E76E';
  traffic-events: '\E76F';
  traffic-filled: '\E770';
  traffic: '\E771';
  transform-1-filled: '\E772';
  transform-1: '\E773';
  transform-2: '\E774';
  transform-3: '\E775';
  transform-filled: '\E776';
  transform: '\E777';
  translate-1: '\E778';
  translate: '\E779';
  tree-round-dot-filled: '\E77A';
  tree-round-dot-vertical-filled: '\E77B';
  tree-round-dot-vertical: '\E77C';
  tree-round-dot: '\E77D';
  tree-square-dot-filled: '\E77E';
  tree-square-dot-vertical-filled: '\E77F';
  tree-square-dot-vertical: '\E780';
  tree-square-dot: '\E781';
  trending-down: '\E782';
  trending-up: '\E783';
  tv-1-filled: '\E784';
  tv-1: '\E785';
  tv-2-filled: '\E786';
  tv-2: '\E787';
  tv-filled: '\E788';
  tv: '\E789';
  typography-filled: '\E78A';
  typography: '\E78B';
  uncomfortable-1-filled: '\E78C';
  uncomfortable-1: '\E78D';
  uncomfortable-2-filled: '\E78E';
  uncomfortable-2: '\E78F';
  uncomfortable-filled: '\E790';
  uncomfortable: '\E791';
  undertake-delivery-filled: '\E792';
  undertake-delivery: '\E793';
  undertake-environment-protection-filled: '\E794';
  undertake-environment-protection: '\E795';
  undertake-filled: '\E796';
  undertake-hold-up-filled: '\E797';
  undertake-hold-up: '\E798';
  undertake-transaction-filled: '\E799';
  undertake-transaction: '\E79A';
  undertake: '\E79B';
  unfold-less: '\E79C';
  unfold-more: '\E79D';
  unhappy-1-filled: '\E79E';
  unhappy-1: '\E79F';
  unhappy-filled: '\E7A0';
  unhappy: '\E7A1';
  uninstall-filled: '\E7A2';
  uninstall: '\E7A3';
  upload-1: '\E7A4';
  upload: '\E7A5';
  upscale: '\E7A6';
  usb-filled: '\E7A7';
  usb: '\E7A8';
  user-1-filled: '\E7A9';
  user-1: '\E7AA';
  user-add-filled: '\E7AB';
  user-add: '\E7AC';
  user-arrow-down-filled: '\E7AD';
  user-arrow-down: '\E7AE';
  user-arrow-left-filled: '\E7AF';
  user-arrow-left: '\E7B0';
  user-arrow-right-filled: '\E7B1';
  user-arrow-right: '\E7B2';
  user-arrow-up-filled: '\E7B3';
  user-arrow-up: '\E7B4';
  user-avatar-filled: '\E7B5';
  user-avatar: '\E7B6';
  user-blocked-filled: '\E7B7';
  user-blocked: '\E7B8';
  user-business-filled: '\E7B9';
  user-business: '\E7BA';
  user-checked-1-filled: '\E7BB';
  user-checked-1: '\E7BC';
  user-checked-filled: '\E7BD';
  user-checked: '\E7BE';
  user-circle-filled: '\E7BF';
  user-circle: '\E7C0';
  user-clear-filled: '\E7C1';
  user-clear: '\E7C2';
  user-error-1-filled: '\E7C3';
  user-error-1: '\E7C4';
  user-filled: '\E7C5';
  user-invisible-filled: '\E7C6';
  user-invisible: '\E7C7';
  user-list-filled: '\E7C8';
  user-list: '\E7C9';
  user-locked-filled: '\E7CA';
  user-locked: '\E7CB';
  user-marked-filled: '\E7CC';
  user-marked: '\E7CD';
  user-password-filled: '\E7CE';
  user-password: '\E7CF';
  user-safety-filled: '\E7D0';
  user-safety: '\E7D1';
  user-search-filled: '\E7D2';
  user-search: '\E7D3';
  user-setting-filled: '\E7D4';
  user-setting: '\E7D5';
  user-talk-1-filled: '\E7D6';
  user-talk-1: '\E7D7';
  user-talk-filled: '\E7D8';
  user-talk-off-1-filled: '\E7D9';
  user-talk-off-1: '\E7DA';
  user-talk: '\E7DB';
  user-time-filled: '\E7DC';
  user-time: '\E7DD';
  user-transmit-filled: '\E7DE';
  user-transmit: '\E7DF';
  user-unknown-filled: '\E7E0';
  user-unknown: '\E7E1';
  user-unlocked-filled: '\E7E2';
  user-unlocked: '\E7E3';
  user-vip-filled: '\E7E4';
  user-vip: '\E7E5';
  user-visible-filled: '\E7E6';
  user-visible: '\E7E7';
  user: '\E7E8';
  usercase-filled: '\E7E9';
  usercase-link-filled: '\E7EA';
  usercase-link: '\E7EB';
  usercase: '\E7EC';
  usergroup-add-filled: '\E7ED';
  usergroup-add: '\E7EE';
  usergroup-clear-filled: '\E7EF';
  usergroup-clear: '\E7F0';
  usergroup-filled: '\E7F1';
  usergroup: '\E7F2';
  vehicle-filled: '\E7F3';
  vehicle: '\E7F4';
  verified-filled: '\E7F5';
  verified: '\E7F6';
  verify-filled: '\E7F7';
  verify: '\E7F8';
  vertical-filled: '\E7F9';
  vertical: '\E7FA';
  video-camera-1-filled: '\E7FB';
  video-camera-1: '\E7FC';
  video-camera-2-filled: '\E7FD';
  video-camera-2: '\E7FE';
  video-camera-3-filled: '\E7FF';
  video-camera-3: '\E800';
  video-camera-dollar-filled: '\E801';
  video-camera-dollar: '\E802';
  video-camera-filled: '\E803';
  video-camera-minus-filled: '\E804';
  video-camera-minus: '\E805';
  video-camera-music-filled: '\E806';
  video-camera-music: '\E807';
  video-camera-off-filled: '\E808';
  video-camera-off: '\E809';
  video-camera: '\E80A';
  video-filled: '\E80B';
  video-library-filled: '\E80C';
  video-library: '\E80D';
  video: '\E80E';
  view-agenda-filled: '\E80F';
  view-agenda: '\E810';
  view-column: '\E811';
  view-in-ar-filled: '\E812';
  view-in-ar: '\E813';
  view-list: '\E814';
  view-module-filled: '\E815';
  view-module: '\E816';
  visual-recognition-filled: '\E817';
  visual-recognition: '\E818';
  wallet-filled: '\E819';
  wallet: '\E81A';
  watch-filled: '\E81B';
  watch: '\E81C';
  watermelon-filled: '\E81D';
  watermelon: '\E81E';
  wave-bye-filled: '\E81F';
  wave-bye: '\E820';
  wave-left-filled: '\E821';
  wave-left: '\E822';
  wave-right-filled: '\E823';
  wave-right: '\E824';
  wealth-1-filled: '\E825';
  wealth-1: '\E826';
  wealth-filled: '\E827';
  wealth: '\E828';
  widget-filled: '\E829';
  widget: '\E82A';
  wifi-1-filled: '\E82B';
  wifi-1: '\E82C';
  wifi-off-1-filled: '\E82D';
  wifi-off-1: '\E82E';
  wifi-off: '\E82F';
  wifi: '\E830';
  window-1-filled: '\E831';
  window-1: '\E832';
  window-filled: '\E833';
  window: '\E834';
  windy-rain: '\E835';
  windy: '\E836';
  wink-filled: '\E837';
  wink: '\E838';
  work-filled: '\E839';
  work-history-filled: '\E83A';
  work-history: '\E83B';
  work-off-filled: '\E83C';
  work-off: '\E83D';
  work: '\E83E';
  wry-smile-filled: '\E83F';
  wry-smile: '\E840';
  zoom-in-filled: '\E841';
  zoom-in: '\E842';
  zoom-out-filled: '\E843';
  zoom-out: '\E844';
};
