@icons: {
  activity: '\E001';
  add-and-subtract: '\E002';
  add-circle: '\E003';
  add-rectangle: '\E004';
  add: '\E005';
  address-book: '\E006';
  adjustment: '\E007';
  airplay-wave: '\E008';
  alarm-add: '\E009';
  alarm-off: '\E00A';
  alarm: '\E00B';
  align-top: '\E00C';
  align-vertical: '\E00D';
  alpha: '\E00E';
  analytics: '\E00F';
  anchor: '\E010';
  angry: '\E011';
  animation-1: '\E012';
  animation: '\E013';
  anticlockwise: '\E014';
  api: '\E015';
  app: '\E016';
  apple: '\E017';
  application: '\E018';
  architecture-hui-style: '\E019';
  archway-1: '\E01A';
  archway: '\E01B';
  arrow-down-circle: '\E01C';
  arrow-down-rectangle: '\E01D';
  arrow-down: '\E01E';
  arrow-left-circle: '\E01F';
  arrow-left-down-circle: '\E020';
  arrow-left-down: '\E021';
  arrow-left-right-1: '\E022';
  arrow-left-right-2: '\E023';
  arrow-left-right-3: '\E024';
  arrow-left-right-circle: '\E025';
  arrow-left-up-circle: '\E026';
  arrow-left-up: '\E027';
  arrow-left: '\E028';
  arrow-right-circle: '\E029';
  arrow-right-down-circle: '\E02A';
  arrow-right-down: '\E02B';
  arrow-right-up-circle: '\E02C';
  arrow-right-up: '\E02D';
  arrow-right: '\E02E';
  arrow-triangle-down-filled: '\E02F';
  arrow-triangle-down: '\E030';
  arrow-triangle-up-filled: '\E031';
  arrow-triangle-up: '\E032';
  arrow-up-circle: '\E033';
  arrow-up-down-1: '\E034';
  arrow-up-down-2: '\E035';
  arrow-up-down-3: '\E036';
  arrow-up-down-circle: '\E037';
  arrow-up: '\E038';
  artboard: '\E039';
  article: '\E03A';
  assignment-checked: '\E03B';
  assignment-code: '\E03C';
  assignment-error: '\E03D';
  assignment-user: '\E03E';
  assignment: '\E03F';
  attach: '\E040';
  attic-1: '\E041';
  attic: '\E042';
  audio: '\E043';
  awkward: '\E044';
  backtop-rectangle: '\E045';
  backtop: '\E046';
  backup: '\E047';
  backward: '\E048';
  bad-laugh: '\E049';
  bamboo-shoot: '\E04A';
  banana: '\E04B';
  barbecue: '\E04C';
  barcode-1: '\E04D';
  barcode: '\E04E';
  base-station: '\E04F';
  battery-add: '\E050';
  battery-charging: '\E051';
  battery-low: '\E052';
  battery: '\E053';
  bean: '\E054';
  beer: '\E055';
  beta: '\E056';
  bifurcate: '\E057';
  bill: '\E058';
  blockchain: '\E059';
  bluetooth: '\E05A';
  bone: '\E05B';
  book-open: '\E05C';
  book: '\E05D';
  bookmark-add: '\E05E';
  bookmark-checked: '\E05F';
  bookmark-double: '\E060';
  bookmark-minus: '\E061';
  bookmark: '\E062';
  braces: '\E063';
  brackets: '\E064';
  bread: '\E065';
  bridge-1: '\E066';
  bridge-2: '\E067';
  bridge-3: '\E068';
  bridge-4: '\E069';
  bridge-5: '\E06A';
  bridge-6: '\E06B';
  bridge: '\E06C';
  brightness-1: '\E06D';
  brightness: '\E06E';
  broccoli: '\E06F';
  browse-gallery: '\E070';
  browse-off: '\E071';
  browse: '\E072';
  brush: '\E073';
  bug-report: '\E074';
  bug: '\E075';
  building-1: '\E076';
  building-2: '\E077';
  building-3: '\E078';
  building-4: '\E079';
  building-5: '\E07A';
  building: '\E07B';
  bulletpoint: '\E07C';
  button: '\E07D';
  cabbage: '\E07E';
  cake: '\E07F';
  calculation-1: '\E080';
  calculation: '\E081';
  calculator-1: '\E082';
  calculator: '\E083';
  calendar-1: '\E084';
  calendar-2: '\E085';
  calendar-edit: '\E086';
  calendar-event: '\E087';
  calendar: '\E088';
  call-1: '\E089';
  call-cancel: '\E08A';
  call-forwarded: '\E08B';
  call-incoming: '\E08C';
  call-off: '\E08D';
  call: '\E08E';
  calm-1: '\E08F';
  calm: '\E090';
  camera-1: '\E091';
  camera-2: '\E092';
  camera-off: '\E093';
  camera: '\E094';
  candy: '\E095';
  card: '\E096';
  cardmembership: '\E097';
  caret-down-small: '\E098';
  caret-down: '\E099';
  caret-left-small: '\E09A';
  caret-left: '\E09B';
  caret-right-small: '\E09C';
  caret-right: '\E09D';
  caret-up-small: '\E09E';
  caret-up: '\E09F';
  cart-add: '\E0A0';
  cart: '\E0A1';
  cast: '\E0A2';
  castle-1: '\E0A3';
  castle-2: '\E0A4';
  castle-3: '\E0A5';
  castle-4: '\E0A6';
  castle-5: '\E0A7';
  castle-6: '\E0A8';
  castle-7: '\E0A9';
  castle: '\E0AA';
  cat: '\E0AB';
  catalog: '\E0AC';
  cd: '\E0AD';
  celsius: '\E0AE';
  center-focus-strong: '\E0AF';
  centimeter: '\E0B0';
  certificate-1: '\E0B1';
  certificate: '\E0B2';
  chart-3d: '\E0B3';
  chart-add: '\E0B4';
  chart-analytics: '\E0B5';
  chart-area-multi: '\E0B6';
  chart-area: '\E0B7';
  chart-bar: '\E0B8';
  chart-bubble: '\E0B9';
  chart-column: '\E0BA';
  chart-combo: '\E0BB';
  chart-line-data-1: '\E0BC';
  chart-line-data: '\E0BD';
  chart-line-multi: '\E0BE';
  chart-line: '\E0BF';
  chart-maximum: '\E0C0';
  chart-median: '\E0C1';
  chart-minimum: '\E0C2';
  chart-pie: '\E0C3';
  chart-radar: '\E0C4';
  chart-radial: '\E0C5';
  chart-ring-1: '\E0C6';
  chart-ring: '\E0C7';
  chart-scatter: '\E0C8';
  chart-stacked: '\E0C9';
  chart: '\E0CA';
  chat-add: '\E0CB';
  chat-bubble-1: '\E0CC';
  chat-bubble-add: '\E0CD';
  chat-bubble-error: '\E0CE';
  chat-bubble-help: '\E0CF';
  chat-bubble-history: '\E0D0';
  chat-bubble-locked: '\E0D1';
  chat-bubble-smile: '\E0D2';
  chat-bubble: '\E0D3';
  chat-checked: '\E0D4';
  chat-clear: '\E0D5';
  chat-double: '\E0D6';
  chat-error: '\E0D7';
  chat-heart: '\E0D8';
  chat-message: '\E0D9';
  chat-off: '\E0DA';
  chat-poll: '\E0DB';
  chat-setting: '\E0DC';
  chat: '\E0DD';
  check-circle-filled: '\E0DE';
  check-circle: '\E0DF';
  check-double: '\E0E0';
  check-rectangle-filled: '\E0E1';
  check-rectangle: '\E0E2';
  check: '\E0E3';
  cheese: '\E0E4';
  cherry: '\E0E5';
  chevron-down-circle: '\E0E6';
  chevron-down-double-s: '\E0E7';
  chevron-down-double: '\E0E8';
  chevron-down-rectangle: '\E0E9';
  chevron-down-s: '\E0EA';
  chevron-down: '\E0EB';
  chevron-left-circle: '\E0EC';
  chevron-left-double-s: '\E0ED';
  chevron-left-double: '\E0EE';
  chevron-left-rectangle: '\E0EF';
  chevron-left-s: '\E0F0';
  chevron-left: '\E0F1';
  chevron-right-circle: '\E0F2';
  chevron-right-double-s: '\E0F3';
  chevron-right-double: '\E0F4';
  chevron-right-rectangle: '\E0F5';
  chevron-right-s: '\E0F6';
  chevron-right: '\E0F7';
  chevron-up-circle: '\E0F8';
  chevron-up-double-s: '\E0F9';
  chevron-up-double: '\E0FA';
  chevron-up-rectangle: '\E0FB';
  chevron-up-s: '\E0FC';
  chevron-up: '\E0FD';
  chicken: '\E0FE';
  chili: '\E0FF';
  chimney-1: '\E100';
  chimney-2: '\E101';
  chimney: '\E102';
  chinese-cabbage: '\E103';
  church: '\E104';
  circle: '\E105';
  city-1: '\E106';
  city-10: '\E107';
  city-11: '\E108';
  city-12: '\E109';
  city-13: '\E10A';
  city-14: '\E10B';
  city-15: '\E10C';
  city-2: '\E10D';
  city-3: '\E10E';
  city-4: '\E10F';
  city-5: '\E110';
  city-6: '\E111';
  city-7: '\E112';
  city-8: '\E113';
  city-9: '\E114';
  city-ancient-1: '\E115';
  city-ancient-2: '\E116';
  city-ancient: '\E117';
  city: '\E118';
  clear-formatting-1: '\E119';
  clear-formatting: '\E11A';
  clear: '\E11B';
  close-circle-filled: '\E11C';
  close-circle: '\E11D';
  close-octagon: '\E11E';
  close-rectangle: '\E11F';
  close: '\E120';
  cloud-download: '\E121';
  cloud-upload: '\E122';
  cloud: '\E123';
  cloudy-day: '\E124';
  cloudy-night-rain: '\E125';
  cloudy-night: '\E126';
  cloudy-rain: '\E127';
  cloudy-sunny: '\E128';
  code-1: '\E129';
  code-off: '\E12A';
  code: '\E12B';
  cola: '\E12C';
  collage: '\E12D';
  collection: '\E12E';
  color-invert: '\E12F';
  combination: '\E130';
  command: '\E131';
  compass-1: '\E132';
  compass: '\E133';
  component-breadcrumb: '\E134';
  component-checkbox: '\E135';
  component-divider-horizontal: '\E136';
  component-divider-vertical: '\E137';
  component-dropdown: '\E138';
  component-grid: '\E139';
  component-input: '\E13A';
  component-layout: '\E13B';
  component-radio: '\E13C';
  component-space: '\E13D';
  component-steps: '\E13E';
  component-switch: '\E13F';
  constraint: '\E140';
  contrast-1: '\E141';
  contrast: '\E142';
  control-platform: '\E143';
  cooperate: '\E144';
  coordinate-system: '\E145';
  copy: '\E146';
  copyright: '\E147';
  corn: '\E148';
  coupon: '\E149';
  course: '\E14A';
  cpu: '\E14B';
  crack: '\E14C';
  creditcard-add: '\E14D';
  creditcard-off: '\E14E';
  creditcard: '\E14F';
  crooked-smile: '\E150';
  cry-and-laugh: '\E151';
  cry-loudly: '\E152';
  css3: '\E153';
  cucumber: '\E154';
  currency-exchange: '\E155';
  cursor: '\E156';
  curtain: '\E157';
  curve: '\E158';
  cut-1: '\E159';
  cut: '\E15A';
  dam-1: '\E15B';
  dam-2: '\E15C';
  dam-3: '\E15D';
  dam-4: '\E15E';
  dam-5: '\E15F';
  dam-6: '\E160';
  dam-7: '\E161';
  dam: '\E162';
  dart-board: '\E163';
  dashboard-1: '\E164';
  dashboard: '\E165';
  data-base: '\E166';
  data-checked: '\E167';
  data-display: '\E168';
  data-error: '\E169';
  data-search: '\E16A';
  data: '\E16B';
  delete-1: '\E16C';
  delete-time: '\E16D';
  delete: '\E16E';
  delta: '\E16F';
  depressed: '\E170';
  desktop-1: '\E171';
  desktop: '\E172';
  despise: '\E173';
  device: '\E174';
  discount-filled: '\E175';
  discount: '\E176';
  dissatisfaction: '\E177';
  divide: '\E178';
  dividers-1: '\E179';
  dividers: '\E17A';
  doge: '\E17B';
  double-storey: '\E17C';
  download-1: '\E17D';
  download: '\E17E';
  downscale: '\E17F';
  drag-drop: '\E180';
  drag-move: '\E181';
  drink: '\E182';
  drumstick: '\E183';
  dv: '\E184';
  dvd: '\E185';
  earphone: '\E186';
  earth: '\E187';
  edit-1: '\E188';
  edit-2: '\E189';
  edit-off: '\E18A';
  edit: '\E18B';
  education: '\E18C';
  eggplant: '\E18D';
  ellipsis: '\E18E';
  emo-emotional: '\E18F';
  enter: '\E190';
  equal: '\E191';
  error-circle-filled: '\E192';
  error-circle: '\E193';
  error-triangle: '\E194';
  error: '\E195';
  excited-1: '\E196';
  excited: '\E197';
  expand-horizontal: '\E198';
  expand-vertical: '\E199';
  explore-off: '\E19A';
  explore: '\E19B';
  exposure: '\E19C';
  extension-off: '\E19D';
  extension: '\E19E';
  face-retouching: '\E19F';
  fact-check: '\E1A0';
  fahrenheit-scale: '\E1A1';
  feel-at-ease: '\E1A2';
  ferocious: '\E1A3';
  ferris-wheel: '\E1A4';
  file-1: '\E1A5';
  file-add-1: '\E1A6';
  file-add: '\E1A7';
  file-attachment: '\E1A8';
  file-blocked: '\E1A9';
  file-code-1: '\E1AA';
  file-code: '\E1AB';
  file-copy: '\E1AC';
  file-download: '\E1AD';
  file-excel: '\E1AE';
  file-export: '\E1AF';
  file-icon: '\E1B0';
  file-image: '\E1B1';
  file-import: '\E1B2';
  file-locked: '\E1B3';
  file-minus: '\E1B4';
  file-music: '\E1B5';
  file-onenote: '\E1B6';
  file-outlook: '\E1B7';
  file-paste: '\E1B8';
  file-pdf: '\E1B9';
  file-powerpoint: '\E1BA';
  file-restore: '\E1BB';
  file-safety: '\E1BC';
  file-search: '\E1BD';
  file-setting: '\E1BE';
  file-teams: '\E1BF';
  file-unknown: '\E1C0';
  file-unlocked: '\E1C1';
  file-word: '\E1C2';
  file-zip: '\E1C3';
  file: '\E1C4';
  fill-color-1: '\E1C5';
  fill-color: '\E1C6';
  film-1: '\E1C7';
  film: '\E1C8';
  filter-1: '\E1C9';
  filter-2: '\E1CA';
  filter-3: '\E1CB';
  filter-clear: '\E1CC';
  filter-off: '\E1CD';
  filter: '\E1CE';
  fingerprint-1: '\E1CF';
  fingerprint-2: '\E1D0';
  fingerprint-3: '\E1D1';
  fingerprint: '\E1D2';
  fish: '\E1D3';
  flag-1: '\E1D4';
  flag-2: '\E1D5';
  flag-3: '\E1D6';
  flag-4: '\E1D7';
  flag: '\E1D8';
  flashlight: '\E1D9';
  flight-landing: '\E1DA';
  flight-takeoff: '\E1DB';
  flip-smiling-face: '\E1DC';
  flip-to-back: '\E1DD';
  flip-to-front: '\E1DE';
  focus: '\E1DF';
  fog-night: '\E1E0';
  fog-sunny: '\E1E1';
  fog: '\E1E2';
  folder-1: '\E1E3';
  folder-add-1: '\E1E4';
  folder-add: '\E1E5';
  folder-blocked: '\E1E6';
  folder-details: '\E1E7';
  folder-export: '\E1E8';
  folder-import: '\E1E9';
  folder-locked: '\E1EA';
  folder-minus: '\E1EB';
  folder-move: '\E1EC';
  folder-off: '\E1ED';
  folder-open-1: '\E1EE';
  folder-open: '\E1EF';
  folder-search: '\E1F0';
  folder-setting: '\E1F1';
  folder-shared: '\E1F2';
  folder-unlocked: '\E1F3';
  folder-zip: '\E1F4';
  folder: '\E1F5';
  forest: '\E1F6';
  fork: '\E1F7';
  form: '\E1F8';
  format-horizontal-align-bottom: '\E1F9';
  format-horizontal-align-center: '\E1FA';
  format-horizontal-align-top: '\E1FB';
  format-vertical-align-center: '\E1FC';
  format-vertical-align-left: '\E1FD';
  format-vertical-align-right: '\E1FE';
  forward: '\E1FF';
  frame-1: '\E200';
  frame: '\E201';
  fries: '\E202';
  fullscreen-1: '\E203';
  fullscreen-2: '\E204';
  fullscreen-exit-1: '\E205';
  fullscreen-exit: '\E206';
  fullscreen: '\E207';
  function-curve: '\E208';
  functions-1: '\E209';
  functions: '\E20A';
  gamepad-1: '\E20B';
  gamepad: '\E20C';
  gamma: '\E20D';
  garlic: '\E20E';
  gender-female: '\E20F';
  gender-male: '\E210';
  gesture-applause: '\E211';
  gesture-click: '\E212';
  gesture-down: '\E213';
  gesture-expansion: '\E214';
  gesture-left-slip: '\E215';
  gesture-left: '\E216';
  gesture-pray-1: '\E217';
  gesture-pray: '\E218';
  gesture-press: '\E219';
  gesture-ranslation-1: '\E21A';
  gesture-ranslation: '\E21B';
  gesture-right-slip: '\E21C';
  gesture-right: '\E21D';
  gesture-slide-up: '\E21E';
  gesture-up-1: '\E21F';
  gesture-up-2: '\E220';
  gesture-up-and-down: '\E221';
  gesture-up: '\E222';
  gesture-wipe-down: '\E223';
  gift: '\E224';
  giggle: '\E225';
  git-branch: '\E226';
  git-commit: '\E227';
  git-merge: '\E228';
  git-pull-request: '\E229';
  git-repository-commits: '\E22A';
  git-repository-private: '\E22B';
  git-repository: '\E22C';
  gps: '\E22D';
  grape: '\E22E';
  greater-than-or-equal: '\E22F';
  greater-than: '\E230';
  green-onion: '\E231';
  grid-add: '\E232';
  grid-view: '\E233';
  guitar: '\E234';
  hamburger: '\E235';
  happy: '\E236';
  hard-disk-storage: '\E237';
  hard-drive: '\E238';
  hashtag: '\E239';
  hd: '\E23A';
  heart-filled: '\E23B';
  heart: '\E23C';
  help-circle-filled: '\E23D';
  help-circle: '\E23E';
  help-rectangle: '\E23F';
  help: '\E240';
  highlight-1: '\E241';
  highlight: '\E242';
  history-setting: '\E243';
  history: '\E244';
  home: '\E245';
  hospital-1: '\E246';
  hospital: '\E247';
  hotspot-wave: '\E248';
  hourglass: '\E249';
  houses-1: '\E24A';
  houses-2: '\E24B';
  houses: '\E24C';
  html5: '\E24D';
  https: '\E24E';
  ice-cream: '\E24F';
  icon: '\E250';
  image-1: '\E251';
  image-add: '\E252';
  image-edit: '\E253';
  image-error: '\E254';
  image-off: '\E255';
  image-search: '\E256';
  image: '\E257';
  indent-left: '\E258';
  indent-right: '\E259';
  indicator: '\E25A';
  info-circle-filled: '\E25B';
  info-circle: '\E25C';
  ink: '\E25D';
  install-desktop: '\E25E';
  install-mobile: '\E25F';
  install: '\E260';
  institution-checked: '\E261';
  institution: '\E262';
  internet: '\E263';
  ipod: '\E264';
  joyful: '\E265';
  jump-off: '\E266';
  jump: '\E267';
  keyboard: '\E268';
  laptop: '\E269';
  layers: '\E26A';
  layout: '\E26B';
  leaderboard: '\E26C';
  lemon-slice: '\E26D';
  lemon: '\E26E';
  less-than-or-equal: '\E26F';
  less-than: '\E270';
  letters-a: '\E271';
  letters-b: '\E272';
  letters-c: '\E273';
  letters-d: '\E274';
  letters-e: '\E275';
  letters-f: '\E276';
  letters-g: '\E277';
  letters-h: '\E278';
  letters-i: '\E279';
  letters-j: '\E27A';
  letters-k: '\E27B';
  letters-l: '\E27C';
  letters-m: '\E27D';
  letters-n: '\E27E';
  letters-o: '\E27F';
  letters-p: '\E280';
  letters-q: '\E281';
  letters-r: '\E282';
  letters-s: '\E283';
  letters-t: '\E284';
  letters-u: '\E285';
  letters-v: '\E286';
  letters-w: '\E287';
  letters-x: '\E288';
  letters-y: '\E289';
  letters-z: '\E28A';
  lightbulb-circle: '\E28B';
  lightbulb: '\E28C';
  lighthouse-1: '\E28D';
  lighthouse-2: '\E28E';
  lighthouse: '\E28F';
  lighting-circle: '\E290';
  line-height: '\E291';
  link-1: '\E292';
  link-unlink: '\E293';
  link: '\E294';
  liquor: '\E295';
  list-numbered: '\E296';
  list: '\E297';
  load: '\E298';
  loading: '\E299';
  location-1: '\E29A';
  location-enlargement: '\E29B';
  location-error: '\E29C';
  location-parking-place: '\E29D';
  location-reduction: '\E29E';
  location-setting: '\E29F';
  location: '\E2A0';
  lock-off-filled: '\E2A1';
  lock-off: '\E2A2';
  lock-on-filled: '\E2A3';
  lock-on: '\E2A4';
  lock-time: '\E2A5';
  login: '\E2A6';
  logo-adobe-illustrate: '\E2A7';
  logo-adobe-photoshop-1: '\E2A8';
  logo-adobe-photoshop: '\E2A9';
  logo-android: '\E2AA';
  logo-apple-filled: '\E2AB';
  logo-apple: '\E2AC';
  logo-behance: '\E2AD';
  logo-chrome-filled: '\E2AE';
  logo-chrome: '\E2AF';
  logo-cinema4d: '\E2B0';
  logo-codepen: '\E2B1';
  logo-codesandbox: '\E2B2';
  logo-dribbble: '\E2B3';
  logo-facebook: '\E2B4';
  logo-figma: '\E2B5';
  logo-framer: '\E2B6';
  logo-github-filled: '\E2B7';
  logo-github: '\E2B8';
  logo-gitlab: '\E2B9';
  logo-ie-filled: '\E2BA';
  logo-ie: '\E2BB';
  logo-instagram: '\E2BC';
  logo-qq: '\E2BD';
  logo-twitter: '\E2BE';
  logo-wechat-stroke: '\E2BF';
  logo-wechat: '\E2C0';
  logo-wecom: '\E2C1';
  logo-windows-filled: '\E2C2';
  logo-windows: '\E2C3';
  logo-youtube: '\E2C4';
  logout: '\E2C5';
  look-around: '\E2C6';
  loudspeaker: '\E2C7';
  mail: '\E2C8';
  map-3d: '\E2C9';
  map-add: '\E2CA';
  map-aiming: '\E2CB';
  map-blocked: '\E2CC';
  map-bubble: '\E2CD';
  map-cancel: '\E2CE';
  map-chat: '\E2CF';
  map-checked: '\E2D0';
  map-collection: '\E2D1';
  map-connection: '\E2D2';
  map-distance: '\E2D3';
  map-double: '\E2D4';
  map-edit: '\E2D5';
  map-grid: '\E2D6';
  map-information-1: '\E2D7';
  map-information-2: '\E2D8';
  map-information: '\E2D9';
  map-location: '\E2DA';
  map-locked: '\E2DB';
  map-marked: '\E2DC';
  map-navigation: '\E2DD';
  map-outline: '\E2DE';
  map-route-planning: '\E2DF';
  map-ruler: '\E2E0';
  map-safety: '\E2E1';
  map-search-1: '\E2E2';
  map-search: '\E2E3';
  map-setting: '\E2E4';
  map-unlocked: '\E2E5';
  map: '\E2E6';
  mark-as-unread: '\E2E7';
  markup: '\E2E8';
  mathematics: '\E2E9';
  measurement-1: '\E2EA';
  measurement-2: '\E2EB';
  measurement: '\E2EC';
  meat-pepper: '\E2ED';
  media-library: '\E2EE';
  member: '\E2EF';
  menu-application: '\E2F0';
  menu-fold: '\E2F1';
  menu-unfold: '\E2F2';
  menu: '\E2F3';
  merge-cells: '\E2F4';
  microphone-1: '\E2F5';
  microphone-2: '\E2F6';
  microphone: '\E2F7';
  milk: '\E2F8';
  minus-circle-filled: '\E2F9';
  minus-circle: '\E2FA';
  minus-rectangle-filled: '\E2FB';
  minus-rectangle: '\E2FC';
  minus: '\E2FD';
  mirror: '\E2FE';
  mobile-blocked: '\E2FF';
  mobile-list: '\E300';
  mobile-navigation: '\E301';
  mobile-shortcut: '\E302';
  mobile-vibrate: '\E303';
  mobile: '\E304';
  mode-dark: '\E305';
  mode-light: '\E306';
  module: '\E307';
  money: '\E308';
  monument: '\E309';
  moon-fall: '\E30A';
  moon-rising: '\E30B';
  moon: '\E30C';
  more: '\E30D';
  mosque-1: '\E30E';
  mosque: '\E30F';
  mouse: '\E310';
  move-1: '\E311';
  move: '\E312';
  movie-clapper: '\E313';
  multiply: '\E314';
  museum-1: '\E315';
  museum-2: '\E316';
  museum: '\E317';
  mushroom-1: '\E318';
  mushroom: '\E319';
  music-1: '\E31A';
  music-2: '\E31B';
  music-rectangle-add: '\E31C';
  music: '\E31D';
  navigation-arrow: '\E31E';
  next: '\E31F';
  no-expression: '\E320';
  noodle: '\E321';
  notification-add: '\E322';
  notification-circle: '\E323';
  notification-error: '\E324';
  notification-filled: '\E325';
  notification: '\E326';
  numbers-0-1: '\E327';
  numbers-0: '\E328';
  numbers-1-1: '\E329';
  numbers-1: '\E32A';
  numbers-2-1: '\E32B';
  numbers-2: '\E32C';
  numbers-3-1: '\E32D';
  numbers-3: '\E32E';
  numbers-4-1: '\E32F';
  numbers-4: '\E330';
  numbers-5-1: '\E331';
  numbers-5: '\E332';
  numbers-6-1: '\E333';
  numbers-6: '\E334';
  numbers-7-1: '\E335';
  numbers-7: '\E336';
  numbers-8-1: '\E337';
  numbers-8: '\E338';
  numbers-9-1: '\E339';
  numbers-9: '\E33A';
  nut: '\E33B';
  object-storage: '\E33C';
  open-mouth: '\E33D';
  opera: '\E33E';
  order-adjustment-column: '\E33F';
  order-ascending: '\E340';
  order-descending: '\E341';
  outbox: '\E342';
  page-first: '\E343';
  page-head: '\E344';
  page-last: '\E345';
  palace-1: '\E346';
  palace-2: '\E347';
  palace-3: '\E348';
  palace-4: '\E349';
  palace: '\E34A';
  palette-1: '\E34B';
  palette: '\E34C';
  panorama-horizontal: '\E34D';
  panorama-vertical: '\E34E';
  pantone: '\E34F';
  parabola: '\E350';
  parentheses: '\E351';
  paste: '\E352';
  patio: '\E353';
  pause-circle-filled: '\E354';
  pause-circle-stroke: '\E355';
  pause-circle: '\E356';
  pause: '\E357';
  pea: '\E358';
  peach: '\E359';
  pear: '\E35A';
  pearl-of-the-orient: '\E35B';
  pen-ball: '\E35C';
  pen-brush: '\E35D';
  pen-mark: '\E35E';
  pen-quill: '\E35F';
  pen: '\E360';
  pending: '\E361';
  percent: '\E362';
  personal-information: '\E363';
  phone-locked: '\E364';
  phone-search: '\E365';
  pi: '\E366';
  piano: '\E367';
  pin-filled: '\E368';
  pin: '\E369';
  play-circle-filled: '\E36A';
  play-circle-stroke-add: '\E36B';
  play-circle-stroke: '\E36C';
  play-circle: '\E36D';
  play-demo: '\E36E';
  play-rectangle: '\E36F';
  play: '\E370';
  plus: '\E371';
  popsicle: '\E372';
  portrait: '\E373';
  pout: '\E374';
  poweroff: '\E375';
  precise-monitor: '\E376';
  previous: '\E377';
  print: '\E378';
  pumpkin: '\E379';
  pyramid-maya: '\E37A';
  pyramid: '\E37B';
  qrcode: '\E37C';
  quadratic: '\E37D';
  questionnaire: '\E37E';
  queue: '\E37F';
  radar: '\E380';
  radio-1: '\E381';
  radio-2: '\E382';
  radish: '\E383';
  rain-heavy: '\E384';
  rain-light: '\E385';
  rain-medium: '\E386';
  rainbow: '\E387';
  rectangle: '\E388';
  refresh: '\E389';
  relation: '\E38A';
  relativity: '\E38B';
  remote-wave: '\E38C';
  remove: '\E38D';
  replay: '\E38E';
  rice-ball: '\E38F';
  rice: '\E390';
  roast: '\E391';
  rocket: '\E392';
  rollback: '\E393';
  rollfront: '\E394';
  root-list: '\E395';
  rotate-locked: '\E396';
  rotate: '\E397';
  rotation: '\E398';
  round: '\E399';
  router-wave: '\E39A';
  rss: '\E39B';
  ruler: '\E39C';
  sailing-hotel: '\E39D';
  sandwich: '\E39E';
  saturation: '\E39F';
  sausage: '\E3A0';
  save: '\E3A1';
  saving-pot: '\E3A2';
  scan: '\E3A3';
  screen-4k: '\E3A4';
  screencast: '\E3A5';
  screenshot: '\E3A6';
  scroll-bar: '\E3A7';
  sd-card-1: '\E3A8';
  sd-card: '\E3A9';
  search-error: '\E3AA';
  search: '\E3AB';
  secured: '\E3AC';
  send-cancel: '\E3AD';
  send: '\E3AE';
  sensors-1: '\E3AF';
  sensors-2: '\E3B0';
  sensors-off: '\E3B1';
  sensors: '\E3B2';
  serenity: '\E3B3';
  server: '\E3B4';
  service: '\E3B5';
  setting-1: '\E3B6';
  setting: '\E3B7';
  share-1: '\E3B8';
  share: '\E3B9';
  sharpness: '\E3BA';
  shield-error: '\E3BB';
  shimen: '\E3BC';
  shop-1: '\E3BD';
  shop-2: '\E3BE';
  shop-3: '\E3BF';
  shop-4: '\E3C0';
  shop-5: '\E3C1';
  shop: '\E3C2';
  shrimp: '\E3C3';
  shrink-horizontal: '\E3C4';
  shrink-vertical: '\E3C5';
  shutter: '\E3C6';
  shutup: '\E3C7';
  sim-card-1: '\E3C8';
  sim-card-2: '\E3C9';
  sim-card: '\E3CA';
  sinister-smile: '\E3CB';
  sip: '\E3CC';
  slash: '\E3CD';
  sleep: '\E3CE';
  slice: '\E3CF';
  slideshow: '\E3D0';
  smile: '\E3D1';
  sneer: '\E3D2';
  snowflake: '\E3D3';
  sonic: '\E3D4';
  sound-down: '\E3D5';
  sound-high: '\E3D6';
  sound-low: '\E3D7';
  sound-mute-1: '\E3D8';
  sound-mute: '\E3D9';
  sound-up: '\E3DA';
  sound: '\E3DB';
  space: '\E3DC';
  speechless-1: '\E3DD';
  star-filled: '\E3DE';
  star: '\E3DF';
  statue-of-jesus: '\E3E0';
  sticky-note: '\E3E1';
  stop-circle-filled: '\E3E2';
  stop-circle-stroke: '\E3E3';
  stop-circle: '\E3E4';
  stop: '\E3E5';
  store: '\E3E6';
  street-road-1: '\E3E7';
  street-road: '\E3E8';
  subtitle: '\E3E9';
  subway-line: '\E3EA';
  sum: '\E3EB';
  sun-fall: '\E3EC';
  sun-rising: '\E3ED';
  sunny: '\E3EE';
  support: '\E3EF';
  surprised-1: '\E3F0';
  surprised: '\E3F1';
  swap-left: '\E3F2';
  swap-right: '\E3F3';
  swap: '\E3F4';
  swear-1: '\E3F5';
  swear-2: '\E3F6';
  system-2: '\E3F7';
  system-3: '\E3F8';
  system-application: '\E3F9';
  system-blocked: '\E3FA';
  system-code: '\E3FB';
  system-components: '\E3FC';
  system-coordinate: '\E3FD';
  system-device: '\E3FE';
  system-interface: '\E3FF';
  system-location: '\E400';
  system-locked: '\E401';
  system-log: '\E402';
  system-marked: '\E403';
  system-messages: '\E404';
  system-regulation: '\E405';
  system-search: '\E406';
  system-setting: '\E407';
  system-storage: '\E408';
  system-sum: '\E409';
  system-unlocked: '\E40A';
  tab: '\E40B';
  table-1: '\E40C';
  table-2: '\E40D';
  table-add: '\E40E';
  table-split: '\E40F';
  table: '\E410';
  tag: '\E411';
  tangerinr: '\E412';
  tape: '\E413';
  task-1: '\E414';
  task-add-1: '\E415';
  task-add: '\E416';
  task-checked: '\E417';
  task-error: '\E418';
  task-location: '\E419';
  task-marked: '\E41A';
  task-setting: '\E41B';
  task-visible: '\E41C';
  task: '\E41D';
  tea: '\E41E';
  teahouse: '\E41F';
  template: '\E420';
  temple: '\E421';
  terminal-rectangle-1: '\E422';
  terminal-rectangle: '\E423';
  terminal-window: '\E424';
  terminal: '\E425';
  textbox: '\E426';
  textformat-bold: '\E427';
  textformat-color: '\E428';
  textformat-italic: '\E429';
  textformat-strikethrough: '\E42A';
  textformat-underline: '\E42B';
  textformat-wrap: '\E42C';
  theaters: '\E42D';
  thumb-down-1: '\E42E';
  thumb-down-2: '\E42F';
  thumb-down: '\E430';
  thumb-up-1: '\E431';
  thumb-up-2: '\E432';
  thumb-up: '\E433';
  thunder: '\E434';
  thunderstorm-night: '\E435';
  thunderstorm-sunny: '\E436';
  thunderstorm: '\E437';
  ticket: '\E438';
  time-filled: '\E439';
  time: '\E43A';
  tips-double: '\E43B';
  tips: '\E43C';
  tomato: '\E43D';
  tools-circle: '\E43E';
  tools: '\E43F';
  tornado: '\E440';
  tower-1: '\E441';
  tower-2: '\E442';
  tower-3: '\E443';
  tower-clock: '\E444';
  tower: '\E445';
  town: '\E446';
  traffic-events: '\E447';
  traffic: '\E448';
  transform-1: '\E449';
  transform-2: '\E44A';
  transform-3: '\E44B';
  transform: '\E44C';
  translate-1: '\E44D';
  translate: '\E44E';
  tree-list: '\E44F';
  tree-round-dot-vertical: '\E450';
  tree-round-dot: '\E451';
  tree-square-dot-vertical: '\E452';
  tree-square-dot: '\E453';
  trending-down: '\E454';
  trending-up: '\E455';
  tv-1: '\E456';
  tv-2: '\E457';
  tv: '\E458';
  typography: '\E459';
  uncomfortable-1: '\E45A';
  uncomfortable-2: '\E45B';
  uncomfortable: '\E45C';
  undertake-delivery: '\E45D';
  undertake-environment-protection: '\E45E';
  undertake-hold-up: '\E45F';
  undertake-transaction: '\E460';
  undertake: '\E461';
  unfold-less: '\E462';
  unfold-more: '\E463';
  unhappy-1: '\E464';
  unhappy: '\E465';
  uninstall: '\E466';
  upload-1: '\E467';
  upload: '\E468';
  upscale: '\E469';
  usb: '\E46A';
  user-1: '\E46B';
  user-add: '\E46C';
  user-arrow-down: '\E46D';
  user-arrow-left: '\E46E';
  user-arrow-right: '\E46F';
  user-arrow-up: '\E470';
  user-avatar: '\E471';
  user-blocked: '\E472';
  user-business: '\E473';
  user-checked-1: '\E474';
  user-checked: '\E475';
  user-circle: '\E476';
  user-clear: '\E477';
  user-error-1: '\E478';
  user-invisible: '\E479';
  user-list: '\E47A';
  user-locked: '\E47B';
  user-marked: '\E47C';
  user-password: '\E47D';
  user-safety: '\E47E';
  user-search: '\E47F';
  user-setting: '\E480';
  user-talk-1: '\E481';
  user-talk-off-1: '\E482';
  user-talk: '\E483';
  user-time: '\E484';
  user-transmit: '\E485';
  user-unknown: '\E486';
  user-unlocked: '\E487';
  user-vip: '\E488';
  user-visible: '\E489';
  user: '\E48A';
  usergroup-add: '\E48B';
  usergroup-clear: '\E48C';
  usergroup: '\E48D';
  vehicle: '\E48E';
  verified: '\E48F';
  verify: '\E490';
  video-camera-1: '\E491';
  video-camera-2: '\E492';
  video-camera-dollar: '\E493';
  video-camera-minus: '\E494';
  video-camera-music: '\E495';
  video-camera-off: '\E496';
  video-camera: '\E497';
  video-library: '\E498';
  video: '\E499';
  view-agenda: '\E49A';
  view-column: '\E49B';
  view-in-ar: '\E49C';
  view-list: '\E49D';
  view-module: '\E49E';
  visual-recognition: '\E49F';
  wallet: '\E4A0';
  watch: '\E4A1';
  watermelon: '\E4A2';
  wave-left: '\E4A3';
  wave-right: '\E4A4';
  wealth-1: '\E4A5';
  wealth: '\E4A6';
  widget: '\E4A7';
  wifi-1: '\E4A8';
  wifi-off-1: '\E4A9';
  wifi-off: '\E4AA';
  wifi: '\E4AB';
  window-1: '\E4AC';
  window: '\E4AD';
  windy-rain: '\E4AE';
  windy: '\E4AF';
  wink: '\E4B0';
  work-history: '\E4B1';
  work-off: '\E4B2';
  work: '\E4B3';
  wry-smile: '\E4B4';
  zoom-in: '\E4B5';
  zoom-out: '\E4B6';
};
