page {
  background-color: #f7f8fa;
}

.t-tabs {
  background-color: #ffffff;
}

.t-tab-panel {
  background-color: #fff;
}

.t-tabs-horizontal {
  t-tab-panel {
    text-align: center;
    justify-content: center;
    height: 172rpx;
    line-height: 172rpx;
    color: rgba(0, 0, 0, 0.26);
  }
}

.scroll-item-horizontal {
  height: 92rpx;
  line-height: 92rpx;
}

.active-item {
  font-size: 32rpx;
}
