@import '../common/style/index.less';

@dialog: ~'@{prefix}-dialog';
@dialogBtn: ~'@{dialog}__button';
// size
@dialog-width: 322rpx * 2;
@dialog-body-max-height: 388rpx * 2;
@dialog-btn-height: 56rpx * 2;
@dialog-input-height: 48rpx * 2;

// color
@dialog-btn-bg-color-active: rgba(0, 0, 0, 0.05);
@dialog-btn-border-color: #eee;
@dialog-input-bg-color: #f0f0f0;

@dialog-title-font-size: 36rpx;
@dialog-title-color: @font-gray-1;
@dialog-title-line-height: 52rpx;

@dialog-content-font-size: 32rpx;
@dialog-content-color: @font-gray-2;
@dialog-content-line-height: 48rpx;

.@{dialog} {
  overflow: hidden;
  width: @dialog-width;
  border-radius: @border-radius;
  background-color: @bg-color-block;

  &__content {
    padding: @spacer-4 @spacer-3 0;
    max-height: @dialog-body-max-height;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: @font-size-m;
    line-height: @text-line-height;
  }

  &__header {
    text-align: center;
    font-weight: bold;
    font-size: @dialog-title-font-size;
    line-height: @dialog-title-line-height;
    color: @dialog-title-color;
  }

  &__body {
    overflow-y: scroll;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    font-size: @dialog-content-font-size;
    color: @dialog-content-color;
    margin-top: 16rpx;
    line-height: @dialog-content-line-height;

    &--without-title {
      margin-top: 0;
    }

    &-text {
      word-wrap: break-word;
    }

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }

  &__footer {
    display: flex;
    padding: 48rpx;

    &-button-host {
      width: 100%;
    }

    &--column {
      flex-flow: column-reverse;

      .@{dialog}__button {
        width: 100%;
      }
    }

    &--full {
      padding: 48rpx 0 0;
    }
  }

  &-button {
    border-radius: 0 !important;

    &:after {
      border-radius: 0;
    }
  }

  &__button {
    position: relative;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--horizontal + &--horizontal {
      margin-left: 24rpx;
    }

    &--vertical + &--vertical {
      margin-bottom: 24rpx;
    }

    &--text {
      flex: 1;
      --td-button-default-height: 112rpx;
      border-radius: 0;

      &:before {
        content: ' ';
        position: absolute;
        box-sizing: border-box;
        top: 0;
        left: 0;
        border-top: 1px solid @border-color;
        border-left: 1px solid @border-color;
        transform: scale(0.5);
        transform-origin: 0 0;
        width: 200%;
        height: 200%;
        border-radius: 0;
      }
    }
  }

  &__text {
    & + .@{prefix}-dialog__input {
      margin-top: @spacer-3;
    }
  }

  &__input {
    width: 100%;
    background-color: @dialog-input-bg-color;
    font-size: @font-size-m;
    color: @text-level-1-color;
    border-radius: @border-radius / 2;
    height: @dialog-input-height;
    line-height: @text-line-height;
    padding: @spacer-1;
    margin-top: @spacer-1;
    box-sizing: border-box;
    text-align: left;

    &-placeholder {
      color: @text-level-4-color;
    }
  }
}
