// @import (css) '../common/index.wxss';
@import '../common/style/index.less';

@cell-font-size: var(--td-cell-font-size, @font-size-m);
@cell-height: var(--td-cell-height, auto);
@cell-line-height: var(--td-cell-line-height, 48rpx);
@cell-vertical-padding: var(--td-cell-vertical-padding, 32rpx);
@cell-horizontal-padding: var(--td-cell-horizontal-padding, 32rpx);
@cell-text-color: var(--td-cell-text-color, @font-gray-1);
@cell-bg-color: var(--td-cell-bg-color, @bg-color-block);
@cell-border-color: var(--td-cell-border-color, @gray-color-3);
@cell-hover-color: var(--td-cell-hover-color, @gray-color-1);
@cell-required-color: var(--td-cell-required-color, @error-color-6);
@cell-description-color: var(--td-cell-description-color, @font-gray-2);
@cell-description-font-size: var(--td-cell-description-font-size, @font-size-base);
@cell-description-line-height: var(--td-cell-description-line-height, 44rpx);
@cell-note-color: var(--td-cell-note-color, @font-gray-3);
@cell-note-font-size: var(--td-cell-note-font-size, @font-size-m);
@cell-icon-size: var(--td-cell-icon-size, 48rpx);
@cell-right-icon-color: var(--td-cell-right-icon-color, @font-gray-3);
@cell-image-width: var(--td-cell-image-width, 96rpx);
@cell-image-height: var(--td-cell-image-height, 96rpx);

.@{prefix}-cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  padding: @cell-vertical-padding @cell-horizontal-padding;
  font-size: @cell-font-size;
  line-height: @cell-line-height;
  height: @cell-height;
  color: @cell-text-color;
  background-color: @cell-bg-color;

  &::after {
    .hairline-bottom(@cell-border-color);
    left: 32rpx;
  }

  &--borderless::after {
    display: none;
  }

  &__description {
    font-size: @cell-description-font-size;
    line-height: @cell-description-line-height;
    color: @cell-description-color;

    &-text {
      margin-top: 8rpx;
    }
  }

  &__note {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    color: @cell-note-color;
    font-size: @cell-note-font-size;
  }

  &__title,
  &__note {
    flex: 1 1 auto;

    &:empty {
      display: none;
    }
  }

  &__title-text {
    display: flex;
    font-size: 32rpx;
    font-weight: 400;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    font-size: @cell-icon-size;
    line-height: @cell-line-height;
  }

  &__left {
    &:not(:empty) {
      margin-right: 16rpx;
    }

    &-icon {
      font-size: @cell-icon-size;
    }

    &-image {
      height: @cell-image-height;
      width: @cell-image-width;
    }
  }

  &__right {
    margin-left: 8rpx;
    color: @cell-right-icon-color;

    &-icon {
      color: @cell-right-icon-color;
      font-size: @cell-icon-size;
      line-height: @cell-line-height;
    }
  }

  &--hover&--hover-class {
    background-color: @cell-hover-color;
  }

  &--required {
    font-size: @cell-font-size;
    color: @cell-required-color;
  }

  &--middle {
    align-items: center;
  }

  &--top {
    align-items: flex-start;
  }

  &--bottom {
    align-items: flex-end;
  }
}
