@import '../common/index.less';

@color-white: #fff;

@tag-default-color: #444;
@tag-default-background-color: #f5f5f5;
@tag-default-border-color: #f5f5f5;

@tag-primary-color: @primary-color;
@tag-info-color: #bbb;
@tag-success-color: @success-color;
@tag-warning-color: @warning-color;
@tag-danger-color: @error-color;

@tag-disabled-color: #bbb;
@tag-disabled-background-color: #f5f5f5;
@tag-disabled-border-color: #f5f5f5;

@tag-small-padding: 3px;
@tag-medium-padding: 3px;
@tag-large-padding: 3px;

@tag-small-font-size: 12px;
@tag-medium-font-size: 14px;
@tag-large-font-size: 16px;

@border-radius-square: 2px;
@border-radius-round: 4px;
@border-radius-circle: 999px;

@themes: primary, success, warning, info, danger;

.genEffect(@fontColorWeight; @borderColorWeight; @backgroundColorWeight; @hoverColorWeight) {
  &.@{prefix}-tag--theme-default {
    color: @tag-default-color;
    border-color: @tag-default-border-color;
    background-color: @tag-default-background-color;
  }

  .for(@themes, @i: 1) when(@i =< length(@themes)) {
    @theme: extract(@themes, @i);

    @theme-color: 'tag-@{theme}-color';

    &.@{prefix}-tag--theme-@{theme} {
      background-color: mix(@@theme-color, @color-white, @backgroundColorWeight);
      border-color: mix(@@theme-color, @color-white, @borderColorWeight);
      color: mix(@@theme-color, @color-white, @fontColorWeight);
    }

    .for(@themes, (@i + 1));
  }

  .for(@themes);
}

.@{prefix}-tag {
  display: inline-flex;
  align-items: center;
  border: 2rpx solid transparent;
  box-sizing: border-box;
  border-radius: @border-radius-square;
  padding: 0 24rpx;
  font-size: 24rpx;
  // max-width: 240rpx;
  user-select: none;

  &__text {
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 48rpx;
    line-height: 48rpx;
  }

  &--variant {
    &-dark {
      .genEffect(0, 100, 100, 100);
    }

    &-light {
      .genEffect(100, 10, 10, 10);
    }

    &-outline {
      .genEffect(100, 50, 0, 5);
    }

    &-light-outline {
      .genEffect(100, 50, 10, 5);
    }
  }

  &__content {
    width: 100%;
  }

  .@{prefix}__icon {
    font-size: @tag-medium-font-size;
  }

  &__icon-close {
    display: flex;
    align-items: center;
    margin-left: 16rpx;
  }

  &.@{prefix}-tag--size {
    &-small {
      height: 44rpx;
      line-height: 40rpx;
      padding: 0 16rpx;
      font-size: 20rpx;

      .@{prefix}-icon {
        font-size: 20rpx;
      }
    }

    &-medium {
      height: 48rpx;
      line-height: 44rpx;
      padding: 0 24rpx;
      font-size: 24rpx;

      .@{prefix}-icon {
        font-size: 24rpx;
      }
    }

    &-large {
      height: 60rpx;
      line-height: 56rpx;
      padding: 0 24rpx;
      font-size: 28rpx;

      .@{prefix}-icon {
        font-size: 28rpx;
      }
    }
  }

  &.@{prefix}-tag--square {
    border-radius: @border-radius-square;
  }

  &.@{prefix}-tag--round {
    border-radius: @border-radius-round;
  }

  &.@{prefix}-tag--circle {
    border-radius: @border-radius-circle;
  }

  &.@{prefix}-tag--half-circle {
    border-radius: 0 @border-radius-circle @border-radius-circle 0;
  }

  &.@{prefix}-tag--closable {
    &.@{prefix}-tag--disabled {
      cursor: not-allowed;
      color: @tag-disabled-color;
      background-color: @tag-disabled-background-color;
      border-color: @tag-disabled-border-color;
    }
  }
}
