.demo {
  .t-button {
    margin-top: 32rpx;
  }

  .full-width {
    background: rgba(0, 0, 0, 0.4);
    padding: 8px 0;
    margin-top: 16px;

    .t-button {
      margin-top: 0;
    }
  }

  .no-border {
    border: 0;
  }

  .no-border-radius {
    border-radius: 0;
  }

  .content-margin-right {
    margin-right: 32rpx;
  }

  .box {
    margin: 0 32rpx;
  }

  .align-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
