@import '../../../src/common/index.less';

.demo-block {
  margin: @spacer-4 0 0;

  &__header {
    color: var(--bg-color-demo-title);
    margin: 0 @spacer-2;

    &-title {
      font-weight: 700;
      font-size: 36rpx;
      line-height: 52rpx;
    }

    &-desc {
      margin-top: @spacer;
      font-size: @font-size-base;
      white-space: pre-line;
      color: var(--bg-color-demo-desc);
      line-height: 22px;
    }
  }

  &__oper {
    margin-top: @spacer;

    &-subtitle {
      font-size: @font-size-s;
      margin-bottom: @spacer-2;
      opacity: 0.4;
    }

    &-btn {
      margin: 0 0 @spacer-2 0;
      height: 48rpx * 2;
    }
  }

  &__slot {
    margin-top: @spacer-2;

    &.with-padding {
      margin-top: @spacer-2;
      margin-left: @spacer-2;
      margin-right: @spacer-2;
      margin-bottom: 0;
    }
  }
}

.demo-block_notitle {
  margin-top: 0px;

  .demo-block_subtitle {
    margin-top: @spacer-3;
  }
}
