@import '../common/index.less';

@connector-default-icon-width: 24px;
@connector-normal-icon-width: 40px;
@step-item-inner-max-width: 214px;
@dot-steps-anchor-width: 12px;
@title-content-margin-top: 5px;
@title-color: rgba(0, 0, 0, 0.9);
@title-color--default: rgba(0, 0, 0, 0.26);
@step-error-title-color: @error-color;
@step-error-bg-color: @error-color;
@step-default-bg-color: #c5c5c5;

@step-item-icon-color: #c5c5c5;
@step-item-descrition-color: rgba(0, 0, 0, 0.4);
@step-line-color: #c5c5c5;

@step-item-circle-size: 44rpx;
@step-item-circle-font-size: 28rpx;

@step-item-dot-size: 16rpx;

@step-item-default-circle-bg: @gray-color-1;
@step-item-default-circle-color: @font-gray-3;
@step-item-default-title-color: @font-gray-3;
@step-item-default-icon-color: @font-gray-3;
@step-item-default-dot-border-color: @gray-color-5;

@step-item-process-circle-color: @white-color-1;
@step-item-process-circle-bg: @primary-color;
@step-item-process-title-color: @primary-color;
@step-item-process-icon-color: @primary-color;
@step-item-process-dot-border-color: @primary-color;

@step-item-finish-circle-color: @primary-color;
@step-item-finish-circle-bg: @primary-color-1;
@step-item-finish-title-color: @font-gray-1;
@step-item-finish-icon-color: @primary-color;
@step-item-finish-dot-border-color: @primary-color;

@step-item-error-circle-color: @error-color;
@step-item-error-circle-bg: @error-color-1;
@step-item-error-title-color: @error-color;
@step-item-error-icon-color: @error-color;
@step-item-error-dot-border-color: @error-color;

@step-item-line-color: @gray-color-4;
@step-item-finish-line-color: @primary-color;

@step: ~'@{prefix}-step';
@steps: ~'@{step}s';
@item: ~'@{steps}-item';

.color-generate() {
  @status: default, process, finish, error;
  each(@status, {
    @bgVar: ~"step-item-@{value}-circle-bg";
    @colorVar: ~"step-item-@{value}-circle-color";
    @titleColorVar: ~"step-item-@{value}-title-color";
    @iconColorVar: ~"step-item-@{value}-icon-color";
    @dotBorderColorVar: ~"step-item-@{value}-dot-border-color";

    &__circle--@{value} {
      color: @@colorVar;
      background-color: @@bgVar;
    }

    &__title--@{value} {
      color: @@titleColorVar;
    }

    &__icon--@{value} {
      color: @@iconColorVar;
    }

    &__dot--@{value} {
      border-color: @@dotBorderColorVar;
    }
  });
}

.@{item} {
  flex: 1;
  vertical-align: top;
  position: relative;

  .color-generate();

  &__anchor {
    display: flex;
    align-items: center;
    justify-content: center;

    &--vertical {
      width: @step-item-circle-size;
      height: @step-item-circle-size;
    }
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: @step-item-circle-size;
    height: @step-item-circle-size;
    text-align: center;
    border-radius: 50%;
    font-size: @step-item-circle-font-size;
  }

  &__icon {
    z-index: 1;
    vertical-align: top;
    font-size: @font-size-base;
    position: relative;

    &--finsh,
    &--process {
      color: @primary-color;
    }
  }

  &__dot {
    width: @step-item-dot-size;
    height: @step-item-dot-size;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;

    &--finish {
      background-color: @step-item-process-dot-border-color;
    }

    &--error {
      background-color: @step-item-error-dot-border-color;
    }
  }

  &__content {
    text-align: center;

    &--vertical {
      margin-left: @spacer;
      margin-right: @spacer * 2;
      flex: 1;
      padding-bottom: @spacer * 2;
    }
  }

  &__title {
    position: relative;
    line-height: @step-item-circle-size;
    font-size: @font-size-base;

    &--process {
      font-weight: 600;
    }

    &--vertical {
      text-align: left;
      margin-bottom: calc(@spacer / 2);
    }
  }

  &__description {
    color: @step-item-descrition-color;
    line-height: 40rpx;
    font-size: @font-size-s;

    &--vertical {
      text-align: left;
    }
  }

  &__extra {
    &:not(:empty) {
      margin-top: @spacer;
    }
  }

  &__line {
    background-color: @step-item-line-color;
    content: '';
    display: block;
    position: absolute;

    &--horizontal {
      height: 1px;
      transform: translateY(-50%);
      width: calc(100% - 32rpx - @step-item-circle-size);
      top: (@step-item-circle-size / 2 + 1px);
      left: calc(50% + @step-item-circle-size / 2 + 16rpx);
    }

    &--horizontal&--dot {
      top: calc(@step-item-dot-size / 2);
    }

    &--finish {
      background-color: @step-item-finish-line-color;
    }

    &--vertical {
      height: calc(100% - 32rpx - @step-item-circle-size);
      width: 1px;
      transform: translateX(-50%);
      left: (@step-item-circle-size / 2 + 1px);
      top: calc(@step-item-circle-size + 16rpx);
    }
  }
}

// 子步骤状态
.default-sub-status(@status) {
  & when(@status = default) {
    color: #c5c5c5;
    .@{item}-sub-dot-item {
      background-color: #c5c5c5;
    }
  }
  & when(@status = finish) {
    color: #000000;
    .@{item}-sub-dot-item {
      background-color: @primary-color;
    }
  }
  & when(@status = process) {
    color: @primary-color;
    .@{item}-sub-dot-item {
      background-color: @primary-color;
    }
  }
  & when(@status = error) {
    color: @step-error-bg-color;
    .@{item}-sub-dot-item {
      background-color: @step-error-bg-color;
    }
  }
}

:host {
  flex: 1;
  vertical-align: top;
  position: relative;
  align-self: flex-start;
  width: inherit;
}

.@{step} {
  &--horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .@{item}__content {
      max-width: 80px;
      margin-top: @spacer;
    }

    .@{item} {
      &--finish {
        .@{item}__title {
          color: @title-color;
        }
      }

      &--process {
        .@{item}__title {
          color: @primary-color;
        }
      }

      &--error {
        .@{item}__title {
          color: @step-error-title-color;
        }
      }

      &--default {
        .@{item}__title,
        .@{item}__description {
          color: @title-color--default;
        }
      }
    }
  }

  &--vertical {
    display: flex;
    min-height: 80rpx;

    .@{item} {
      position: relative;

      &-wrapper {
        &:only-child {
          padding-bottom: 50rpx;
        }

        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
      }

      &-wrapper + .@{item}__sub-wrapper:not(:empty) {
        padding-top: 32rpx;
        padding-bottom: 48rpx;
      }
    }
  }
}
