@import '../common/style/index.less';

@fab-shadow: var(--td-fab-shadow, @shadow-2);

.@{prefix}-fab {
  position: fixed;

  &__button {
    box-shadow: @fab-shadow;
  }
}

.@{prefix}-fab-movable_area {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.@{prefix}-fab-movable_view {
  pointer-events: auto;
  height: auto;
  width: auto;
}
