.loading-container-flex {
  display: flex;
  align-items: center;
  margin: 36rpx 32rpx;
  t-loading {
    min-width: 20%;
    margin-right: 40rpx;
    display: flex;
  }
}

.loading-container-flex-column {
  display: block;
  margin-left: 32rpx;
  t-loading {
    display: flex;
    margin-top: 20rpx;
  }
}
.content {
  margin-left: 10rpx;
  font-size: 24rpx;
}
.content-vertical {
  font-size: 24rpx;
  margin-top: 10rpx;
}
.refreshBtn {
  color: #0052d9;
  font-size: 28rpx;
  margin-left: 16rpx;
}

.error-text {
  color: rgba(0, 0, 0, 0.26);
  font-size: 28rpx;
}

.spinner-blue-80 {
  color: #0052d9;
  width: 80rpx;
  height: 80rpx;
}
.spinner-black {
  color: #000000;
  width: 40rpx;
  height: 40rpx;
}
.spinner-black-80 {
  color: #000000;
  width: 80rpx;
  height: 80rpx;
}
.loading-bar {
  margin-top: 10px;
}
