.loading-container-flex {
  display: flex;
  align-items: center;
  margin: 36rpx 32rpx;
  font-size: 24rpx;
  t-loading {
    min-width: 20%;
    margin-right: 40rpx;
    display: flex;
  }
}

.loading-container-flex-column {
  display: block;
  margin-left: 32rpx;
  font-size: 24rpx;
  t-loading {
    display: flex;
    margin-top: 20rpx;
  }
}

.text-m {
  font-size: 28rpx;
}

.text-l {
  font-size: 32rpx;
}

.indicator-blue {
  color: #0052d9;
}

.indicator-black {
  background-color: black !important;
}

.text-blue {
  color: #0052d9;
}

.text-error {
  color: rgba(0, 0, 0, 0.26);
}
