.t-radio-demo {
  &-wrapper {
    background-color: #f9f9f9;
    overflow: hidden;
  }

  &__title {
    margin: 30rpx 0 30rpx 30rpx;
    font-size: 28rpx;
    color: #999;
    line-height: 44rpx;
  }
}
