.t-radio::after {
  content: '';
  position: absolute;
  border-top: 2rpx solid #e9e9e9;
  width: 100%;
  margin-left: 64rpx;
  bottom: 0px;
}
.t-radio-padding {
  padding: 24rpx 32rpx !important;
}
.t-radio-demo {
  margin-top: 16px;
}
