/* WXSS样式文件 */

/* 变量定义 */
/* 由于WXSS不支持变量，这里使用注释标注 */
/* @margin-normal: 24rpx; */
/* @color-main: #16181A; */
/* @color-light: #59636e; */
/* @border-color-light: #d1d9e0; */

/* 顶层容器 */
.t-chat-markdown {
  color: #16181a;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.75;
}

/* 辅诊类 */
.t-chat-markdown-inline {
  display: inline;
}

/* 段落 */
.t-chat-markdown-p {
  margin-top: 24rpx;
  margin-bottom: 24rpx;
}

/* 引用块 */
.t-chat-markdown-blockquote {
  padding: 0 0.75em;
  color: #59636e;
  border-left: 8rpx solid #d1d9e0;
  margin-bottom: 24rpx;
}

/* 标题 */
.t-chat-markdown-h {
  font-size: 1em;
  margin: 24rpx 0;
  font-weight: bold;
}

/* h1 - h6   32  28 24 20  16 14 */
.t-chat-markdown-h1 {
  font-size: 2em;
}

.t-chat-markdown-h2 {
  font-size: 1.75em;
}

.t-chat-markdown-h3 {
  font-size: 1.5em;
}

.t-chat-markdown-h4 {
  font-size: 1.25em;
}

.t-chat-markdown-h5 {
  font-size: 1em;
}

.t-chat-markdown-h6 {
  font-size: 0.75em;
}

/* 斜体 */
.t-chat-markdown-em {
  font-style: italic;
}

/* 加粗 */
.t-chat-markdown-strong {
  font-weight: bold;
}

/* 分割线 */
.t-chat-markdown-hr {
  height: 6rpx;
  padding: 0;
  margin: 24rpx 0;
  background-color: #d1d9e0;
  border: 0;
}

/* 有序列表&无序列表 */
.t-chat-markdown-list {
  display: block;
  padding-left: 24px;
  margin: 24rpx 0;
}

/* 有序列表 */
.t-chat-markdown-list.t-chat-markdown-list__decimal {
  list-style-type: decimal;
}

.t-chat-markdown-list-item {
  display: list-item;
  margin-bottom: 24rpx;
}

/* 链接 */
.t-chat-markdown-link {
  color: #126dff;
}

/* 删除线 */
.t-chat-markdown-del {
  text-decoration: line-through;
}

/* 行内代码块 */
.t-chat-markdown-codespan {
  padding: 4rpx 8rpx;
  margin: 0 4rpx;
  border-width: 1rpx;
  border-style: solid;
  border-radius: 8rpx;
  font-size: 80%;
  overflow-x: auto;
  background-color: #f6f8fa;
  border-color: #eaedf0;
}
