
function formatTimestamp(val) {
  if (!val) return '';
  var date = getDate(val);
  return [date.getFullYear(), date.getMonth() < 10 ? '0' + ( date.getMonth() + 1) : date.getMonth() + 1, date.getDate() < 10 ? '0' + date.getDate() : date.getDate()].join('-');
};

module.exports = {
  formatTimestamp: formatTimestamp
}
