@import '../common/style/base.less';

@qrcode-status-bg-color: var(--td-qrcode-status-bg-color, rgba(255, 255, 255, 0.96));
@qrcode-text-color: var(--td-qrcode-text-color, rgba(0, 0, 0, 0.9));
@qrcode-button-color: var(--td-qrcode-button-color, #0052d9);
@qrcode-text-font-size: var(--td-qrcode-text-font-size, 14px);
@qrcode-text-line-height: var(--td-qrcode-text-line-height, 22px);

.@{prefix}-qrcode__status {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%; // 解决 border 四角残缺问题
  background-color: @qrcode-status-bg-color;
  display: flex;
  pointer-events: auto;
  align-items: center;
  justify-content: center;
}

.@{prefix}-qrcode-expired {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

  &__text {
    color: @qrcode-text-color;
    font-size: @qrcode-text-font-size;
    line-height: @qrcode-text-line-height;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: @qrcode-button-color;
    font-size: @qrcode-text-font-size;
  }

  &__text2 {
    font-weight: 600;
    margin-left: 4px;
    font-size: @qrcode-text-font-size;
    line-height: @qrcode-text-line-height;
  }
}

.@{prefix}-qrcode-scanned {
  display: flex;
  align-items: center;
  justify-content: center;
  color: @qrcode-text-color;
  font-size: @qrcode-text-font-size;

  &__text {
    margin-left: 8px;
    font-size: @qrcode-text-font-size;
    line-height: @qrcode-text-line-height;
  }
}

.@{prefix}-qrcode-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
