@import '../common/style/index.less';

.@{prefix}-grid-item {
  box-sizing: border-box;
  height: 100%;
  float: left;

  &--hover {
    background-color: #f2f3f5;
  }

  &--horizontal {
    .@{prefix}-grid-item__content,
    .@{prefix}-grid-item__words {
      flex-direction: row;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }

  &__words {
    position: relative;
    flex-direction: column;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  &__image {
    display: flex;
    flex: 1;
  }

  &--center {
    .@{prefix}-grid-item__image,
    .@{prefix}-grid-item__words {
      justify-content: center;
    }
  }

  &--left {
    .@{prefix}-grid-item__image,
    .@{prefix}-grid-item__words {
      justify-content: flex-start;
    }
  }

  &__text {
    font-size: 28rpx;
  }

  &__description {
    font-size: 24rpx;
    color: rgba(0, 0, 0, .4);
  }
}
