@import '../common/style/index.less';

@title-font-size: 18px;
@title-color: @text-level-1-color;
@days-item-color: @text-level-2-color;
@dates-item-suffix-color: @text-level-3-color;
@calendar-disabled-color: @text-level-4-color;
@calendar-centre-color: @primary-color-1;

.@{prefix}-calendar {
  position: relative;
  z-index: 9999;
  background: #fff;
  overflow-x: hidden;
  border-top-left-radius: 24rpx;
  border-top-right-radius: 24rpx;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: @title-font-size;
    font-weight: 600;
    color: @title-color;
    height: 52rpx;
    padding: 32rpx;
  }

  &__close-btn {
    position: absolute;
    top: 32rpx;
    right: 32rpx;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 8rpx;
    padding: 0 32rpx;
    text-align: center;
    line-height: 92rpx;

    &-item {
      height: 92rpx;
      font-size: 28rpx;
      color: @days-item-color;
    }
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12rpx 0;
    color: #909399;
    font-size: 28rpx;
  }

  &__content {
    min-height: 400rpx;
    display: flex;
    flex-direction: column;
  }

  &__month {
    font-size: 28rpx;
    color: @title-color;
    font-weight: 600;
    padding: 32rpx 0 0;

    &s {
      height: 60vh;
      padding: 0 32rpx 32rpx;
      box-sizing: border-box;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__dates {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 8rpx;

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32rpx;
      border-radius: 16rpx;
      height: 120rpx;
      line-height: 48rpx;
      font-weight: 600;
      cursor: pointer;
      margin-top: 16rpx;

      &-prefix,
      &-suffix {
        position: absolute;
        font-size: 20rpx;
        line-height: 32rpx;
        width: 100%;
        text-align: center;
        font-weight: 400;
      }

      &-prefix {
        top: 8rpx;
      }

      &-suffix {
        bottom: 8rpx;
        color: @dates-item-suffix-color;

        &--selected,
        &--start,
        &--end {
          color: #fff;
        }

        &--disabled {
          color: @calendar-disabled-color;
        }
      }

      &--selected,
      &--start,
      &--end {
        background: #0053db;
        color: #fff;
        border-radius: 8rpx;
      }

      &--start {
        border-radius: 8rpx 0 0 8rpx;
      }

      &--end {
        border-radius: 0 8rpx 8rpx 0;
      }

      &--start + &--end {
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          width: 8rpx;
          height: 100%;
          background: #0053db;
        }

        &:before {
          left: -8rpx;
        }
      }

      &--centre {
        border-radius: 0;
        background-color: @calendar-centre-color;

        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          width: 8rpx;
          height: 100%;
          background-color: @calendar-centre-color;
        }

        &:before {
          left: -8rpx;
        }

        &:after {
          right: -8rpx;
        }
      }

      &--disabled {
        color: @calendar-disabled-color;
        cursor: default;
      }
    }
  }

  &__footer {
    border-top: 1px solid #e7e7e7;
    padding: 32rpx;
  }
}
