/**
 * Paragraph 组件主题样式
 */

@td-paragraph-default-color: var(--td-paragraph-default-color, rgba(0, 0, 0, 0.9));
@td-paragraph-primary-color: var(--td-paragraph-primary-color, #0052d9);
@td-paragraph-success-color: var(--td-paragraph-success-color, #2ba471);
@td-paragraph-warning-color: var(--td-paragraph-warning-color, #e37318);
@td-paragraph-error-color: var(--td-paragraph-error-color, #d54941);

@td-paragraph-small-font-size: var(--td-paragraph-small-font-size, 12px);
@td-paragraph-medium-font-size: var(--td-paragraph-medium-font-size, 14px);
@td-paragraph-large-font-size: var(--td-paragraph-large-font-size, 16px);

@td-paragraph-small-line-height: var(--td-paragraph-small-line-height, 20px);
@td-paragraph-medium-line-height: var(--td-paragraph-medium-line-height, 22px);
@td-paragraph-large-line-height: var(--td-paragraph-large-line-height, 24px);

.t-paragraph {
  display: block;
  word-break: break-all;

  &__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &--default {
    color: @td-paragraph-default-color;
  }

  &--primary {
    color: @td-paragraph-primary-color;
  }

  &--success {
    color: @td-paragraph-success-color;
  }

  &--warning {
    color: @td-paragraph-warning-color;
  }

  &--error {
    color: @td-paragraph-error-color;
  }

  &--small {
    font-size: @td-paragraph-small-font-size;
    line-height: @td-paragraph-small-line-height;
  }

  &--medium {
    font-size: @td-paragraph-medium-font-size;
    line-height: @td-paragraph-medium-line-height;
  }

  &--large {
    font-size: @td-paragraph-large-font-size;
    line-height: @td-paragraph-large-line-height;
  }
}
