.demo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500rpx * 2;

  .fail-error {
    margin-top: 24rpx * 2;
    margin-bottom: 48rpx * 2;
    width: 100%;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14rpx * 2;
    font-weight: 400;
    text-align: center;
  }

  .t-button--default {
    width: 160rpx * 2;
    height: 40rpx * 2;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
    font-size: 14rpx * 2;
  }
}
