@import '../common/style/index.less';

@rate-text-font-size: var(--td-rate-text-font-size, @font-size-m);
@rate-text-color: var(--td-rate-text-color, @font-gray-4);
@rate-text-active-color: var(--td-rate-text-active-color, @font-gray-1);
@rate-selected-color: var(--td-rate-selected-color, @warning-color);
@rate-unselected-color: var(--td-rate-unselected-color, @gray-color-4);
@rate-disabled-color: var(--td-rate-disabled-color, @text-disabled-color);
@rate-text-active-font-weight: var(--td-rate-text-active-font-weight, 600);

.@{prefix}-rate {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__wrapper {
    line-height: 1em;
    display: inline-flex;
  }

  &__icon {
    line-height: 1em;
  }

  &-selected {
    color: @rate-selected-color;

    &-half {
      color: transparent;
      background: linear-gradient(
        to right,
        @rate-selected-color 0%,
        @rate-selected-color 50%,
        @rate-unselected-color 51%,
        @rate-unselected-color 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

  &-unselected {
    color: @rate-unselected-color;
  }

  &-disabled {
    color: @rate-disabled-color;

    &-half {
      background: linear-gradient(
        to right,
        @rate-disabled-color 0%,
        @rate-disabled-color 50%,
        @rate-unselected-color 51%,
        @rate-unselected-color 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

  &__text {
    font-size: @rate-text-font-size;
    color: @rate-text-color;
    margin-left: 32rpx;
    vertical-align: middle;

    &--active {
      color: @rate-text-active-color;
      font-weight: @rate-text-active-font-weight;
    }
  }
}
