page {
  background: #f9f9f9;
}

.demo-section__wrapper {
  margin: 32rpx 0;

  .t-class-left {
    align-self: flex-start;
  }

  .title-icon {
    margin-right: 8rpx;
  }

  .title-image {
    margin-right: 8rpx;
    width: 96rpx;
    height: 96rpx;
  }

  .title-image-large {
    margin-right: 8rpx;
    width: 112rpx;
    height: 112rpx;
  }
}
