@import '../common/style/index.less';

@search-height: 80rpx;
@search-text-color: rgba(0, 0, 0, 0.9);
@search-text-disable: rgba(0, 0, 0, 0.26);
@search-bg: rgba(243, 243, 243, 1);
@search-label-padding-right: 8rpx;
@search-padding-vertical: 16rpx;
@search-padding-horizontal: 24rpx;
@search-radius-square: 8rpx;
@search-radius-round: 40rpx;
@search-font-size: @font-size-m;
@h-space-nest: @spacer;

page {
  --td-search-label-color: @search-text-color;
  --td-search-text-color: @search-text-color;
  --td-search-action-color: @search-text-disable;
  --td-search-placeholder-color: @search-text-disable;
  --td-search-icon-color: @search-text-disable;
  --td-search-bg-color: @search-bg;
  --td-search-border-color: @search-bg;
  --td-search-focus-border-color: @search-bg;
}

.@{prefix}-search {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__label {
    padding: @search-label-padding-right;
    color: var(--td-search-label-color);
  }

  &__input-box {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    height: @search-height;
    align-items: center;
    border: 2rpx solid var(--td-search-border-color);
    background: var(--td-search-bg-color);
    padding: @search-padding-vertical @search-padding-horizontal;

    &.@{prefix}-is-focused {
      border-color: var(--td-search-focus-border-color);
    }

    &--round {
      border-radius: @search-radius-round;
    }

    &--square {
      border-radius: @search-radius-square;
    }

    &--center {
      text-align: center;
    }

    .@{prefix}-input__keyword {
      display: inline-block;
      flex: 1;
      color: var(--td-search-text-color);
      font-size: @search-font-size;
      padding-left: @h-space-nest;
    }

    .@{prefix}-icon {
      color: var(--td-search-icon-color);
    }
  }

  &__right {
    position: relative;
    margin-left: 10px;
    .hotspot-expanded();
  }

  &__search-action {
    margin-left: 30rpx;
    font-size: @search-font-size;
    color: var(--td-search-action-color);
  }

  &__placeholder {
    color: var(--td-search-placeholder-color);

    &--center {
      text-align: center;
    }
  }
}
