@font-face {
  font-family: 't';
  src: url('fonts/iconcool.svg#iconcool') format('svg'),
    url('fonts/iconcool.ttf') format('truetype'), url('fonts/iconcool.woff') format('woff'),
    url('fonts/iconcool.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.t-icon {
  /* use !important to prevent issues with browser extensions that change fonts */

  /* stylelint-disable-next-line declaration-no-important */
  font-family: 't' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t-icon-add-circle:before {
  content: '\e5f7';
}

.t-icon-app:before {
  content: '\e5fa';
}

.t-icon-arrow-down-rectangle:before {
  content: '\e5fb';
}

.t-icon-arrow-down:before {
  content: '\e5fc';
}

.t-icon-arrow-left:before {
  content: '\e5fd';
}

.t-icon-arrow-right:before {
  content: '\e5fe';
}

.t-icon-arrow-up:before {
  content: '\e5ff';
}

.t-icon-attach:before {
  content: '\e600';
}

.t-icon-backtop-rectangle:before {
  content: '\e601';
}

.t-icon-backtop:before {
  content: '\e602';
}

.t-icon-backward:before {
  content: '\e603';
}

.t-icon-barcode:before {
  content: '\e604';
}

.t-icon-books:before {
  content: '\e605';
}

.t-icon-browse-off:before {
  content: '\e606';
}

.t-icon-browse:before {
  content: '\e607';
}

.t-icon-bulletpoint:before {
  content: '\e60a';
}

.t-icon-calendar:before {
  content: '\e608';
}

.t-icon-call:before {
  content: '\e609';
}

.t-icon-caret-down:before {
  content: '\e60b';
}

.t-icon-caret-left:before {
  content: '\e60c';
}

.t-icon-caret-right:before {
  content: '\e60d';
}

.t-icon-caret-up:before {
  content: '\e60e';
}

.t-icon-cart:before {
  content: '\e60f';
}

.t-icon-chart-bar:before {
  content: '\e610';
}

.t-icon-chart-bubble:before {
  content: '\e611';
}

.t-icon-chart-pie:before {
  content: '\e612';
}

.t-icon-chart:before {
  content: '\e614';
}

.t-icon-chat:before {
  content: '\e613';
}

.t-icon-check-circle-filled:before {
  content: '\e615';
}

.t-icon-check-circle:before {
  content: '\e616';
}

.t-icon-check-rectangle:before {
  content: '\e617';
}

.t-icon-check:before {
  content: '\e618';
}

.t-icon-chevron-down-circle:before {
  content: '\e619';
}

.t-icon-chevron-down-rectangle:before {
  content: '\e61a';
}

.t-icon-chevron-left-circle:before {
  content: '\e61c';
}

.t-icon-chevron-left-rectangle:before {
  content: '\e61d';
}

.t-icon-chevron-left-double:before {
  content: '\e61e';
}

.t-icon-chevron-right-circle:before {
  content: '\e620';
}

.t-icon-chevron-right-rectangle:before {
  content: '\e621';
}

.t-icon-chevron-right-double:before {
  content: '\e622';
}

.t-icon-chevron-up-circle:before {
  content: '\e624';
}

.t-icon-chevron-up-rectangle:before {
  content: '\e625';
}

.t-icon-close-circle-filled:before {
  content: '\e627';
}

.t-icon-close-circle:before {
  content: '\e628';
}

.t-icon-close-rectangle:before {
  content: '\e629';
}

.t-icon-cloud-download:before {
  content: '\e62b';
}

.t-icon-cloud-upload:before {
  content: '\e62c';
}

.t-icon-cloud:before {
  content: '\e62d';
}

.t-icon-code:before {
  content: '\e62e';
}

.t-icon-creditcard:before {
  content: '\e62f';
}

.t-icon-delete:before {
  content: '\e630';
}

.t-icon-desktop:before {
  content: '\e631';
}

.t-icon-discount-filled:before {
  content: '\e632';
}

.t-icon-discount:before {
  content: '\e633';
}

.t-icon-download:before {
  content: '\e634';
}

.t-icon-ellipsis:before {
  content: '\e636';
}

.t-icon-enter:before {
  content: '\e637';
}

.t-icon-error-circle-filled:before {
  content: '\e638';
}

.t-icon-error-circle:before {
  content: '\e639';
}

.t-icon-file-add:before {
  content: '\e63a';
}

.t-icon-file-copy:before {
  content: '\e63b';
}

.t-icon-file-excel:before {
  content: '\e63c';
}

.t-icon-file-image:before {
  content: '\e63d';
}

.t-icon-file-paste:before {
  content: '\e63e';
}

.t-icon-file-pdf:before {
  content: '\e63f';
}

.t-icon-file-powerpoint:before {
  content: '\e640';
}

.t-icon-file-unknown:before {
  content: '\e641';
}

.t-icon-file-word:before {
  content: '\e642';
}

.t-icon-file:before {
  content: '\e643';
}

.t-icon-filter:before {
  content: '\e646';
}

.t-icon-flag:before {
  content: '\e644';
}

.t-icon-folder-add:before {
  content: '\e645';
}

.t-icon-folder-open:before {
  content: '\e647';
}

.t-icon-folder:before {
  content: '\e648';
}

.t-icon-fork:before {
  content: '\e649';
}

.t-icon-forward:before {
  content: '\e650';
}

.t-icon-fullscreen-exit:before {
  content: '\e651';
}

.t-icon-fullscreen:before {
  content: '\e652';
}

.t-icon-gender-female:before {
  content: '\e653';
}

.t-icon-gender-male:before {
  content: '\e654';
}

.t-icon-gift:before {
  content: '\e655';
}

.t-icon-heart-filled:before {
  content: '\e656';
}

.t-icon-heart:before {
  content: '\e657';
}

.t-icon-help-circle:before {
  content: '\e659';
}

.t-icon-help:before {
  content: '\e65a';
}

.t-icon-history:before {
  content: '\e65b';
}

.t-icon-home:before {
  content: '\e65c';
}

.t-icon-hourglass:before {
  content: '\e65d';
}

.t-icon-image:before {
  content: '\e65e';
}

.t-icon-info-circle-filled:before {
  content: '\e65f';
}

.t-icon-info-circle:before {
  content: '\e660';
}

.t-icon-internet:before {
  content: '\e661';
}

.t-icon-jump:before {
  content: '\e662';
}

.t-icon-laptop:before {
  content: '\e663';
}

.t-icon-layers:before {
  content: '\e664';
}

.t-icon-link-unlink:before {
  content: '\e665';
}

.t-icon-link:before {
  content: '\e666';
}

.t-icon-loading:before {
  content: '\e667';
}

.t-icon-location:before {
  content: '\e668';
}

.t-icon-lock-off:before {
  content: '\e669';
}

.t-icon-lock-on:before {
  content: '\e66a';
}

.t-icon-login:before {
  content: '\e66b';
}

.t-icon-logo-android:before {
  content: '\e66c';
}

.t-icon-logo-apple:before {
  content: '\e66d';
}

.t-icon-logo-chrome:before {
  content: '\e66f';
}

.t-icon-logo-github:before {
  content: '\e66e';
}

.t-icon-logo-ie:before {
  content: '\e670';
}

.t-icon-logo-windows:before {
  content: '\e671';
}

.t-icon-menu-fold:before {
  content: '\e672';
}

.t-icon-menu-unfold:before {
  content: '\e673';
}

.t-icon-minus-circle:before {
  content: '\e675';
}

.t-icon-minus-rectangle:before {
  content: '\e676';
}

.t-icon-mobile-vibrate:before {
  content: '\e677';
}

.t-icon-mobile:before {
  content: '\e678';
}

.t-icon-money-circle:before {
  content: '\e679';
}

.t-icon-more:before {
  content: '\e67a';
}

.t-icon-next:before {
  content: '\e67b';
}

.t-icon-notification-filled:before {
  content: '\e67c';
}

.t-icon-notification:before {
  content: '\e67d';
}

.t-icon-order-adjustment-column:before {
  content: '\e67e';
}

.t-icon-order-ascending:before {
  content: '\e67f';
}

.t-icon-order-descending:before {
  content: '\e680';
}

.t-icon-page-first:before {
  content: '\e681';
}

.t-icon-page-last:before {
  content: '\e682';
}

.t-icon-photo:before {
  content: '\e683';
}

.t-icon-pin:before {
  content: '\e684';
}

.t-icon-poweroff:before {
  content: '\e686';
}

.t-icon-previous:before {
  content: '\e687';
}

.t-icon-print:before {
  content: '\e688';
}

.t-icon-qrcode:before {
  content: '\e689';
}

.t-icon-queue:before {
  content: '\e68a';
}

.t-icon-refresh:before {
  content: '\e68b';
}

.t-icon-rollback:before {
  content: '\e68d';
}

.t-icon-save:before {
  content: '\e68e';
}

.t-icon-scan:before {
  content: '\e68f';
}

.t-icon-search:before {
  content: '\e690';
}

.t-icon-secured:before {
  content: '\e691';
}

.t-icon-server:before {
  content: '\e692';
}

.t-icon-service:before {
  content: '\e693';
}

.t-icon-setting:before {
  content: '\e694';
}

.t-icon-share:before {
  content: '\e695';
}

.t-icon-shop:before {
  content: '\e696';
}

.t-icon-slash:before {
  content: '\e697';
}

.t-icon-sound:before {
  content: '\e698';
}

.t-icon-star-filled:before {
  content: '\e699';
}

.t-icon-star:before {
  content: '\e69a';
}

.t-icon-stop-circle:before {
  content: '\e69b';
}

.t-icon-stop:before {
  content: '\e69c';
}

.t-icon-swap-left:before {
  content: '\e69d';
}

.t-icon-swap-right:before {
  content: '\e69e';
}

.t-icon-swap:before {
  content: '\e6a0';
}

.t-icon-thumb-down:before {
  content: '\e69f';
}

.t-icon-thumb-up:before {
  content: '\e6a1';
}

.t-icon-time-filled:before {
  content: '\e6a2';
}

.t-icon-time:before {
  content: '\e6a3';
}

.t-icon-tips:before {
  content: '\e6a4';
}

.t-icon-tools:before {
  content: '\e6a5';
}

.t-icon-unfold-less:before {
  content: '\e6a6';
}

.t-icon-unfold-more:before {
  content: '\e6a7';
}

.t-icon-upload:before {
  content: '\e6a8';
}

.t-icon-usb:before {
  content: '\e6a9';
}

.t-icon-user-add:before {
  content: '\e6aa';
}

.t-icon-user-avatar:before {
  content: '\e6ab';
}

.t-icon-user-clear:before {
  content: '\e6ac';
}

.t-icon-user:before {
  content: '\e6ad';
}

.t-icon-usergroup-add:before {
  content: '\e6af';
}

.t-icon-usergroup-clear:before {
  content: '\e6ae';
}

.t-icon-usergroup:before {
  content: '\e6b0';
}

.t-icon-video:before {
  content: '\e6b1';
}

.t-icon-view-column:before {
  content: '\e6b2';
}

.t-icon-view-list:before {
  content: '\e6b4';
}

.t-icon-view-module:before {
  content: '\e6b3';
}

.t-icon-wallet:before {
  content: '\e6b5';
}

.t-icon-wifi:before {
  content: '\e6b6';
}

.t-icon-zoom-in:before {
  content: '\e6b7';
}

.t-icon-zoom-out:before {
  content: '\e6b8';
}

.t-icon-format-horizontal-align-bottom:before {
  content: '\e6b9';
}

.t-icon-format-horizontal-align-top:before {
  content: '\e6ba';
}

.t-icon-format-horizontal-align-center:before {
  content: '\e6bc';
}

.t-icon-format-vertical-align-center:before {
  content: '\e6bd';
}

.t-icon-format-vertical-align-left:before {
  content: '\e6bb';
}

.t-icon-format-vertical-align-right:before {
  content: '\e6be';
}

.t-icon-help-circle-filled:before {
  content: '\e6c5';
}

.t-icon-add-rectangle:before {
  content: '\e6c6';
}

.t-icon-error:before {
  content: '\e6ca';
}

.t-icon-add:before {
  content: '\e6df';
}

.t-icon-caret-down-small:before {
  content: '\e6e0';
}

.t-icon-chevron-down:before {
  content: '\e6e1';
}

.t-icon-caret-right-small:before {
  content: '\e6e3';
}

.t-icon-chevron-left:before {
  content: '\e6e2';
}

.t-icon-chevron-up:before {
  content: '\e6e4';
}

.t-icon-close:before {
  content: '\e6e7';
}

.t-icon-chevron-right:before {
  content: '\e6e5';
}

.t-icon-control-platform:before {
  content: '\e6e6';
}

.t-icon-dashboard:before {
  content: '\e6e8';
}

.t-icon-edit-1:before {
  content: '\e6e9';
}

.t-icon-mail:before {
  content: '\e6ea';
}

.t-icon-edit:before {
  content: '\e6eb';
}

.t-icon-play-circle:before {
  content: '\e6ec';
}

.t-icon-precise-monitor:before {
  content: '\e6ed';
}

.t-icon-remove:before {
  content: '\e6ef';
}

.t-icon-resources-list:before {
  content: '\e6ee';
}

.t-icon-root-list:before {
  content: '\e6f0';
}

.t-icon-user-circle:before {
  content: '\e6f2';
}

.t-icon-round:before {
  content: '\e6f3';
}
