@import '../common/style/index.less';

@font-face {
  font-family: @prefix;
  src: url('https://tdesign.gtimg.com/icon/0.1.4/fonts/t.eot'),
    url('https://tdesign.gtimg.com/icon/0.1.4/fonts/t.eot?#iefix') format('ded-opentype'),
    url('https://tdesign.gtimg.com/icon/0.1.4/fonts/t.woff') format('woff'),
    url('https://tdesign.gtimg.com/icon/0.1.4/fonts/t.ttf') format('truetype'),
    url('https://tdesign.gtimg.com/icon/0.1.4/fonts/t.svg') format('svg'); /* iOS 4.1- */
  font-weight: normal;
  font-style: normal;
}

.@{prefix}-icon {
  &--image {
    width: 1em;
    height: 1em;
  }

  &__image {
    vertical-align: top;
    width: 100%;
    height: 100%;
  }
}

.@{prefix}-icon-base {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.@{prefix}-icon {
  /* stylelint-disable-next-line declaration-no-important */
  font-family: @prefix !important; /* prevent issues with browser extensions that change fonts */
}

.@{prefix}-icon-add-circle:before {
  content: '\E001';
}

.@{prefix}-icon-add-rectangle:before {
  content: '\E002';
}

.@{prefix}-icon-add:before {
  content: '\E003';
}

.@{prefix}-icon-app:before {
  content: '\E004';
}

.@{prefix}-icon-arrow-down-rectangle:before {
  content: '\E005';
}

.@{prefix}-icon-arrow-down:before {
  content: '\E006';
}

.@{prefix}-icon-arrow-left:before {
  content: '\E007';
}

.@{prefix}-icon-arrow-right:before {
  content: '\E008';
}

.@{prefix}-icon-arrow-triangle-down-filled:before {
  content: '\E009';
}

.@{prefix}-icon-arrow-triangle-down:before {
  content: '\E00A';
}

.@{prefix}-icon-arrow-triangle-up-filled:before {
  content: '\E00B';
}

.@{prefix}-icon-arrow-triangle-up:before {
  content: '\E00C';
}

.@{prefix}-icon-arrow-up:before {
  content: '\E00D';
}

.@{prefix}-icon-attach:before {
  content: '\E00E';
}

.@{prefix}-icon-backtop-rectangle:before {
  content: '\E00F';
}

.@{prefix}-icon-backtop:before {
  content: '\E010';
}

.@{prefix}-icon-backward:before {
  content: '\E011';
}

.@{prefix}-icon-barcode:before {
  content: '\E012';
}

.@{prefix}-icon-books:before {
  content: '\E013';
}

.@{prefix}-icon-browse-off:before {
  content: '\E014';
}

.@{prefix}-icon-browse:before {
  content: '\E015';
}

.@{prefix}-icon-bulletpoint:before {
  content: '\E016';
}

.@{prefix}-icon-calendar:before {
  content: '\E017';
}

.@{prefix}-icon-call:before {
  content: '\E018';
}

.@{prefix}-icon-caret-down-small:before {
  content: '\E019';
}

.@{prefix}-icon-caret-down:before {
  content: '\E01A';
}

.@{prefix}-icon-caret-left-small:before {
  content: '\E01B';
}

.@{prefix}-icon-caret-left:before {
  content: '\E01C';
}

.@{prefix}-icon-caret-right-small:before {
  content: '\E01D';
}

.@{prefix}-icon-caret-right:before {
  content: '\E01E';
}

.@{prefix}-icon-caret-up-small:before {
  content: '\E01F';
}

.@{prefix}-icon-caret-up:before {
  content: '\E020';
}

.@{prefix}-icon-cart:before {
  content: '\E021';
}

.@{prefix}-icon-chart-bar:before {
  content: '\E022';
}

.@{prefix}-icon-chart-bubble:before {
  content: '\E023';
}

.@{prefix}-icon-chart-pie:before {
  content: '\E024';
}

.@{prefix}-icon-chart:before {
  content: '\E025';
}

.@{prefix}-icon-chat:before {
  content: '\E026';
}

.@{prefix}-icon-check-circle-filled:before {
  content: '\E027';
}

.@{prefix}-icon-check-circle:before {
  content: '\E028';
}

.@{prefix}-icon-check-rectangle-filled:before {
  content: '\E029';
}

.@{prefix}-icon-check-rectangle:before {
  content: '\E02A';
}

.@{prefix}-icon-check:before {
  content: '\E02B';
}

.@{prefix}-icon-chevron-down-circle:before {
  content: '\E02C';
}

.@{prefix}-icon-chevron-down-rectangle:before {
  content: '\E02D';
}

.@{prefix}-icon-chevron-down:before {
  content: '\E02E';
}

.@{prefix}-icon-chevron-left-circle:before {
  content: '\E02F';
}

.@{prefix}-icon-chevron-left-double:before {
  content: '\E030';
}

.@{prefix}-icon-chevron-left-rectangle:before {
  content: '\E031';
}

.@{prefix}-icon-chevron-left:before {
  content: '\E032';
}

.@{prefix}-icon-chevron-right-circle:before {
  content: '\E033';
}

.@{prefix}-icon-chevron-right-double:before {
  content: '\E034';
}

.@{prefix}-icon-chevron-right-rectangle:before {
  content: '\E035';
}

.@{prefix}-icon-chevron-right:before {
  content: '\E036';
}

.@{prefix}-icon-chevron-up-circle:before {
  content: '\E037';
}

.@{prefix}-icon-chevron-up-rectangle:before {
  content: '\E038';
}

.@{prefix}-icon-chevron-up:before {
  content: '\E039';
}

.@{prefix}-icon-circle:before {
  content: '\E03A';
}

.@{prefix}-icon-clear:before {
  content: '\E03B';
}

.@{prefix}-icon-close-circle-filled:before {
  content: '\E03C';
}

.@{prefix}-icon-close-circle:before {
  content: '\E03D';
}

.@{prefix}-icon-close-rectangle:before {
  content: '\E03E';
}

.@{prefix}-icon-close:before {
  content: '\E03F';
}

.@{prefix}-icon-cloud-download:before {
  content: '\E040';
}

.@{prefix}-icon-cloud-upload:before {
  content: '\E041';
}

.@{prefix}-icon-cloud:before {
  content: '\E042';
}

.@{prefix}-icon-code:before {
  content: '\E043';
}

.@{prefix}-icon-control-platform:before {
  content: '\E044';
}

.@{prefix}-icon-creditcard:before {
  content: '\E045';
}

.@{prefix}-icon-dashboard:before {
  content: '\E046';
}

.@{prefix}-icon-delete:before {
  content: '\E047';
}

.@{prefix}-icon-desktop:before {
  content: '\E048';
}

.@{prefix}-icon-discount-filled:before {
  content: '\E049';
}

.@{prefix}-icon-discount:before {
  content: '\E04A';
}

.@{prefix}-icon-download:before {
  content: '\E04B';
}

.@{prefix}-icon-edit-1:before {
  content: '\E04C';
}

.@{prefix}-icon-edit:before {
  content: '\E04D';
}

.@{prefix}-icon-ellipsis:before {
  content: '\E04E';
}

.@{prefix}-icon-enter:before {
  content: '\E04F';
}

.@{prefix}-icon-error-circle-filled:before {
  content: '\E050';
}

.@{prefix}-icon-error-circle:before {
  content: '\E051';
}

.@{prefix}-icon-error:before {
  content: '\E052';
}

.@{prefix}-icon-file-add:before {
  content: '\E053';
}

.@{prefix}-icon-file-copy:before {
  content: '\E054';
}

.@{prefix}-icon-file-excel:before {
  content: '\E055';
}

.@{prefix}-icon-file-icon:before {
  content: '\E056';
}

.@{prefix}-icon-file-image:before {
  content: '\E057';
}

.@{prefix}-icon-file-paste:before {
  content: '\E058';
}

.@{prefix}-icon-file-pdf:before {
  content: '\E059';
}

.@{prefix}-icon-file-powerpoint:before {
  content: '\E05A';
}

.@{prefix}-icon-file-unknown:before {
  content: '\E05B';
}

.@{prefix}-icon-file-word:before {
  content: '\E05C';
}

.@{prefix}-icon-file:before {
  content: '\E05D';
}

.@{prefix}-icon-filter-clear:before {
  content: '\E05E';
}

.@{prefix}-icon-filter:before {
  content: '\E05F';
}

.@{prefix}-icon-flag:before {
  content: '\E060';
}

.@{prefix}-icon-folder-add:before {
  content: '\E061';
}

.@{prefix}-icon-folder-open:before {
  content: '\E062';
}

.@{prefix}-icon-folder:before {
  content: '\E063';
}

.@{prefix}-icon-fork:before {
  content: '\E064';
}

.@{prefix}-icon-format-horizontal-align-bottom:before {
  content: '\E065';
}

.@{prefix}-icon-format-horizontal-align-center:before {
  content: '\E066';
}

.@{prefix}-icon-format-horizontal-align-top:before {
  content: '\E067';
}

.@{prefix}-icon-format-vertical-align-center:before {
  content: '\E068';
}

.@{prefix}-icon-format-vertical-align-left:before {
  content: '\E069';
}

.@{prefix}-icon-format-vertical-align-right:before {
  content: '\E06A';
}

.@{prefix}-icon-forward:before {
  content: '\E06B';
}

.@{prefix}-icon-fullscreen-exit:before {
  content: '\E06C';
}

.@{prefix}-icon-fullscreen:before {
  content: '\E06D';
}

.@{prefix}-icon-gender-female:before {
  content: '\E06E';
}

.@{prefix}-icon-gender-male:before {
  content: '\E06F';
}

.@{prefix}-icon-gift:before {
  content: '\E070';
}

.@{prefix}-icon-heart-filled:before {
  content: '\E071';
}

.@{prefix}-icon-heart:before {
  content: '\E072';
}

.@{prefix}-icon-help-circle-filled:before {
  content: '\E073';
}

.@{prefix}-icon-help-circle:before {
  content: '\E074';
}

.@{prefix}-icon-help:before {
  content: '\E075';
}

.@{prefix}-icon-history:before {
  content: '\E076';
}

.@{prefix}-icon-home:before {
  content: '\E077';
}

.@{prefix}-icon-hourglass:before {
  content: '\E078';
}

.@{prefix}-icon-image-error:before {
  content: '\E079';
}

.@{prefix}-icon-image:before {
  content: '\E07A';
}

.@{prefix}-icon-info-circle-filled:before {
  content: '\E07B';
}

.@{prefix}-icon-info-circle:before {
  content: '\E07C';
}

.@{prefix}-icon-internet:before {
  content: '\E07D';
}

.@{prefix}-icon-jump:before {
  content: '\E07E';
}

.@{prefix}-icon-laptop:before {
  content: '\E07F';
}

.@{prefix}-icon-layers:before {
  content: '\E080';
}

.@{prefix}-icon-link-unlink:before {
  content: '\E081';
}

.@{prefix}-icon-link:before {
  content: '\E082';
}

.@{prefix}-icon-loading:before {
  content: '\E083';
}

.@{prefix}-icon-location:before {
  content: '\E084';
}

.@{prefix}-icon-lock-off:before {
  content: '\E085';
}

.@{prefix}-icon-lock-on:before {
  content: '\E086';
}

.@{prefix}-icon-login:before {
  content: '\E087';
}

.@{prefix}-icon-logo-android:before {
  content: '\E088';
}

.@{prefix}-icon-logo-apple-filled:before {
  content: '\E089';
}

.@{prefix}-icon-logo-apple:before {
  content: '\E08A';
}

.@{prefix}-icon-logo-chrome-filled:before {
  content: '\E08B';
}

.@{prefix}-icon-logo-chrome:before {
  content: '\E08C';
}

.@{prefix}-icon-logo-codepen:before {
  content: '\E08D';
}

.@{prefix}-icon-logo-github-filled:before {
  content: '\E08E';
}

.@{prefix}-icon-logo-github:before {
  content: '\E08F';
}

.@{prefix}-icon-logo-ie-filled:before {
  content: '\E090';
}

.@{prefix}-icon-logo-ie:before {
  content: '\E091';
}

.@{prefix}-icon-logo-qq:before {
  content: '\E092';
}

.@{prefix}-icon-logo-wechat:before {
  content: '\E093';
}

.@{prefix}-icon-logo-wecom:before {
  content: '\E094';
}

.@{prefix}-icon-logo-windows-filled:before {
  content: '\E095';
}

.@{prefix}-icon-logo-windows:before {
  content: '\E096';
}

.@{prefix}-icon-logout:before {
  content: '\E097';
}

.@{prefix}-icon-mail:before {
  content: '\E098';
}

.@{prefix}-icon-menu-fold:before {
  content: '\E099';
}

.@{prefix}-icon-menu-unfold:before {
  content: '\E09A';
}

.@{prefix}-icon-minus-circle-filled:before {
  content: '\E09B';
}

.@{prefix}-icon-minus-circle:before {
  content: '\E09C';
}

.@{prefix}-icon-minus-rectangle-filled:before {
  content: '\E09D';
}

.@{prefix}-icon-minus-rectangle:before {
  content: '\E09E';
}

.@{prefix}-icon-mirror:before {
  content: '\E09F';
}

.@{prefix}-icon-mobile-vibrate:before {
  content: '\E0A0';
}

.@{prefix}-icon-mobile:before {
  content: '\E0A1';
}

.@{prefix}-icon-money-circle:before {
  content: '\E0A2';
}

.@{prefix}-icon-more:before {
  content: '\E0A3';
}

.@{prefix}-icon-move:before {
  content: '\E0A4';
}

.@{prefix}-icon-next:before {
  content: '\E0A5';
}

.@{prefix}-icon-notification-filled:before {
  content: '\E0A6';
}

.@{prefix}-icon-notification:before {
  content: '\E0A7';
}

.@{prefix}-icon-order-adjustment-column:before {
  content: '\E0A8';
}

.@{prefix}-icon-order-ascending:before {
  content: '\E0A9';
}

.@{prefix}-icon-order-descending:before {
  content: '\E0AA';
}

.@{prefix}-icon-page-first:before {
  content: '\E0AB';
}

.@{prefix}-icon-page-last:before {
  content: '\E0AC';
}

.@{prefix}-icon-pause-circle-filled:before {
  content: '\E0AD';
}

.@{prefix}-icon-photo:before {
  content: '\E0AE';
}

.@{prefix}-icon-pin-filled:before {
  content: '\E0AF';
}

.@{prefix}-icon-pin:before {
  content: '\E0B0';
}

.@{prefix}-icon-play-circle-filled:before {
  content: '\E0B1';
}

.@{prefix}-icon-play-circle-stroke:before {
  content: '\E0B2';
}

.@{prefix}-icon-play-circle:before {
  content: '\E0B3';
}

.@{prefix}-icon-play:before {
  content: '\E0B4';
}

.@{prefix}-icon-poweroff:before {
  content: '\E0B5';
}

.@{prefix}-icon-precise-monitor:before {
  content: '\E0B6';
}

.@{prefix}-icon-previous:before {
  content: '\E0B7';
}

.@{prefix}-icon-print:before {
  content: '\E0B8';
}

.@{prefix}-icon-qrcode:before {
  content: '\E0B9';
}

.@{prefix}-icon-queue:before {
  content: '\E0BA';
}

.@{prefix}-icon-rectangle:before {
  content: '\E0BB';
}

.@{prefix}-icon-refresh:before {
  content: '\E0BC';
}

.@{prefix}-icon-relativity:before {
  content: '\E0BD';
}

.@{prefix}-icon-remove:before {
  content: '\E0BE';
}

.@{prefix}-icon-rollback:before {
  content: '\E0BF';
}

.@{prefix}-icon-rollfront:before {
  content: '\E0C0';
}

.@{prefix}-icon-root-list:before {
  content: '\E0C1';
}

.@{prefix}-icon-rotation:before {
  content: '\E0C2';
}

.@{prefix}-icon-round:before {
  content: '\E0C3';
}

.@{prefix}-icon-save:before {
  content: '\E0C4';
}

.@{prefix}-icon-scan:before {
  content: '\E0C5';
}

.@{prefix}-icon-search:before {
  content: '\E0C6';
}

.@{prefix}-icon-secured:before {
  content: '\E0C7';
}

.@{prefix}-icon-server:before {
  content: '\E0C8';
}

.@{prefix}-icon-service:before {
  content: '\E0C9';
}

.@{prefix}-icon-setting:before {
  content: '\E0CA';
}

.@{prefix}-icon-share:before {
  content: '\E0CB';
}

.@{prefix}-icon-shop:before {
  content: '\E0CC';
}

.@{prefix}-icon-slash:before {
  content: '\E0CD';
}

.@{prefix}-icon-sound:before {
  content: '\E0CE';
}

.@{prefix}-icon-star-filled:before {
  content: '\E0CF';
}

.@{prefix}-icon-star:before {
  content: '\E0D0';
}

.@{prefix}-icon-stop-circle-1:before {
  content: '\E0D1';
}

.@{prefix}-icon-stop-circle-filled:before {
  content: '\E0D2';
}

.@{prefix}-icon-stop-circle:before {
  content: '\E0D3';
}

.@{prefix}-icon-stop:before {
  content: '\E0D4';
}

.@{prefix}-icon-swap-left:before {
  content: '\E0D5';
}

.@{prefix}-icon-swap-right:before {
  content: '\E0D6';
}

.@{prefix}-icon-swap:before {
  content: '\E0D7';
}

.@{prefix}-icon-thumb-down:before {
  content: '\E0D8';
}

.@{prefix}-icon-thumb-up:before {
  content: '\E0D9';
}

.@{prefix}-icon-time-filled:before {
  content: '\E0DA';
}

.@{prefix}-icon-time:before {
  content: '\E0DB';
}

.@{prefix}-icon-tips:before {
  content: '\E0DC';
}

.@{prefix}-icon-tools:before {
  content: '\E0DD';
}

.@{prefix}-icon-translate-1:before {
  content: '\E0DE';
}

.@{prefix}-icon-translate:before {
  content: '\E0DF';
}

.@{prefix}-icon-unfold-less:before {
  content: '\E0E0';
}

.@{prefix}-icon-unfold-more:before {
  content: '\E0E1';
}

.@{prefix}-icon-upload:before {
  content: '\E0E2';
}

.@{prefix}-icon-usb:before {
  content: '\E0E3';
}

.@{prefix}-icon-user-add:before {
  content: '\E0E4';
}

.@{prefix}-icon-user-avatar:before {
  content: '\E0E5';
}

.@{prefix}-icon-user-circle:before {
  content: '\E0E6';
}

.@{prefix}-icon-user-clear:before {
  content: '\E0E7';
}

.@{prefix}-icon-user-talk:before {
  content: '\E0E8';
}

.@{prefix}-icon-user:before {
  content: '\E0E9';
}

.@{prefix}-icon-usergroup-add:before {
  content: '\E0EA';
}

.@{prefix}-icon-usergroup-clear:before {
  content: '\E0EB';
}

.@{prefix}-icon-usergroup:before {
  content: '\E0EC';
}

.@{prefix}-icon-video:before {
  content: '\E0ED';
}

.@{prefix}-icon-view-column:before {
  content: '\E0EE';
}

.@{prefix}-icon-view-list:before {
  content: '\E0EF';
}

.@{prefix}-icon-view-module:before {
  content: '\E0F0';
}

.@{prefix}-icon-wallet:before {
  content: '\E0F1';
}

.@{prefix}-icon-wifi:before {
  content: '\E0F2';
}

.@{prefix}-icon-zoom-in:before {
  content: '\E0F3';
}

.@{prefix}-icon-zoom-out:before {
  content: '\E0F4';
}
