@import '../common/style/index.less';

@upload-add-color: var(--td-upload-add-color, @text-color-placeholder);
@upload-add-bg-color: var(--td-upload-add-bg-color, @bg-color-secondarycontainer);
@upload-add-disabled-bg-color: var(--td-upload-add-disabled-bg-color, @bg-color-component-disabled);
@upload-radius: var(--td-upload-radius, @radius-default);
@upload-add-icon-font-size: var(--td-upload-add-icon-font-size, 56rpx);
@upload-add-icon-disabled-color: var(--td-upload-add-icon-disabled-color, @text-color-disabled);
@upload-disabled-mask: var(--td-upload-disabled-mask, rgba(0, 0.6));
@upload-drag-z-index: var(--td-upload-drag-z-index, 999);

.@{prefix}-upload {
  position: relative;
  &__grid {
    &-content {
      padding: 0;
    }

    &-file {
      position: relative;
    }
  }

  &__add-icon {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: @upload-add-icon-font-size;
    background-color: @upload-add-bg-color;
    color: @upload-add-color;
    border-radius: @upload-radius;

    &--disabled {
      background-color: @upload-add-disabled-bg-color;
      color: @upload-add-icon-disabled-color;
    }

    &:only-child {
      display: flex;
    }
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
  }

  &__wrapper {
    position: relative;
    border-radius: @upload-radius;
    overflow: hidden;

    &--disabled::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: @upload-disabled-mask;
      z-index: 1;
    }
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rpx;
    height: 40rpx;
    border-top-right-radius: @upload-radius;
    border-bottom-left-radius: @upload-radius;
    background-color: @font-gray-3;
  }

  &__progress {
    &-mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: @font-gray-2;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: @upload-radius;
      color: @font-white-1;
      padding: 32rpx 0;
    }

    &-text {
      font-size: 24rpx;
      line-height: 40rpx;
      margin-top: 8rpx;
    }

    &-loading {
      animation: spin infinite linear 0.6s;
    }
  }

  &__drag {
    position: relative;
    width: 100%;
    --td-grid-item-bg-color: transparent;

    &-item {
      position: absolute;
      z-index: 1;
      top: 0px;
      left: 0px;
      height: auto;
      width: 100%;
    }
    &--fixed {
      z-index: 0;
    }
    &--tran {
      transition-property: transform;
      transition-duration: var(--td-upload-drag-transition-duration);
      transition-timing-function: var(--td-upload-drag-transition-timing-function);
    }
    &--cur {
      z-index: @upload-drag-z-index;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
