// @import (css) '../common/index.wxss';
.t-radio {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 32rpx 32rpx;
  font-size: 32rpx;
  background: white;

  position: relative;

  .limit-title-row {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__icon-left {
    margin-right: 20rpx;
    width: 40rpx;
  }

  &__icon-right {
    margin-left: auto;
    width: 40rpx;
  }

  &__image {
    line-height: 48rpx;
  }

  &-icon__image {
    height: 48rpx;
    width: 48rpx;
    vertical-align: sub;
  }

  &__btn {
    font-size: 48rpx;
    height: 48rpx;
    line-height: 40rpx;
    color: #dcdcdc;
    display: block;
  }

  &__content {
    flex: 1;
    line-height: 48rpx;
    margin-right: 10px;
  }

  &__title {
    .limit-title-row();
  }

  &__description {
    color: rgba(0, 0, 0, .4);
    .limit-title-row();
    font-size: 28rpx;
    line-height: 44rpx;
  }

  &-is-checked {
    color: #0052d9;
  }

  &-is-disabled {
    cursor: not-allowed;
    color: #dcdcdc;
  }

  &-is-disabled-context {
    cursor: not-allowed;
    color: rgba(0, 0, 0, .26);
  }

  &-border {
    position: absolute;
    bottom: 0;
    display: block;
    border-top: 2rpx solid #e9e9e9;
    width: 100%;
  }

  &-border-left {
    margin-left: 64rpx;
  }

  &-border-right {
    right: 80rpx;
  }
}
