@import '../common/style/index.less';

@radio-icon-size: var(--td-radio-icon-size, 48rpx);
@radio-font-size: var(--td-radio-font-size, 32rpx);
@radio-title-line-height: var(--td-radio-title-line-height, 48rpx);
@radio-label-line-height: var(--td-radio-label-line-height, 44rpx);
@radio-vertical-padding: var(--td-radio-vertical-padding, 32rpx);
@radio-bg-color: var(--td-radio-bg-color, @bg-color-block);
@radio-border-color: var(--td-radio-border-color, @gray-color-3);
@radio-label-color: var(--td-radio-label-color, @font-gray-1);
@radio-label-disabled-color: var(--td-radio-label-disabled-color, @font-gray-4);
@radio-content-color: var(--td-radio-content-color, @font-gray-2);
@radio-content-disabled-color: var(--td-radio-content-disabled-color, @font-gray-4);
@radio-icon-color: var(--td-radio-icon-color, @gray-color-4);
@radio-icon-disabled-color: var(--td-radio-icon-disabled-color, @gray-color-2);
@radio-icon-checked-color: var(--td-radio-icon-checked-color, @primary-color);

.limit-title-row {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.@{prefix}-radio {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  font-size: @radio-font-size;
  background: @radio-bg-color;
  position: relative;

  &--block {
    display: flex;
    padding: @radio-vertical-padding;
  }

  &--right {
    flex-direction: row-reverse;
  }

  &__icon {
    width: @radio-icon-size;
  }

  &__icon + &__content {
    margin-left: 16rpx;
  }

  &__image {
    line-height: @radio-icon-size;
  }

  &-icon__image {
    height: @radio-icon-size;
    width: @radio-icon-size;
    vertical-align: sub;
  }

  &__btn {
    font-size: @radio-icon-size;
    height: @radio-icon-size;
    line-height: 40rpx;
    color: @radio-icon-color;
    display: block;
  }

  &__content {
    flex: 1;

    &:empty {
      display: none;
    }
  }

  &__title {
    .limit-title-row();
    color: @radio-label-color;
    line-height: @radio-title-line-height;

    &--disabled {
      cursor: not-allowed;
      color: @radio-label-disabled-color;
    }
  }

  &__description {
    .limit-title-row();
    color: @radio-content-color;
    font-size: 28rpx;
    line-height: @radio-label-line-height;

    &--disabled {
      cursor: not-allowed;
      color: @radio-content-disabled-color;
    }

    &:empty {
      display: none;
    }
  }

  &__title + &__description {
    margin-top: 8rpx;
  }

  &-is-checked {
    color: @radio-icon-checked-color;
  }

  &-is-disabled {
    cursor: not-allowed;
    color: @radio-icon-disabled-color;
  }

  &__border {
    position: absolute;
    bottom: 0;
    // display: block;
    border-top: 1rpx solid @radio-border-color;
    width: 100%;

    &--left {
      left: 80rpx;
      width: calc(100% - 80rpx);
    }

    &--right {
      right: 80rpx;
      width: calc(100% - 80rpx);
    }
  }
}
