// @import (css) '../common/index.wxss';
@import '../common/style/index.less';

@navbar-color: @font-gray-1;
@navbar-bg-color: @bg-color-block;
@navbar-height: 88rpx;
@navbar-right: 190rpx; // 默认右上角胶囊按钮宽度，组件会在初始化时尝试自动获取胶囊按钮宽度并覆写该值
@navbar-padding-top: 40rpx; // 导航栏顶部间距，组件会在初始化时尝试取右侧系统胶囊位置进行覆盖
@navbar-title-font-weight: 600;
@navbar-left-arrow-size: 48rpx;

// capsule
@navbar-capsule-border-color: #e3e6ea;
@navbar-capsule-border-radius: 32rpx;
@navbar-capsule-width: 176rpx;

.@{prefix}-navbar {
  overflow: hidden;

  &--fixed {
    .@{prefix}-navbar__content {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5001;
    }
  }

  &--visible {
    display: '';
  }

  &--visible-animation {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &--hide-animation {
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &--hide {
    display: none;
  }

  &__placeholder {
    height: var(--td-navbar-height, 88rpx);
    padding-top: var(--td-navbar-padding-top, @navbar-padding-top);
    position: relative;
    visibility: hidden;
  }

  &__content {
    position: relative;
    z-index: 1;
    height: var(--td-navbar-height, @navbar-height);
    width: calc(100% - var(--td-navbar-right, @navbar-right));
    padding-right: var(--td-navbar-right, @navbar-right);
    padding-top: var(--td-navbar-padding-top, @navbar-padding-top);
    color: var(--td-navbar-color, @navbar-color);
    background-color: var(--td-navbar-bg-color, @navbar-bg-color);
    display: flex;
    align-items: center;
  }

  &__left {
    position: relative;
    box-sizing: border-box;
    // width: var(--td-navbar-right, @navbar-right);
    display: flex;
    align-items: center;

    &-arrow {
      font-size: var(--td-navbar-left-arrow-size, @navbar-left-arrow-size);
    }
  }

  &__capsule {
    box-sizing: border-box;
    margin-left: 24rpx;
    width: var(--td-navbar-capsule-width, @navbar-capsule-width);
    height: var(--capsule-height);
    border-radius: var(--td-navbar-capsule-border-radius, @navbar-capsule-border-radius);
    border: 1rpx solid var(--td-navbar-capsule-border-color, @navbar-capsule-border-color);
    display: flex;
    align-items: center;

    &:empty {
      display: none;
    }
  }

  &__center {
    font-size: 36rpx;
    text-align: center;
    position: absolute;
    left: var(--td-navbar-right, @navbar-right);
    width: calc(100% - var(--td-navbar-right, @navbar-right) * 2);
    height: var(--td-navbar-height, @navbar-height);
    line-height: var(--td-navbar-height, @navbar-height);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:empty {
      display: none;
    }

    &-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: var(--td-navbar-title-font-weight, @navbar-title-font-weight);
    }
  }

  &__btn {
    margin-left: 24rpx;
  }
}
