// @import (css) '../common/index.wxss';
@import '../common/style/index.less';

@navbar-color: var(--td-navbar-color, @font-gray-1);
@navbar-bg-color: var(--td-navbar-bg-color, @bg-color-block);
@navbar-height: var(--td-navbar-height, 96rpx);
@navbar-right: var(
  --td-navbar-right,
  190rpx
); // 默认右上角胶囊按钮宽度，组件会在初始化时尝试自动获取胶囊按钮宽度并覆写该值
@navbar-padding-top: var(
  --td-navbar-padding-top,
  40rpx
); // 导航栏顶部间距，组件会在初始化时尝试取右侧系统胶囊位置进行覆盖
@navbar-title-font-size: var(--td-navbar-title-font-size, 36rpx);
@navbar-title-font-weight: var(--td-navbar-title-font-weight, 600);
@navbar-left-arrow-size: var(--td-navbar-left-arrow-size, 48rpx);

// capsule
@navbar-capsule-border-color: var(--td-navbar-capsule-border-color, #e3e6ea);
@navbar-capsule-border-radius: var(--td-navbar-capsule-border-radius, 32rpx);
@navbar-capsule-width: var(--td-navbar-capsule-width, 176rpx);
@navbar-capsule-height: var(--td-navbar-capsule-height, 64rpx);
// var(--capsule-height)

.@{prefix}-navbar {
  overflow: hidden;

  &--fixed {
    .@{prefix}-navbar__content {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5001;
    }
  }

  &--visible {
    display: '';
  }

  &--visible-animation {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &--hide-animation {
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &--hide {
    display: none;
  }

  &__placeholder {
    height: @navbar-height;
    padding-top: @navbar-padding-top;
    position: relative;
    visibility: hidden;
  }

  &__content {
    position: relative;
    z-index: 1;
    height: @navbar-height;
    width: calc(100% - @navbar-right);
    padding-right: @navbar-right;
    padding-top: @navbar-padding-top;
    color: @navbar-color;
    background-color: @navbar-bg-color;
    display: flex;
    align-items: center;
  }

  &__left {
    position: relative;
    box-sizing: border-box;
    // width: @navbar-right;
    display: flex;
    align-items: center;

    &-arrow {
      font-size: @navbar-left-arrow-size;
    }
  }

  &__capsule {
    box-sizing: border-box;
    margin-left: 24rpx;
    width: @navbar-capsule-width;
    height: @navbar-capsule-height;
    border-radius: @navbar-capsule-border-radius;
    border: 1rpx solid @navbar-capsule-border-color;
    display: flex;
    align-items: center;

    &:empty {
      display: none;
    }
  }

  &__center {
    font-size: 36rpx;
    text-align: center;
    position: absolute;
    left: @navbar-right;
    width: calc(100% - @navbar-right * 2);
    height: @navbar-height;
    line-height: @navbar-height;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:empty {
      display: none;
    }

    &-title {
      font-size: @navbar-title-font-size;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: @navbar-title-font-weight;
    }
  }

  &__btn {
    margin-left: 24rpx;
  }
}
