page {
  background: #fff;
}

.desc {
  margin: 10rpx 32rpx;
  color: #999;
  font-size: 26rpx;
  line-height: 36rpx;
}

.row {
  display: flex;
  width: 100%;
  margin: 20rpx 0;

  .default-user {
    background-color: #e7e7e7;
    color: #c5c5c5;
    font-size: 60rpx;
  }

  .avatar-example {
    text-align: center;
    font-size: 24rpx;
    display: flex;
    flex-direction: column;

    .avatar-word {
      margin-top: 16rpx;
    }
  }

  .text {
    width: 130rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row-text {
    &-64 {
      width: 128rpx;
    }

    &-48 {
      width: 96rpx;
    }

    &-40 {
      width: 80rpx;
    }

    &-32 {
      width: 64rpx;
    }

    &-24 {
      width: 48rpx;
    }
  }

  .row-text-common {
    // display: flex;
    text-align: center;
  }

  .alt-example {
    color: #fff;
    background-color: #0052d9;
    font-weight: 400;
  }

  .alt-example1 {
    font-size: 40rpx;
  }

  .alt-example2 {
    font-size: 32rpx;
  }

  .alt-example3 {
    font-size: 32rpx;
  }

  .alt-example4 {
    font-size: 24rpx;
  }

  .alt-example5 {
    font-size: 24rpx;
  }

  .border-example-show {
    background-color: #e7e7e7;
    border: 4rpx solid white;
    box-sizing: border-box;
  }

  .border-example-show-small {
    margin-right: -12rpx;
  }

  .border-example-show-medium {
    margin-right: -16rpx;
  }

  .border-example-show-large {
    margin-right: -20rpx;
  }

  .border-example-operate {
    background-color: #e7e7e7;
    border: 4rpx solid white;
    box-sizing: border-box;
    font-size: 160%;
  }

  .border-example-3 {
    background-color: #e7e7e7;
    border: 4rpx solid white;
    box-sizing: border-box;
  }

  .icon-example {
    background-color: #e5e5e5;
    color: #bbb;
    font-size: 40rpx;
  }
}

.bottom-row {
  padding-bottom: 96rpx;
}

.gutter-column-12 {
  width: 24rpx;
  display: inline-block;
}

.gutter-column-24 {
  width: 48rpx;
  display: inline-block;
}

.gutter-column-32 {
  width: 64rpx;
  display: inline-block;
}

.gutter-column-64 {
  width: 128rpx;
  display: inline-block;
}
