.desc {
  margin: 10rpx 32rpx;
  color: #999;
  font-size: 26rpx;
  line-height: 36rpx;
}

.row {
  display: flex;
  width: 100%;
  margin: 20rpx 0;

  .avatar-example {
    text-align: center;
    font-size: 24rpx;
  }

  .text {
    width: 130rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .alt-example {
    font-size: 32rpx;
    color: #fff;
    background-color: #0052d9;
  }

  .border-example-1 {
    border-width: 2rpx;
    border-color: white;
  }

  .border-example-2 {
    border-width: 4rpx;
    border-color: white;
  }

  .border-example-3 {
    border-width: 6rpx;
    border-color: white;
  }

  .icon-example {
    background-color: #e5e5e5;
    color: #bbb;
  }

  .avatar-group {
    display: flex;

    t-avatar {
      margin-left: -16rpx;
    }

    &--reverse {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
}

.gutter-column-12 {
  width: 24rpx;
  display: inline-block;
}

.gutter-column-24 {
  width: 48rpx;
  display: inline-block;
}

.gutter-column-32 {
  width: 64rpx;
  display: inline-block;
}

.gutter-column-64 {
  width: 128rpx;
  display: inline-block;
}
