/* 表格 */
.t-markdown-table-container {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  border: 1rpx solid #dee2e6;
}

.t-markdown-table {
  display: table;
  min-width: 100%;
  max-width: max-content;
  border-collapse: collapse;
  white-space: nowrap;
}

.t-markdown-thead {
  display: table-header-group;
}

.t-markdown-tbody {
  display: table-row-group;
}

.t-markdown-tr {
  display: table-row;
  border-bottom: 1rpx solid #dee2e6;
  &:last-child {
    border-bottom: none;
  }
}

/* 斑马条纹样式 */
.t-markdown-tr:nth-child(2n + 1) {
  background-color: #ffffff;
}

.t-markdown-tr:nth-child(2n) {
  background-color: #f3f3f3;
}

.t-markdown-th {
  display: table-cell;
  vertical-align: middle;
  background: #f3f3f3;
  padding: 5rpx 10rpx;
  color: #00000066;
  border-right: 1rpx solid #dee2e6;
  &:last-child {
    border-right: none;
  }
}

.t-markdown-td {
  display: table-cell;
  vertical-align: middle;
  padding: 5rpx 10rpx;
  border-right: 1rpx solid #dee2e6;

  &:last-child {
    border-right: none;
  }
}
