.demo .t-navbar--fixed .t-navbar__content {
  position: relative !important;
  padding-top: 0;
  z-index: 5000;
}

.demo .t-navbar__placeholder {
  display: none !important;
}

.block {
  display: block;
}

.block + .block {
  margin-top: 48rpx;
}

.demo {
  --td-navbar-bg-color: var(--td-bg-color-container);
  --td-navbar-color: var(--text-color-primary);
}
