.demo .t-navbar--fixed .t-navbar__content {
  position: relative !important;
  padding-top: 0;
  z-index: 5000;
}

.demo .t-navbar__placeholder {
  display: none !important;
}

.block {
  display: block;
}

.block + .block {
  margin-top: 48rpx;
}

.demo {
  --td-navbar-bg-color: #fff;
  --td-navbar-color: black;
  --td-navbar-title-font-size: 36rpx;
  --td-navbar-title-font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  .demo {
    --td-navbar-bg-color: #242424;
    --td-navbar-color: rgba(255, 255, 255, 0.9);
  }
}
