.demo :deep(.t-navbar--fixed .t-navbar__content) {
    position: relative !important;
    padding-top: 0 !important;
    z-index: 5000 !important;
}

.demo :deep(.t-navbar__placeholder) {
    display: none !important;
}

.block {
    display: block;
}

:deep(.block + .block) {
    margin-top: 48rpx;
}

.demo {
    --td-navbar-bg-color: var(--td-bg-color-container);
    --td-navbar-color: var(--text-color-primary);
}
