page,
.page {
  // 字体family token
  --td-font-family: PingFang SC, Microsoft YaHei, Arial Regular; // 字体-磅数-常规
  --td-font-family-medium: PingFang SC, Microsoft YaHei, Arial Medium; // 字体-磅数-粗体

  // 字体大小 token
  --td-font-size: 20rpx;
  --td-font-size-xs: var(--td-font-size); // 字号-一级字号
  --td-font-size-s: 24rpx; // 字号-二级字号
  --td-font-size-base: 28rpx; // 字号-三级字号
  --td-font-size-m: 32rpx; // 字号-二级字号
  --td-font-size-l: 40rpx; // 字号-四级字号
  --td-font-size-xl: 72rpx; // 字号-五级字号
}
