module.exports = {
  getAvatarGroupOuterClass: function (classPrefix, size) {
    var isIncludePx = size.indexOf('px') > -1;
    var classNames = [classPrefix + '--content', isIncludePx ? '' : classPrefix + '--' + size];
    return classNames.join(' ');
  },
  getAvatarGroupSizePx: function (size) {
    var isIncludePx = size.indexOf('px') > -1;
    if (isIncludePx) {
      return 'width:' + size + ';height:' + size + ';';
    }
  },
  getZIndex: function (cascading) {
    var zIndex = cascading === 'right-up' ? 100 : 0;
    return 'z-index:' + zIndex + ';';
  },
};
