@import '../../common/index.less';

@color-white: #fff;

@tag-default-background-color: #e7e7e7;
@tag-default-border-color: #e7e7e7;

@tag-default-color: rgba(231, 231, 231, 1);
@tag-primary-color: @primary-color;
@tag-success-color: @success-color;
@tag-warning-color: @warning-color;
@tag-danger-color: @error-color;

@tag-default-font-color: rgba(0, 0, 0, 0.9);
@tag-primary-font-color: @color-white;
@tag-success-font-color: @color-white;
@tag-warning-font-color: @color-white;
@tag-danger-font-color: @color-white;

@tag-disabled-color: @font-gray-4;
@tag-disabled-background-color: @gray-color-2;
@tag-disabled-border-color: @gray-color-4;

@tag-checked-color: @primary-color;
@tag-checked-border-color: @primary-color;
@tag-checked-background-color: @primary-color;

@tag-small-padding: 12rpx - 1px;
@tag-medium-padding: 16rpx - 1px;
@tag-large-padding: 16rpx - 1px;
@tag-extra-large-padding: 32rpx - 1px;

@tag-small-font-size: @font-size;
@tag-medium-font-size: @font-size-s;
@tag-large-font-size: @font-size-base;
@tag-extra-large-font-size: @font-size-base;

@tag-small-icon-size: @font-size * 1.2;
@tag-medium-icon-size: @font-size * 1.4;
@tag-large-icon-size: @font-size * 1.6;
@tag-extra-large-icon-size: @font-size * 1.6;

@tag-small-height: 40rpx;
@tag-medium-height: 48rpx;
@tag-large-height: 56rpx;
@tag-extra-large-height: 80rpx;

@tag-border-size: 2rpx;

@border-radius-square: 8rpx;
@border-radius-round: 999px;
@border-radius-mark: @border-radius-round;

@themes: primary, success, warning, default, danger;

.genVariant(@fontColorWeight; @borderColorWeight; @backgroundColorWeight) {
  .for(@themes, @i: 1) when(@i =< length(@themes)) {
    @theme: extract(@themes, @i);
    @theme-color: 'tag-@{theme}-color';
    @theme-font-color: 'tag-@{theme}-font-color';

    &.@{prefix}-tag--theme-@{theme} {
      background-color: mix(@@theme-color, @@theme-font-color, @backgroundColorWeight);
      border-color: mix(@@theme-color, @@theme-font-color, @borderColorWeight);
      color: mix(@@theme-color, @@theme-font-color, @fontColorWeight);
    }

    .for(@themes, (@i + 1));
  }

  .for(@themes);
}

.@{prefix}-tag {
  display: inline-flex;
  align-items: center;
  border: @tag-border-size solid transparent;
  box-sizing: border-box;
  border-radius: @border-radius-square;
  font-size: @tag-medium-font-size;
  user-select: none;
  vertical-align: middle;

  &__text {
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon,
  &__icon-close {
    display: flex;
    align-items: center;
    color: @font-gray-3;
  }

  &__icon:not(:empty) + &__text:not(:empty),
  &__text:not(:empty) + &__icon-close:not(:empty) {
    margin-left: (@spacer / 2);
  }

  &.@{prefix}-tag--size {
    &-small {
      height: @tag-small-height;
      line-height: @tag-small-height;
      padding: 0 @tag-small-padding;
      font-size: @tag-small-font-size;

      .@{prefix}-icon,
      .@{prefix}-icon-close {
        font-size: @tag-small-icon-size;
      }
    }

    &-medium {
      height: @tag-medium-height;
      line-height: @tag-medium-height;
      padding: 0 @tag-medium-padding;
      font-size: @tag-medium-font-size;

      .@{prefix}-icon,
      .@{prefix}-icon-close {
        font-size: @tag-medium-icon-size;
      }
    }

    &-large {
      height: @tag-large-height;
      line-height: @tag-large-height;
      padding: 0 @tag-large-padding;
      font-size: @tag-large-font-size;

      .@{prefix}-icon,
      .@{prefix}-icon-close {
        font-size: @tag-large-icon-size;
      }
    }

    &-extra-large {
      height: @tag-extra-large-height;
      line-height: @tag-extra-large-height;
      padding: 0 @tag-extra-large-padding;
      font-size: @tag-extra-large-font-size;

      .@{prefix}-icon,
      .@{prefix}-icon-close {
        font-size: @tag-extra-large-icon-size;
      }
    }
  }

  &.@{prefix}-tag--shape {
    &-square {
      border-radius: @border-radius-square;
    }

    &-round {
      border-radius: @border-radius-round;
    }

    &-mark {
      border-radius: 0 @border-radius-mark @border-radius-mark 0;
    }
  }

  &--variant {
    &-dark {
      .genVariant(0, 100, 100);
    }

    &-light {
      .genVariant(100, 10, 10);
      &.@{prefix}-tag--theme-default {
        color: @tag-default-font-color;
        border-color: rgba(243, 243, 243, 1);
        background-color: rgba(243, 243, 243, 1);
      }
    }

    &-outline {
      .genVariant(100, 100, 0);
      &.@{prefix}-tag--theme-default {
        color: @tag-default-font-color;
        border-color: rgba(220, 220, 220, 1);
        background-color: #fff;
      }
    }

    &-light-outline {
      .genVariant(100, 100, 10);
      &.@{prefix}-tag--theme-default {
        color: @tag-default-font-color;
        border-color: rgba(220, 220, 220, 1);
        background-color: rgba(243, 243, 243, 1);
      }
    }
  }

  &.@{prefix}-tag--checkable {
    cursor: pointer;

    &.@{prefix}-tag--disabled {
      cursor: not-allowed;
      color: @tag-disabled-color;
      border-color: @tag-disabled-background-color;
      background-color: @tag-disabled-background-color;

      &.@{prefix}-tag--variant-outline,
      &.@{prefix}-tag--variant-light-outline {
        border-color: @tag-disabled-border-color;
      }
    }
  }

  &.@{prefix}-tag--closable {
    &.@{prefix}-tag--disabled {
      cursor: not-allowed;
      color: @tag-disabled-color;
      background-color: @tag-disabled-background-color;
      border-color: @tag-disabled-border-color;
    }
  }
}
