.t-checkbox-demo {
  &-wrapper {
    padding-top: 16px;
    background-color: #f9f9f9;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.9);
  }
  &__title {
    font-size: 20px;
    font-weight: 500;
    height: 28px;
    padding-left: 16px;
  }
  &__description {
    font-size: 14px;
    height: 22px;
    color: rgba(0, 0, 0, 0.4);
    padding-left: 16px;
  }
  &__demo-title {
    font-size: 16;
    height: 24px;
    margin-top: 18px;
    padding-left: 16px;
  }
  &__demo-description {
    margin-top: 8px;
    height: 20px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    padding-left: 16px;
    margin-bottom: 12px;
  }
}
