// .t-checkbox::after {
//   content: '';
//   position: absolute;
//   border-top: 2rpx solid #e9e9e9;
//   width: 100%;
//   bottom: 0px;
// }

// .t-checkbox-border-right::after {
//   right 80rpx;
// }

.t-checkbox-demo {
  display: block;
  margin-top: 16px;
}

.t-checkbox-padding {
  padding: 24rpx 32rpx !important;
}

.checkbox-demo {
  .demo-block {
    margin-top: 0;
  }

  .demo-block__heander-desc {
    margin: 32rpx 0px;
  }
}
