.list-cell__center {
  display: none;
}

.list-cell {
  justify-content: center;
}

.cell {
  width: 100%;
  text-align: center;
}

.custom-error {
  color: var(--td-text-color-placeholder);
}

.custom-error text {
  color: var(--td-brand-color);
}
