page {
  background: #fff;
}

.group {
  padding: 0 32rpx;
  display: flex;
  align-items: center;

  &.d-flex {
    display: flex;
    align-items: flex-start;
  }

  &.padding-bottom {
    padding: 32rpx 32rpx 0;
  }

  &.margin {
    margin: 16rpx 0;
  }

  .t-tag {
    margin-right: 32rpx;
  }
}
