@import '../common/style/index.less';

@button-default-height: 40 * 2rpx;
@button-default-line-height: @text-line-height;
@button-default-font-size: @font-size * 1.6;
@button-border-width: 1px;
@button-border-radius: @radius-default;
@button-small-height: 32 * 2rpx;
@button-small-line-height: 32 * 2rpx;
@button-large-height: 48 * 2rpx;

@button-font-weight: 600;

// button icon
@button-icon-spacer: @spacer;
@button-icon-border-radius: 8rpx;

// padding
@button-padding-horizontal: 48rpx;

// 图标大小
@button-icon-size-s: 40rpx;
@button-icon-size-m: 44rpx;
@button-icon-size-l: 48rpx;

// 颜色相关
@primary-color-disabled: #bbd3fb;
@danger-color-disabled: #f8b9be;
// default
@button-default-color: rgba(0, 0, 0, 0.9);
@button-default-bg-color: @gray-color-3;
@button-default-border-color: @gray-color-4;
@button-default-disabled-color: rgba(0, 0, 0, 0.26);
// primary
@button-primary-color: @text-anti-primary-color;
@button-primary-border-color: @primary-color;
@button-primary-bg-color: @primary-color;
@button-primary-disabled-color: @primary-color-disabled;
// light
@button-light-color: @primary-color;
@button-light-border-color: @primary-color-2;
@button-light-bg-color: @primary-color-2;
@button-light-disabled-color: @primary-color-3;
@button-light-disabled-bg: @primary-color-1;
// danger
@button-danger-color: @text-anti-primary-color;
@button-danger-border-color: @error-color;
@button-danger-bg-color: @error-color;
@button-danger-disabled-color: @danger-color-disabled;
// primary + outline
@button-primary-outline-color: @primary-color;
@button-primary-outline-disabled-color: @primary-color-disabled;
// danger + outline
@button-danger-outline-color: @error-color;
@button-danger-outline-disabled-color: @button-danger-disabled-color;
// light + outline
@button-light-outline-color: @primary-color;
@button-light-outline-disabled-color: @primary-color-disabled;
// primary + dashed
@button-primary-dashed-color: @primary-color;
@button-primary-dashed-disabled-color: @primary-color-disabled;
// danger + dashed
@button-danger-dashed-color: @error-color;
@button-danger-dashed-disabled-color: @button-danger-disabled-color;
// primary + text
@button-primary-text-color: @primary-color;
@button-primary-text-disabled-color: @primary-color-disabled;
// danger + text
@button-danger-text-color: @error-color;
@button-danger-text-disabled-color: @button-danger-disabled-color;
// light + text
@button-light-text-color: @primary-color;
// ghost 优先级高于 theme，固定透明背景，白色边框，白色字体
@button-ghost-color: #fff;
@button-ghost-border-color: @button-ghost-color;
@button-ghost-disabled-color: rgba(255, 255, 255, 0.35);
@button-ghost-primary-color: @primary-color;
@button-ghost-primary-border-color: @primary-color;
@button-ghost-danger-color: @error-color;
@button-ghost-danger-border-color: @error-color;

@button: ~'@{prefix}-button';

.@{button} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
  touch-action: manipulation;
  font-size: @button-default-font-size;
  height: @button-default-height;
  border-radius: @button-border-radius;
  outline: none;
  font-family: PingFang SC, Microsoft YaHei, Arial Regular;
  padding-left: (@button-padding-horizontal - @button-border-width);
  padding-right: (@button-padding-horizontal - @button-border-width);
  font-weight: var(--td-button-font-weight, @button-font-weight);

  /* stylelint-disable-next-line */
  -webkit-appearance: none;

  &::after {
    background-color: #000;
    content: ' ';
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
  }

  &:not(.@{prefix}-is-disabled):active::after {
    opacity: 0.1;
  }

  &--default {
    color: var(--td-button-default-color, @button-default-color);
    background-color: var(--td-button-default-bg-color, @button-default-bg-color);
    border: 1px solid var(--td-button-default-border-color, @button-default-bg-color);

    &.@{prefix}-is-disabled {
      color: var(--td-button-default-disabled-color, @button-default-disabled-color);
    }
  }

  &--primary {
    color: var(--td-button-primary-color, @button-primary-color);
    background-color: var(--td-button-primary-bg-color, @button-primary-bg-color);
    border: 1px solid var(--td-button-primary-border-color, @button-primary-border-color);

    &.@{prefix}-is-disabled {
      background-color: var(--td-button-primary-disabled-color, @button-primary-disabled-color);
      border-color: var(--td-button-primary-disabled-color, @button-primary-disabled-color);
    }
  }

  &--light {
    color: var(--td-button-light-color, @button-light-color);
    background-color: var(--td-button-light-bg-color, @button-light-bg-color);
    border: 1px solid var(--td-button-light-border-color, @button-light-border-color);

    &.@{prefix}-is-disabled {
      color: var(--td-button-light-disabled-color, @button-light-disabled-color);
      background-color: var(--td-button-light-disabled-color, @button-light-disabled-bg);
      border-color: var(--td-button-light-disabled-color, @button-light-disabled-bg);
    }
  }

  &--danger {
    color: var(--td-button-danger-color, @button-danger-color);
    background-color: var(--td-button-danger-bg-color, @button-danger-bg-color);
    border: 1px solid var(--td-button-danger-border-color, @button-danger-border-color);

    &.@{prefix}-is-disabled {
      background-color: var(--td-button-danger-disabled-color, @button-danger-disabled-color);
      border-color: var(--td-button-danger-disabled-color, @button-danger-disabled-color);
    }
  }

  &--text {
    color: var(--td-button-default-color, @button-default-color);
    background: none;
    border: 0;

    &.@{prefix}-button--size-default {
      width: auto;
      height: auto;
      line-height: normal;
      padding: 0;
    }

    &.@{prefix}-is-disabled {
      color: var(--td-button-default-disabled-color, @button-default-disabled-color);
    }

    &.@{prefix}-button--primary {
      color: var(--td-button-primary-text-color, @button-primary-text-color);
      background: none;

      &.@{prefix}-is-disabled {
        color: var(--td-button-primary-text-disabled-color, @button-primary-text-disabled-color);
        background: none;
      }
    }

    &.@{prefix}-button--danger {
      color: var(--td-button-danger-text-color, @button-danger-text-color);
      background: none;

      &.@{prefix}-is-disabled {
        color: var(--td-button-danger-text-disabled-color, @button-danger-text-disabled-color);
        background: none;
      }
    }

    &.@{prefix}-button--light {
      color: var(--td-button-light-text-color, @button-light-text-color);
      background: none;
    }
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid var(--td-button-ghost-color, @button-ghost-color);
    color: var(--td-button-ghost-border-color, @button-ghost-border-color);

    &.@{prefix}-is-disabled {
      color: var(--td-button-ghost-disabled-color, @button-ghost-disabled-color);
      border-color: var(--td-button-ghost-disabled-color, @button-ghost-disabled-color);
    }

    &.@{button}--primary {
      color: var(--td-button-ghost-primary-color, @button-ghost-primary-color);
      border-color: var(--td-button-ghost-primary-border-color, @button-ghost-primary-border-color);
    }

    &.@{button}--danger {
      color: var(--td-button-ghost-danger-color, @button-ghost-danger-color);
      border-color: var(--td-button-ghost-danger-border-color, @button-ghost-danger-border-color);
    }
  }

  &--outline {
    border-color: var(--td-button-default-border-color, @button-default-border-color);
    background-color: transparent;

    &.@{prefix}-button--primary {
      color: var(--td-button-primary-outline-color, @button-primary-outline-color);
      border-color: var(--td-button-primary-outline-color, @button-primary-outline-color);

      &.@{prefix}-is-disabled {
        background-color: transparent;
        color: var(--td-button-primary-outline-disabled-color, @button-primary-outline-disabled-color);
        border-color: var(--td-button-primary-outline-disabled-color, @button-primary-outline-disabled-color);
      }
    }

    &.@{prefix}-button--danger {
      color: var(--td-button-danger-outline-color, @button-danger-outline-color);
      border-color: var(--td-button-danger-outline-color, @button-danger-outline-color);

      &.@{prefix}-is-disabled {
        background-color: transparent;
        color: var(--td-button-danger-outline-disabled-color, @button-danger-outline-disabled-color);
        border-color: var(--td-button-danger-outline-disabled-color, @button-danger-outline-disabled-color);
      }
    }

    &.@{prefix}-button--light {
      background-color: var(--td-button-light-outline-bg, @button-light-bg-color);
      border-color: var(--td-button-light-outline-color, @button-light-outline-color);

      &.@{prefix}-is-disabled {
        background-color: transparent;
        color: var(--td-button-light-outline-disabled-color, @button-light-outline-disabled-color);
        border-color: var(--td-button-light-outline-disabled-color, @button-light-outline-disabled-color);
      }
    }
  }

  &--dashed {
    background-color: transparent;
    border-style: dashed;

    &.@{prefix}-button--primary {
      color: var(--td-button-primary-dashed-color, @button-primary-dashed-color);
      border-color: var(--td-button-primary-dashed-color, @button-primary-dashed-color);
      &.@{prefix}-is-disabled {
        background-color: transparent;
        color: var(--td-button-primary-dashed-disabled-color, @button-primary-dashed-disabled-color);
        border-color: var(--td-button-primary-dashed-disabled-color, @button-primary-dashed-disabled-color);
      }
    }

    &.@{prefix}-button--danger {
      color: var(--td-button-danger-dashed-color, @button-danger-dashed-color);
      border-color: var(--td-button-danger-dashed-color, @button-danger-dashed-color);
      &.@{prefix}-is-disabled {
        background-color: transparent;
        color: var(--td-button-danger-dashed-disabled-color, @button-danger-dashed-disabled-color);
        border-color: var(--td-button-danger-dashed-disabled-color, @button-danger-dashed-disabled-color);
      }
    }
  }

  &--base {
    height: @button-default-height;
    line-height: @button-default-height;
    font-size: @button-default-font-size;
  }

  &--size {
    &-l {
      height: @button-large-height;
      line-height: @button-large-height;
      & .@{prefix}-button__icon {
        font-size: @button-icon-size-l;
      }

      .@{prefix}-button__loading + .@{prefix}-button__content:not(:empty),
      .@{prefix}-button__icon + .@{prefix}-button__content:not(:empty) {
        margin-left: 16rpx;
      }
    }

    &-m {
      & .@{prefix}-button__icon {
        font-size: @button-icon-size-m;
      }

      .@{prefix}-button__loading + .@{prefix}-button__content:not(:empty),
      .@{prefix}-button__icon + .@{prefix}-button__content:not(:empty) {
        margin-left: 8rpx;
      }
    }

    &-s {
      height: @button-small-height;
      line-height: @button-small-height;

      & .@{prefix}-button__icon {
        font-size: @button-icon-size-s;
      }

      .@{prefix}-button__loading + .@{prefix}-button__content:not(:empty),
      .@{prefix}-button__icon + .@{prefix}-button__content:not(:empty) {
        margin-left: 8rpx;
      }
    }
  }

  &__icon {
    border-radius: @button-icon-border-radius;
  }

  // 圆角长方形
  &--round {
    &.@{prefix}-button--size {
      &-l {
        border-radius: (@button-large-height / 2);
      }

      &-m {
        border-radius: (@button-default-height / 2);
      }

      &-s {
        border-radius: (@button-small-height / 2);
      }
    }
  }

  // 正方形
  &--square {
    padding: 0;

    &.@{prefix}-button--size {
      &-l {
        width: @button-large-height;
      }

      &-m {
        width: @button-default-height;
      }

      &-s {
        width: @button-small-height;
      }
    }
  }

  // 圆形
  &--circle {
    padding: 0;

    &.@{prefix}-button--size {
      &-l {
        border-radius: 50%;
        width: @button-large-height;
      }

      &-m {
        border-radius: 50%;
        width: @button-default-height;
      }

      &-s {
        border-radius: 50%;
        width: @button-small-height;
      }
    }
  }

  &.@{prefix}-is {
    &-block {
      display: flex;
      width: 100%;
    }

    &-disabled {
      cursor: not-allowed;
    }
  }

  &.button-hover:after {
    border-radius: 8rpx;
  }

  // loading
  .position-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .indicator-blue {
    color: white;
  }
}

// button group
.@{prefix}-button-group {
  & .@{prefix}-button {
    border: 0;
    border-radius: 0;
    box-shadow: 0;
    width: 100%;
    height: 100%;
  }
}
