@import '../common/style/index.less';

@avatar-group-small-width: 64rpx;
@avatar-group-medium-width: 80rpx;
@avatar-group-large-width: 96rpx;

@avatar-group-small-font-size: @font-size-s;
@avatar-group-medium-font-size: @font-size-m;
@avatar-group-large-font-size: @font-size * 1.8;

.@{prefix}-avatar-group {
  display: block;

  &--content {
    display: flex;
  }

  &--large {
    .@{prefix}-size-l {
      width: @avatar-group-large-width;
      height: @avatar-group-large-width;
      font-weight: 600;
      font-size: @avatar-group-large-font-size;
    }
  }

  &--medium {
    .@{prefix}-size-m {
      width: @avatar-group-medium-width;
      height: @avatar-group-medium-width;
      font-weight: 600;
      font-size: @avatar-group-medium-font-size;
    }
  }

  &--small {
    .@{prefix}-size-s {
      width: @avatar-group-small-width;
      height: @avatar-group-small-width;
      font-weight: 600;
      font-size: @avatar-group-small-font-size;
    }
  }

  &__collapse--slot {
    float: left;
  }

  &__collapse--slot:not(:empty) + &__collapse--default {
    display: none;
    float: left;
  }

  &__collapse--slot:empty + &__collapse--default {
    display: block;
    float: left;
  }

  .@{prefix}-is-hidden {
    display: none;
  }
}
