@import '../common/style/index.less';

@avatar-bg-color: @primary-color-2;
@avatar-content-color: @primary-color;
@avatar-small-width: 80rpx;
@avatar-medium-width: 96rpx;
@avatar-large-width: 128rpx;

@avatar-text-small-font-size: @font-size-s;
@avatar-text-medium-font-size: @font-size-base;
@avatar-text-large-font-size: 16px;

@avatar-icon-small-font-size: 40rpx;
@avatar-icon-medium-font-size: 48rpx;
@avatar-icon-large-font-size: 64rpx;

@avatar-border-width-small: 4rpx;
@avatar-border-width-medium: 6rpx;
@avatar-border-width-large: 8rpx;
@avatar-border-color: #fff;
@avatar-circle-border-radius: @radius-circle;
@avatar-round-border-radius: @radius-default;

.@{prefix}-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: var(--td-avatar-bg-color, @avatar-bg-color); // 头像背景颜色
  color: var(--td-avatar-content-color, @avatar-content-color); // 头像内容（文字、图标）颜色

  &.@{prefix}-size-l {
    width: var(--td-avatar-large-width, @avatar-large-width); // ‘large'尺寸头像宽高
    height: var(--td-avatar-large-width, @avatar-large-width);
    font-size: var(--td-avatar-text-large-font-size, @avatar-text-large-font-size); // ‘large'尺寸头像文本大小

    .@{prefix}-avatar__icon {
      font-size: var(--td-avatar-icon-large-font-size, @avatar-icon-large-font-size); // ‘large'尺寸头像图标大小
    }
  }

  &.@{prefix}-size-m {
    width: var(--td-avatar-medium-width, @avatar-medium-width); // ‘medium’尺寸头像宽高
    height: var(--td-avatar-medium-width, @avatar-medium-width);
    font-size: var(--td-avatar-text-medium-font-size, @avatar-text-medium-font-size); // ‘medium'尺寸头像文本大小

    .@{prefix}-avatar__icon {
      font-size: var(--ts-avatar-icon-medium-font-size, @avatar-icon-medium-font-size); // ‘medium'尺寸头像图标大小
    }
  }

  &.@{prefix}-size-s {
    width: var(--td-avatar-small-width, @avatar-small-width); // ‘small’尺寸头像宽高
    height: var(--td-avatar-small-width, @avatar-small-width);
    font-size: var(--td-avatar-text-small-font-size, @avatar-text-small-font-size); // ‘small'尺寸头像文本大小

    .@{prefix}-avatar__icon {
      font-size: var(--td-avatar-icon-small-font-size, @avatar-icon-small-font-size); // ‘small'尺寸头像图标大小
    }
  }

  .@{prefix}-image,
  &__image {
    width: 100%;
    height: 100%;
  }

  &--circle {
    border-radius: var(--td-avatar-circle-border-radius, @avatar-circle-border-radius); // ‘circle’类型头像圆角大小
    overflow: hidden;
  }

  &--round {
    border-radius: var(--td-avatar-round-border-radius, @avatar-round-border-radius); // ‘round’类型头像圆角大小
    overflow: hidden;
  }

  &__text,
  &__icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:empty {
      width: 0;
      height: 0;
    }
  }

  //头像边框
  &--border {
    border-color: var(--td-avatar-border-color, @avatar-border-color); // 头像边框颜色
    border-style: solid;
    &--small {
      border-width: var(--td-avatar-border-width-small, @avatar-border-width-small); // ‘small'尺寸头像边框宽度
    }

    &--medium {
      border-width: var(--td-avatar-border-width-medium, @avatar-border-width-medium); // ‘medium'尺寸头像边框宽度
    }

    &--large {
      border-width: var(--td-avatar-border-width-large, @avatar-border-width-large); // ‘large'尺寸头像边框宽度
    }
  }
}
