@font-size: 32rpx;
@color: #000;

@cell-height: 112rpx;

@hint-font-size: 24rpx;
@hint-line-height: 48rpx;
@hint-color: #000;

@primary-color: #0071ce;

@background-color: #f8f8f8;
@front-background-color: white;

@active-color: #0052d9;
@active-font-size: 32rpx;
@active-line-height: 56rpx;

.t-indexes {
  background-color: @background-color;
  position: relative;

  &__row {
    font-size: @font-size;
    color: @color;
    background-color: @front-background-color;
    height: @cell-height;
    display: flex;
    align-items: center;

    &::after {
      display: none;
    }
  }

  &__index {
    font-size: @font-size;
    position: absolute;
    top: 60rpx;
    right: 0;
    width: 100rpx;
    font-size: 24rpx;
    color: @hint-color;
    font-size: @hint-font-size;
    line-height: @hint-line-height;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    top: 50%;
    transform: translateY(-50%);

    .index-icon {
      font-size: 32rpx;
    }
  }

  &__bar {
    display: flex;
    flex-flow: column nowrap;
  }

  &__btn {
    position: relative;

    &.is-actived {
      color: @active-color;
      font-size: @active-font-size;
      line-height: @active-line-height;
    }
  }

  &__tips {
    width: 80rpx;
    height: 80rpx;
    line-height: 80rpx;
    text-align: center;
    vertical-align: middle;
    font-size: 40rpx;
    font-weight: 700;
    color: white;
    background-color: @active-color;
    border-radius: 40rpx 40rpx 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 88rpx;
    margin: auto;
    transform: rotate(-45deg);

    &-text {
      transform: rotate(45deg);
    }
  }

  /* 覆盖weUI样式 */
  .weui-cells__title {
    font-size: 28rpx;
    font-weight: 800;
    color: @hint-color;
  }
}
