@import '../common/style/base.less';

/* Less 支持测试 - 监听功能验证 */
@form: ~'@{prefix}-form';
@form-item: ~'@{prefix}-form__item';
@form-item-horizontal-padding: var(--td-form-item-horizontal-padding, 32rpx);
@form-item-vertical-padding: var(--td-form-item-vertical-padding, 32rpx);
@form-item-border-color: var(--td-form-item-border-color, @component-stroke);
@form-item-border-left-space: var(--td-form-item-border-left-space, @form-item-vertical-padding);
@form-item-border-right-space: var(--td-form-item-border-right-space, 0);

.@{form-item} {
  display: flex;
  box-sizing: border-box;
  padding: @form-item-vertical-padding @form-item-horizontal-padding;
  position: relative;

  // 覆盖 slot 内子组件的 padding
  --td-cell-vertical-padding: 0;
  --td-cell-horizontal-padding: 0;
  --td-input-vertical-padding: 0;
  --td-textarea-padding: 0;

  &:not(:last-child)::after {
    .hairline-bottom(@form-item-border-color);

    left: @form-item-border-left-space;
    right: @form-item-border-right-space;
  }

  &-help,
  &-extra {
    display: flex;
    font-size: @font-size-s;
    margin: 0;
    width: 100%;
    height: auto;
    min-height: 40rpx;
    margin-top: 8rpx;
  }

  &-help {
    color: @text-color-disabled;
  }

  &--error {
    color: @error-color-6;
  }

  &--warning {
    color: @warning-color-5;
  }

  &-wrap {
    width: 100%;
    display: flex;
  }

  &--top {
    display: flex;
    flex-direction: column;
  }
}

.@{form} {
  &--top {
    align-items: center;
  }

  &__label {
    padding-right: 32rpx;
    vertical-align: middle;
    line-height: 48rpx;
    color: @text-color-primary;
    box-sizing: border-box;
    word-break: break-all;

    &--top {
      padding-bottom: 16rpx;
    }

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }

    &--required:not(.@{form}__label--required-right) {
      label::before {
        display: inline;
        margin-right: calc(@spacer / 2);
        color: @error-color-6;
        content: '*';
      }
    }

    &--required-right {
      label::after {
        display: inline;
        margin-left: calc(@spacer / 2);
        color: @error-color-6;
        content: '*';
      }
    }
  }

  &__controls {
    flex: 1;
    position: relative;

    &-content {
      display: flex;
      align-items: center;
      min-height: 48rpx;
    }

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }
  }
}
