@import '../common/style/base.less';

/* Less 支持测试 - 监听功能验证 */
@form-item: ~'@{prefix}-form-item';
@form-item-horizontal-padding: var(--td-form-item-horizontal-padding, 32rpx);
@form-item-vertical-padding: var(--td-form-item-vertical-padding, 32rpx);
@form-item-label-width: var(--td-form-item-label-width, 160rpx);
@form-item-justify-content: var(--td-form-item-justify-content, space-between);
.@{form-item} {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: @form-item-justify-content;
  width: 100%;
  padding: @form-item-horizontal-padding @form-item-vertical-padding;
  background-color: #ffffff;
  --td-input-vertical-padding: 0rpx;
  --td-textarea-vertical-padding: 0rpx;
  --td-textarea-horizontal-padding: 0rpx;
  box-sizing: border-box;
  &--top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .@{form-item}__controls {
      margin-top: 16rpx;
    }
  }

  &--bordered::after {
    .hairline-bottom(@border-color, 1px);
    transform-origin: bottom;
    left: @form-item-horizontal-padding;
    right: 0;
  }

  &--error {
    align-items: flex-start;

    .@{form-item}__error {
      font-size: @font-size-s;
      color: @error-color;
    }
  }

  &--success {
    .@{form-item}__success {
      color: @success-color;
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    width: @form-item-label-width;
    min-height: 48rpx;
    margin-right: 16rpx;
    font-size: @font-size-m;

    color: @text-color-primary;
    line-height: 1.5;

    &--required {
      color: @error-color;
      margin-right: 4rpx;
    }

    &--colon {
      margin-left: 4rpx;
    }

    &--left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &--right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &--top {
      position: relative;
      // margin-bottom: 8rpx;
      margin-right: 0;
      width: 100%;
    }
  }

  &__controls {
    flex: 1;
    width: 100%;

    text-align: left;

    &-content {
      width: 100%;
      display: flex;
      align-items: center;
      min-height: 48rpx;
    }
  }

  &__error {
    margin-top: 8rpx;
    font-size: @font-size-s;
    line-height: 1.5;

    &--error {
      color: @error-color;
    }

    &--warning {
      color: @warning-color;
    }
  }

  &__success {
    margin-top: 4rpx;
    font-size: @font-size-s;
    color: @success-color;
    line-height: 1.5;
  }

  &__arrow {
    display: flex;
    align-items: center;
    margin-left: 8rpx;
    color: @text-color-placeholder;
  }
}
