page {
  background-color: #fff;
}
.t-divider-demo {
  margin: 0 0 32rpx;
  font-size: 24rpx;

  &__title {
    color: #000;
    opacity: 40%;
    margin: 0 32rpx 36rpx;
  }
}

.t-class-content {
  margin-right: 20rpx;
  margin-left: 20rpx;
}

.demo-2 {
  margin: 0 32rpx;
}

.demo-3 {
  margin-left: 32rpx;
}

.demo-4 {
  margin-left: 152rpx;
}

.demo-5 {
  margin: 0 32rpx;
}

.demo-6 {
  display: flex;
  margin: 0 32rpx;
  font-size: 12px;
  color: #000;
  opacity: 40%;
}
