@import '../common/style/index.less';
@import '../avatar/avatar.less';

//组合头像偏移量
@avatar-group-offset-small: var(--td-avatar-group-margin-left-small, -4px);
@avatar-group-offset-medium: var(--td-avatar-group-margin-left-medium, -6px);
@avatar-group-offset-large: var(--td-avatar-group-margin-left-large, -8px);

.@{prefix}-avatar-group {
  display: inline-flex;
  align-items: center;

  &-offset-left {
    &-small {
      --td-avatar-margin-left: @avatar-group-offset-small; // ‘small’尺寸组合头像偏移间距
    }

    &-medium {
      --td-avatar-margin-left: @avatar-group-offset-medium; // ‘medium’尺寸组合头像偏移间距
    }

    &-large {
      --td-avatar-margin-left: @avatar-group-offset-large; // ‘large’尺寸组合头像偏移间距
    }
  }

  &-offset-right {
    &-small {
      --td-avatar-margin-left: @avatar-group-offset-small;
    }

    &-medium {
      --td-avatar-margin-left: @avatar-group-offset-medium;
    }

    &-large {
      --td-avatar-margin-left: @avatar-group-offset-large;
    }
  }

  &__collapse--slot {
    float: left;
  }

  &__collapse--slot:not(:empty) + &__collapse--default {
    display: none;
    float: left;
  }

  &__collapse--slot:empty + &__collapse--default {
    display: block;
    float: left;
  }
}
