/**
 * Collapse 基础样式
 */

@td-collapse-card-radius: var(--td-collapse-card-radius, 12px);

.t-collapse {
  &--card {
    margin: 0 16px;
    border-radius: @td-collapse-card-radius;
    overflow: hidden;
  }
}
