/* utils */

/**
 * addUnit */
// 为 css 添加单位
function addUnit(property, value, unit) {
  unit = unit || 'px';
  if (value == null || value === '') return '';
  return property + ':' + (+value == value ? value + unit : value) + ';';
}

function isArray(array) {
  return array && array.constructor === 'Array';
}

function isObject(obj) {
  return obj && obj.constructor === 'Object';
}

module.exports = {
  addUnit: addUnit,
  isArray: isArray,
  isObject: isObject,
};
