page {
  .slot-left {
    background: #eee;
    border: 1rpx solid #ccc;
    border-radius: 20rpx;
    padding: 10rpx 15rpx;
    font-size: 24rpx;
  }
  .slot-center {
    background: #eee;
    border: 1rpx solid #ccc;
    border-radius: 20rpx;
    padding: 10rpx 15rpx;
    font-size: 30rpx;
    height: 40rpx;
    line-height: 40rpx;
  }
  .slot-custom {
    background: #eee;
    border: 1rpx solid #ccc;
    border-radius: 12rpx;
    padding: 10rpx 15rpx;
    font-size: 24rpx;
    height: 30rpx;
    line-height: 30rpx;
  }
}
