@import '../common/style/index.less';

@input-medium-vertical-padding: 32rpx;
@input-medium-horizontal-padding: 32rpx;
@input-small-vertical-padding: 24rpx;
@input-small-horizontal-padding: 32rpx;

@input-default-border-color: var(--td-input-default-border-color, @border-color); // 'default' 状态边框颜色
@input-default-focus-border-color: var(
  --td-input-default-focus-border-color,
  @primary-color
); // 'default' 状态聚焦时边框颜色，其他状态聚焦与边框颜色保持一致
@input-success-border-color: var(--td-input-success-border-color, @success-color); // 'success' 状态边框颜色
@input-warning-border-color: var(--td-input-warning-border-color, @warning-color); // 'warning' 状态边框颜色
@input-error-border-color: var(--td-input-error-border-color, @error-color); // 'error' 状态边框颜色

@input-default-text-color: var(--td-input-default-text-color, @font-gray-1); // 'default' 状态输入框文本颜色
@input-success-text-color: var(--td-input-success-text-color, @success-color); // 'success' 状态输入框文本颜色
@input-warning-text-color: var(--td-input-warning-text-color, @warning-color); // 'warning' 状态输入框文本颜色
@input-error-text-color: var(--td-input-error-text-color, @error-color); // 'error' 状态输入框文本颜色

@input-default-tips-color: var(--td-input-default-tips-color, @font-gray-3); // 'default' 状态辅助文本颜色
@input-success-tips-color: var(--td-input-success-tips-color, @success-color); // 'success' 状态辅助文本颜色
@input-warning-tips-color: var(--td-input-warning-tips-color, @warning-color); // 'warning' 状态辅助文本颜色
@input-error-tips-color: var(--td-input-error-tips-color, @error-color); // 'error' 状态辅助文本颜色

@input-bg-color: var(--td-input-bg-color, @bg-color-block); // 输入框背景颜色
@input-placeholder-text-color: var(--td-input-placeholder-text-color, @text-color-placeholder); // 输入框占位符文本颜色
@input-prefix-icon-color: var(--td-input-prefix-icon-color, @font-gray-1); // // 输入框前缀图标颜色
@input-suffix-icon-color: var(--td-input-suffix-icon-color, @font-gray-3); // 输入框后缀图标颜色
@input-label-text-color: var(--td-input-label-text-color, @font-gray-1); // 左侧文本颜色
@input-suffix-text-color: var(--td-input-suffix-text-color, @font-gray-1); // 后置图标前的后置内容文本颜色
@input-disabled-text-color: var(--td-input-disabled-text-color, @text-color-disabled); // 输入框禁用态文本颜色
@input-border-radius: var(--td-input-border-radius, @radius-default); // 边框圆角大小

.@{prefix}-input {
  position: relative;
  display: flex;
  background: @input-bg-color;

  &--layout {
    &-vertical {
      flex-direction: column;
    }
  }

  &__wrap--prefix {
    display: flex;
    padding-right: @spacer-2;
  }

  &__icon--prefix {
    color: @input-prefix-icon-color;
  }

  &__label:not(:empty) {
    min-width: 96rpx;
    max-width: 162rpx;
    font-size: @font-size-m;
    line-height: 48rpx;
    color: @input-label-text-color;

    .@{prefix}-input--layout-vertical & {
      font-size: @font-size-base;
      padding-bottom: 8rpx;
    }
  }

  &__icon--prefix:not(:empty) + &__label:not(:empty) {
    padding-left: 8rpx;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    align-items: center;

    .@{prefix}-input__content {
      display: flex;
      align-items: center;
      width: 100%;
      line-height: 48rpx;
      font-size: @font-size-m;
    }

    &--clearable-icon,
    &--suffix-icon,
    &--suffix {
      flex: 0 0 auto;
      padding-left: @spacer-1;

      &:empty {
        display: none;
      }
    }

    &--prefix,
    &--clearable-icon,
    &--suffix-icon {
      font-size: 48rpx;
      color: @input-suffix-icon-color;
    }

    &--suffix {
      font-size: @font-size-m;
      color: @input-suffix-text-color;
    }
  }

  &__wrap--prefix,
  &__icon--prefix,
  &__label,
  &__tips,
  &__wrap--clearable-icon,
  &__wrap--suffix-icon,
  &__wrap--suffix {
    &:empty {
      display: none;
    }
  }

  &__control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-width: 0; // for flex-shrink in field__button
    margin: 0;
    padding: 0;
    color: @input-default-text-color;
    line-height: inherit;
    text-align: left;
    background-color: transparent;
    border: 0;
    resize: none;
    font-size: inherit;

    &--disabled {
      color: @input-disabled-text-color;
      cursor: not-allowed;
      opacity: 1;
      -webkit-text-fill-color: currentColor; // fix disabled color in iOS
    }

    &--read-only {
      cursor: default;
    }

    &--right {
      text-align: right;
    }

    &--center {
      text-align: center;
    }
  }

  &__placeholder {
    color: @input-placeholder-text-color;
    font-size: @font-size-m;
  }

  &__tips {
    font-size: @font-size-s;
    color: @input-default-tips-color;
    line-height: 40rpx;
    padding-top: 8rpx;
  }

  &--border {
    padding: 24rpx 32rpx;
    border-radius: @input-border-radius;
    border: 3rpx solid @input-default-border-color;
  }
}

.input-status(@status) {
  .@{prefix}-input--@{status} {
    @borderColor: 'input-@{status}-border-color';
    @tipsColor: 'input-@{status}-tips-color';

    &.@{prefix}-input--border {
      border-color: @@borderColor;
    }

    & + .@{prefix}-input__tips {
      color: @@borderColor;
    }
  }
}

// status
.input-status(success);
.input-status(warning);
.input-status(error);

// size
.@{prefix}-input--size-medium {
  padding: @input-medium-vertical-padding @input-medium-horizontal-padding;
}
.@{prefix}-input--size-small {
  padding: @input-small-vertical-padding @input-small-horizontal-padding;
}
