function getInputClass(classPrefix, suffix, align, disabled) {
  var className = [classPrefix + '__control'];

  if (align) {
    className.push(classPrefix + '--' + align);
  }

  if (disabled) {
    className.push(classPrefix + '__control--disabled');
  }
  return className.join(' ');
}

function getDefaultCursorColor(isIos, cursorColor) {
  return isIos ? '#0052d9' : 'default';
}

module.exports = {
  getInputClass: getInputClass,
  getDefaultCursorColor: getDefaultCursorColor,
};
