name: ci
on:
  push:
    branches:
      - develop
      - ci/**

jobs:
  build:
    if: github.repository == 'Tencent/tdesign-miniprogram'
    strategy:
      fail-fast: false
      matrix:
        node: [18, 20, 22, 24]
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/install-dep
        with:
          nodeVersion: ${{ matrix.node }}

      - run: pnpm run build
