name: pkg-pr-new
on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  build:
    if: ${{ github.repository == 'Tencent/tdesign-miniprogram' && !startsWith(github.head_ref, 'release/') }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - uses: ./.github/actions/install-dep

      - run: pnpm exec run-p  build 'uniapp build:npm'

      - run: pnpm run uniapp build:npm

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: pnpm dlx pkg-pr-new publish 'packages/tdesign-miniprogram' 'packages/tdesign-uniapp' 'packages/tdesign-uniapp-chat'
