name: Compressed Size

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  compressed-size:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: preactjs/compressed-size-action@v2
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          install-script: 'npm install --force'
          pattern: './packages/tdesign-miniprogram/miniprogram_dist/**/*.{js,wxs,wxml,json}'
          comment-key: miniprogram

      - name: Install pnpm
        run: npm install -g pnpm@9
      
      - name: Install dependencies
        run: pnpm install

      - uses: preactjs/compressed-size-action@v2
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          build-script: "build:uniapp"
          pattern: './packages/tdesign-uniapp/npm_dist/**/*.{js,ts,vue,less,css}'
          comment-key: uniapp

      - uses: preactjs/compressed-size-action@v2
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          pattern: './packages/tdesign-uniapp-chat/npm_dist/**/*.{js,ts,vue,less,css}'
          build-script: "build:uniapp:chat"
          comment-key: uniapp-chat