name: Compressed Size

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  compressed-size:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: preactjs/compressed-size-action@v2
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          pattern: './miniprogram_dist/**/*.{js,wxs,wxml,json}'
