page {
  background-color: #f4f6f9;
  padding-bottom: 48rpx;
}
@border-width: 2rpx;
@grid-text-font-size: 28rpx;
@grid-text-color: rgba(0, 0, 0, 0.9);
@grid-sencond-text-font-size: 24rpx;
@grid-sencond-color: rgba(0, 0, 0, 0.4);
@gutter-row-height: 32rpx;
@gutter-column-width: 24rpx;
@desc-margin-bottom: 24rpx;

.t-grid-wrapper {
  margin: 32rpx 0;
}
.small-icon-image {
  width: 28px;
  height: 28px;
}
.middle-icon-image {
  width: 32px;
  height: 32px;
}
.large-icon-image {
  width: 48px;
  height: 48px;
}

.desc {
  margin-top: 48rpx;
  margin-bottom: @desc-margin-bottom;
}

.gutter-row {
  height: @gutter-row-height;
}

.gutter-column {
  width: @gutter-column-width;
  display: inline-block;
}

// 以下是覆盖grid组件内的样式
page {
  .t-grid {
    .t-grid-item__text {
      font-size: @grid-text-font-size;
      color: @grid-text-color;
      line-height: 22rpx * 2;
      margin-top: 10rpx * 2;
    }
    .t-grid-item__second_text {
      font-size: @grid-sencond-text-font-size;
      color: @grid-sencond-color;
      line-height: 20rpx * 2;
      margin-top: 2rpx * 2;
    }
  }
  .xs-small-item {
    .t-grid-item__text {
      font-size: 12px;
      line-height: 40rpx;
      margin-top: 16rpx;
    }
  }
  .small-item {
    .t-grid-item__text {
      font-size: 12px;
      line-height: 40rpx;
      margin-top: 20rpx;
    }
  }

  .middle-verticla-padding {
    .t-grid-item__content {
      padding: 16px 8px;
    }
  }

  .middle-item.direction-row {
    .t-grid-item__content {
      flex-direction: row;
      align-items: flex-start;
    }
    .t-grid-item__text_wapper {
      margin-left: 12rpx * 2;
      text-align: left;
    }
    .t-grid-item__text {
      margin-top: 0;
    }
    .t-grid-item__second_text {
      margin-top: 2rpx * 2;
    }
  }
}
